@import '@/assets/css/pDialog.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'

.padoDialog.TransferToChainDialog
  padding: 30px 50px 50px
  @extend .fcbc
  main
    width: 100%
    @extend .fcsc
    h1
      @extend .xlLBlackBoldFont
      padding-top: 34px
    h2
      width: 100%
      font-family: "Inter-Regular"
      color: rgba(0, 0, 0, 0.6)
      font-size: 16px
      line-height: 26px
      padding: 18px 0 70px 0
      text-align: center
    .sourceGroup
      width:100%
      &.scroll
        width: 100%
      ul.dataList 
        gap: 22.66px
        li
          padding: 0
          width: 87px
          gap: 4px
          @extend .fccc
          color: var(--Text-headline, #0A1214)
          text-align: center

          /* Headline 6 */
          font-family: Inter
          font-size: 14px
          font-style: normal
          font-weight: 600
          line-height: 20px /* 142.857% */
          >img
            width: 32px

    
  button.nextBtn
    position: relative
    .tipWrapper
      position: absolute
      content: ''
      top: -40px
      left: 50%
      transform: translateX(-50%)
      width: 100%
      text-align: center
      .errorTip
        width: fit-content
        margin: 0 auto
        padding: 0 12px
        @include backdropMixin(16px,rgba(0, 0, 0, 0.05))
        font-size: 12px
        line-height: 25px
        font-family: 'Inter-Regualr'
        color: rgba(0,0,0,0.4)
@media (max-width: 1680px)
  .padoDialog.TransferToChainDialog
    padding: 36px 42px 32px
    &.attestationUpChainDialog
      padding: 36px 42px 32px
      main
        h1
          padding-top: 26px
      &.polygonIdAttestationUpChainDialog
        main
          h1
            padding-top: 32px
    main
      h1
        padding-top: 28px
        color: var(--Text-headline, #0A1214)
        text-align: center

        /* Headline 2 */
        font-family: Inter
        font-size: 28px
        font-style: normal
        font-weight: 600
        line-height: 36px /* 128.571% */
      h2
        padding: 16px 0 24px 0
        color: var(--Text-body, #515758)
        text-align: center

        /* Text 1 */
        font-family: Inter
        font-size: 14px
        font-style: normal
        font-weight: 400
        line-height: 20px /* 142.857% */
      
      
    button.nextBtn
      height: 48px
      font-family: 'Inter-SemiBold'