
.pDialog.authDialog
  position: absolute
  z-index: 3
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)

  // height: 100%
  // display: flex
  // justify-content: center
  // align-items: center
  // .appContent
  width: 3.125rem
      // height: 800px
  padding-top: .2604rem
  padding-bottom: .3646rem
  background: rgba(255, 255, 255, 0.7)
  backdrop-filter: blur(32px)
  border-radius: .125rem
  display: flex
  flex-direction: column
  align-items: center
  main
    padding-top: .4375rem
    padding-bottom: .3542rem
    h1
      font-family: 'Inter-Bold'
      font-size: .1667rem
      line-height: .2031rem
      color: #000000
      padding-top: .4375rem
      padding-bottom: .4167rem
      text-align: center
    ul.licensorList
      display: flex
      justify-content: space-around
      gap: .0625rem
      li.licensorItem
        border: 2px solid rgba(0, 0, 0, 0.1)
        backdrop-filter: blur(18.1333px)
        border-radius: .0708rem
        display: flex
        justify-content: center
        align-items: center
        width: .3542rem
        height: .3542rem
  button.nextBtn
    width: 2.1875rem
    height: .3125rem
    background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
    border-radius: .0625rem
    display: flex
    justify-content: center
    align-items: center
    gap: .0417rem
    span
      font-family: 'Inter-Bold'
      font-size: .0938rem
      line-height: .1146rem
      color: #000000
