
.pDialog.authDialog
  position: absolute
  z-index: 3
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  width: 600px
      // height: 4.1667rem
  padding-top: 49.9968px
  padding-bottom: 70.0032px
  background: rgba(255, 255, 255, 0.7)
  backdrop-filter: blur(.1667rem)
  border-radius: 24px
  display: flex
  flex-direction: column
  align-items: center
  main
    // padding-top: 84px
    // padding-bottom: 68.0064px
    // h1
    //   font-family: 'Inter-Bold'
    //   font-size: 32.0064px
    //   line-height: 38.9952px
    //   color: #000000
    //   padding-top: 84px
    //   padding-bottom: 80.0064px
    //   text-align: center
    // ul.licensorList
    //   display: flex
    //   justify-content: space-around
    //   // gap: 12px
    //   li.licensorItem
    //     border: .0104rem solid rgba(0, 0, 0, 0.1)
    //     backdrop-filter: blur(.0944rem)
    //     border-radius: 13.5936px
    //     display: flex
    //     justify-content: center
    //     align-items: center
    //     width: 68.0064px
    //     height: 68.0064px
  button.nextBtn
    width: 420px
    height: 60px
    background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
    border-radius: 12px
    display: flex
    justify-content: center
    align-items: center
    gap: 8.0064px
    &:hover,&:active
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
    span
      font-family: 'Inter-Bold'
      font-size: 18.0096px
      line-height: 22.0032px
      color: #000000
.pDialog.authDialog.setSucDialog
  padding-top: 19.008px
  .createAccountDialogHeader
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    gap: 8.0064px
    // padding: 0 30.0096px
    position: relative
    i
      width: 42.0096px
      height: 42.0096px
      border-radius: 50%
      background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
    span
      font-size: 18.0096px
      line-height: 22.0032px
      color: #000000
      font-family: 'Inter-SemiBold'
    img
      width: 24px
  .setPwdDialogHeader
    margin-top: 20.0064px
    width: 100%
    display: flex
    justify-content: center
    // padding: 0 30.0096px
    position: relative
    .headerContent
      background: rgba(0, 0, 0, 0.05)
      border-radius: .5208rem
      padding: 8.0064px 12px
      display: flex
      .iconWrapper
        width: 48px
        height: 48px
        background-color: #fff
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        img
          flex-shink: 1
          flex-frow: 1
          width: 48px
      p
        width: 277.9968px
        padding-left: 8.0064px
        font-family: 'Inter-Regular'
        font-size: 15.9936px
        line-height: 24px
        color: rgba(0,0,0,0.8)

  main
    padding: 138.0096px 0 191.0016px
    display: flex
    flex-direction: column
    align-items: center
    h1
      font-family: 'Inter-Bold'
      font-size: 32.0064px
      line-height: 38.9952px
      color: #000000
      padding-top: 42.0096px
      padding-bottom: 12px
      text-align: center
    h2
      font-family: 'Inter-Regular'
      font-size: 15.9936px
      line-height: 25.9968px
      color: rgba(0,0,0,0.6)
      padding-top: 18.0096px
      text-align: center
    img
      width: 107.0016px
