
.pDialog.authDialog
  position: absolute
  z-index: 3
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  width: 3.125rem
      // height: 800px
  padding-top: .2604rem
  padding-bottom: .3646rem
  background: rgba(255, 255, 255, 0.7)
  backdrop-filter: blur(32px)
  border-radius: .125rem
  display: flex
  flex-direction: column
  align-items: center
  main
    // padding-top: .4375rem
    // padding-bottom: .3542rem
    // h1
    //   font-family: 'Inter-Bold'
    //   font-size: .1667rem
    //   line-height: .2031rem
    //   color: #000000
    //   padding-top: .4375rem
    //   padding-bottom: .4167rem
    //   text-align: center
    // ul.licensorList
    //   display: flex
    //   justify-content: space-around
    //   // gap: .0625rem
    //   li.licensorItem
    //     border: 2px solid rgba(0, 0, 0, 0.1)
    //     backdrop-filter: blur(18.1333px)
    //     border-radius: .0708rem
    //     display: flex
    //     justify-content: center
    //     align-items: center
    //     width: .3542rem
    //     height: .3542rem
  button.nextBtn
    width: 2.1875rem
    height: .3125rem
    background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
    border-radius: .0625rem
    display: flex
    justify-content: center
    align-items: center
    gap: .0417rem
    &:hover,&:active
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
    span
      font-family: 'Inter-Bold'
      font-size: .0938rem
      line-height: .1146rem
      color: #000000
.pDialog.authDialog.setSucDialog
  padding-top: .099rem
  .createAccountDialogHeader
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    gap: .0417rem
    // padding: 0 .1563rem
    position: relative
    i
      width: .2188rem
      height: .2188rem
      border-radius: 50%
      background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
    span
      font-size: .0938rem
      line-height: .1146rem
      color: #000000
      font-family: 'Inter-SemiBold'
    img
      width: .125rem
  .setPwdDialogHeader
    margin-top: .1042rem
    width: 100%
    display: flex
    justify-content: center
    // padding: 0 .1563rem
    position: relative
    .headerContent
      background: rgba(0, 0, 0, 0.05)
      border-radius: 100px
      padding: .0417rem .0625rem
      display: flex
      .iconWrapper
        width: .25rem
        height: .25rem
        background-color: #fff
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        img
          flex-shink: 1
          flex-frow: 1
          width: .25rem
      p
        width: 1.4479rem
        padding-left: .0417rem
        font-family: 'Inter-Regular'
        font-size: .0833rem
        line-height: .125rem
        color: rgba(0,0,0,0.8)

  main
    padding: .7188rem 0 .9948rem
    display: flex
    flex-direction: column
    align-items: center
    h1
      font-family: 'Inter-Bold'
      font-size: .1667rem
      line-height: .2031rem
      color: #000000
      padding-top: .2188rem
      padding-bottom: .0625rem
      text-align: center
    h2
      font-family: 'Inter-Regular'
      font-size: .0833rem
      line-height: .1354rem
      color: rgba(0,0,0,0.6)
      padding-top: .0938rem
      text-align: center
    img
      width: .5573rem
