@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';

.PBack {
  cursor: pointer;
  @include frsc;
  gap: var(--spacing-4);
  @include BodyBody100;
  color: var(--text-tokens-text-primary);
  .icon-DownArrow {
    font-size: var(--spacing-16);
    color: var(--Icon-Tokens-icon-primary);
    transform: rotate(90deg);
    cursor: pointer;
  }
}
