@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/dialog.scss';

.pDialog2.referral-code {
  width: 448px;
  height: 288px;
  .PClose {
    height: 36px;
    .closeBtn {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  main {
    gap: 24px;

    .detailWrapper {
      @include detailWrapper;

      .step {

      }
    }

    .inputDesc {
      font-size: 14px;
      font-weight: 400;
      height: 18px;
      font-family: 'IBM Plex Sans';
      color: var(--text-tokens-text-secondary, #525252);
    }

    .inputTitle {
      font-size: 14px;
      font-weight: 400;
      height: 18px;
    }

    .inputComponent {
      display: flex;
      position: relative;
      width: 400px;
      height: 40px;
      margin-top:3px;

      button {
        position: absolute;
        font-size: 14px;
        font-family: 'IBM Plex Sans';
        color: var(--text-tokens-text-primary, #161616);
        letter-spacing: 0.16px;
        font-weight: 500;
        margin-top: 15px;
        right: 10px;
      }
    }
    .confirmButton{
      margin-top: 4px;
      font-size: 14px;
      font-family: 'IBM Plex Sans';
      width: 400px;
      height: 40px;
    }
  }
}
