@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'
.assetsDetail
  width: $centerWidth
  @extend .fcss
  gap: $lGap
  padding-bottom: 50px
  position: relative
  img.iconBack
    width: $mIconSize
    position: absolute
    top: 20px
    left: calc($mIconSize/-2)
    cursor: pointer
  .iconBackWrapper
    width: $mIconSize
    height: $mIconSize
    background-image: url("../../../assets/img/iconArrowLeft.svg")
    background-size: 100% 100%
    position: absolute
    top: 20px
    left: calc($mIconSize/-2)
    cursor: pointer
    &:hover
      background-image: url("../../../assets/img/iconArrowLeftActive.svg")
  >header
    width: 100%
    padding: 74px 0 49px 0
    @extend .fcsc
    img.avatar
      width: 120px
    h3
      @extend .lLBlackBoldFont
      padding: 24px 0 32px 0
    .descItems
      display: flex
      align-items: center
      @extend .frsc
      gap: $mGap
      .descItem
        @extend .frsc
        .sourceIcon
          margin-right: 12px
          width: $mIconSize
        .clockIcon
          margin-left: 12px
          width: $xxsIconSize
        .label
          @extend .xsSBlackRegularFont
        .value
          @extend .xsFont
          font-family: 'Inter-SemiBold'
          color: $colMBlack
  .sourceStatisticsBar
    width: 100%
    @include backdropMixin
    background: linear-gradient(186.59deg, rgba(255, 255, 255, 0.6) 0.28%, rgba(255, 255, 255, 0.6) 94.82%)
    padding: 46px 135px
    @extend .frsc
    .descItem
      flex: 1
      @extend .fcss
      gap: $xxsGap
      height: 108px
      position: relative
      &::after
        position: absolute
        content: ''
        top: 50%
        right: 0
        transform: translateY(-50%)
        width: 2px
        height: 63px
        background: rgba(0,0,0,0.1)
      &:last-child::after
        display: none
      &:nth-child(n+2)
        align-items: center
      &:nth-child(n+3)
        align-items: flex-end
      .inner
        @extend .fcss
        justify-content: center
        gap: $xxsGap
      .label
        @extend .xsSBlackRegularFont
      .value
        @extend .xxlLBlackBoldFont
      .btcValue
        @extend .sSBlackRegularFont
        color: $colLBlack
  .proofsBar
    width: 100%
    cursor: pointer
    @extend .frbc
    gap: $lGap
    .proofCard
      flex: 1
      @include backdropMixin
      display: flex
      justify-content: center
      align-items: center
      @extend .frcc
      height: 152px
      transition: all 0.5s
      &:hover
        transform: translateY(-20px)
      .cardC
        @extend .lLBlackBoldFont
        @extend .frsc
        gap: $xsGap
        >img
          width: $sIconSize
@media (max-width: 1680px)
  .assetsDetail
    width: $sCenterWidth
    >header
      padding: 32px 0 8px 0
      img.avatar
        width: 80px
      h3
        padding: 24px 0 12px
        font-family: 'Inter-SemiBold'
    .sourceStatisticsBar
      padding: 24px 100px
      .descItem
        // height: 94px
        .label
          font-size: 12px
          line-height: 15px
        .value
          font-size: 36px
          line-height: 44px
          font-family: 'Inter-SemiBold'
        .btcValue
          font-size: 14px
          line-height: 17px
    .proofsBar
      .proofCard
        height: 130px
        &:hover
          transform: translateY(-14px)
        .cardC
          font-size: 22px
          line-height: 27px
          font-family: 'Inter-SemiBold'
