@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'
.assetsDetail
  width: $centerWidth
  @extend .fcss
  gap: $lGap
  padding-bottom: 50px
  position: relative
  .iconBackWrapper
    width: $mIconSize
    height: $mIconSize
    background-image: url('../../../assets/img/iconArrowLeft2.svg')
    opacity: 0.4
    background-size: 100% 100%
    position: absolute
    top: 46px
    left: calc($mIconSize/-2)
    cursor: pointer
    &:hover
      opacity: 0.8
  >header
    width: 100%
    padding: 46px 0 32px 0
    @extend .fcsc
    img.avatar
      width: 92px
    h3
      @extend .lLBlackBoldFont
      font-family: 'Inter-SemiBold'
      margin-top: 24px
    .descItems
      margin-top: 18px
      display: flex
      align-items: center
      @extend .frsc
      gap: $mGap
      .descItem
        @extend .frsc
        .sourceIcon
          margin-right: 12px
          width: 29.24px
        .label
          @extend .xsSBlackRegularFont
        .value
          @extend .xsFont
          font-family: 'Inter-SemiBold'
          color: $colMBlack
  .sourceStatisticsBar
    width: 100%
    @include backdropMixin
    background: linear-gradient(186.59deg, rgba(255, 255, 255, 0.6) 0.28%, rgba(255, 255, 255, 0.6) 94.82%)
    padding: 0 135px
    @extend .frbc
    .separtor
      width: 2px
      height: 63px
      background: rgba(0,0,0,0.1)
    .descItem
      // flex: 1
      @extend .fccs
      gap: $xxsGap
      height: 200px
      // position: relative
      // &::after
      //   position: absolute
      //   content: ''
      //   top: 50%
      //   right: 0
      //   transform: translateY(-50%)
      //   width: 2px
      //   height: 63px
      //   background: rgba(0,0,0,0.1)
      &:last-child
        .inner
          min-width: 135px
        &::after
          display: none
      &:nth-child(n+2)
        align-items: center
      &:nth-child(n+3)
        align-items: flex-end
      .inner
        @extend .fcss
        // justify-content: center
        gap: $xxsGap
        height: 92px
      .label
        @extend .xsSBlackRegularFont
      .value
        @extend .xxlLBlackBoldFont
      .btcValue
        font-family: "Inter-Regular"
        color: $colLBlack
        font-size: 14px
        line-height: 17px
  .tokenTableHeaderRight
    @extend .frcc
    gap: 6px
    width: 143px
    height: 30px
    border: 1px solid $colLBlack
    border-radius: 8px
    font-size: 12px
    line-height: 18px
    font-family: 'Inter-Medium'
    color: $colLBlack
    opacity: 0.4
    &:hover
      opacity: 0.8
    >img
      width: 16px
    

@media (max-width: 1680px)
  .assetsDetail
    width: $sCenterWidth
    .iconBackWrapper
      width: 24px
      height: 24px
      background-image: url('../../../assets/img/iconArrowLeft2.svg')
      opacity: 0.4
      background-size: 100% 100%
      position: absolute
      top: 40px
      left: calc(24px/-2)
    >header
      padding: 40px 0 8px 0
      img.avatar
        width: 80px
      h3
        font-size: 20px
        line-height: 24px
        font-family: 'Inter-Medium'
        margin-top: 12px
      .descItems
        margin-top: 12px
    .sourceStatisticsBar
      padding: 0 100px
      .descItem
        height: 140px
        .label
          font-size: 12px
          line-height: 15px
        .value
          font-size: 36px
          line-height: 44px
          font-family: 'Inter-SemiBold'
        .btcValue
          font-size: 14px
          line-height: 17px
    
