@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'

.sourcesStatisticsBar
  @include backdropMixin
  padding: 0 50px
  header
    @extend .lLBlackBoldFont
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    padding: 32px 0 16px 0
  ul.sources
    padding: 32px 0 16px 0
    flex-wrap: wrap
    // justify-content: space-between
    @extend .frsc
    row-gap: $mIconSize
    column-gap: 123.66px
    li.source
      width: 182.25px
      @extend .fcss
      gap: $sGap
      margin-bottom: 32px
      cursor: pointer
      &:nth-child(4n)
        justify-item: end
        align-self: end
      &.social
        margin-bottom: 15px
      .label
        @extend .sSBlackRegularFont
      .value
        @extend .xlLBlackBoldFont
        display: flex
        align-content: center
        @extend .frsc
        gap: $xxsGap
        img
          width: $mIconSize
      .tip
        font-size: 12px
        line-height: 15px
        font-family: 'Inter-Medium'
        color: rgba(0,0,0,0.7)
        margin-top: -14px
        margin-left: 40px
