@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/dialog.scss';
@import '../../attestationForm.scss';
.pFormWrapper.detailForm {
  --verificationContent-width: 0.92rem;
  --verificationContent-input-width: 1.02rem;
  --verificationContent-select-width: 1.87rem;
}
@media (max-width: 1470px) {
  .pFormWrapper.detailForm {
    --verificationContent-width: 132px;
    --verificationContent-input-width: 147px;
    --verificationContent-select-width: 269px;
  }
}
.pFormWrapper.detailForm {
  gap: var(--spacing-12) !important;
  .formItem {
    @include attestationForm;
    .verificationContent {
      // @include inputSelectWidth(
      //   var(--verificationContent-width),
      //   var(--verificationContent-width)
      // );
      .selectInput {
        min-width: var(--verificationContent-input-width);
        width: auto;
      }
      .selectOptionswrapper {
        width: var(--verificationContent-select-width);
      }
    }
    .verificationValue {
      @include inputSelectWidth(
        var(--verificationContent-width),
        var(--verificationContent-width)
      );
      .selectOptionswrapper {
        .PDropdown {
          max-height: 240px;
          overflow-y: auto;
        }
      }
    }
  }
  .staticItem {
    @include attestationFormItem;
    > label {
      @include frsc;
      gap: var(--spacing-4);
      .infoBtn {
        .iconfont {
          font-size: var(--spacing-12);
          color: var(--icon-tokens-icon-tertiary);
        }
        &:hover {
          .iconfont {
            color: var(--icon-tokens-icon-tertiary);
          }
        }
      }
      .PTooltip {
        .tooltip {
          top: 22px;
          background: var(--layer-tokens-layer-05);
          color: var(--text-tokens-text-inverse);
          left: calc(var(--spacing-8) * -1);
          transform: none;
          &:after {
            background: var(--layer-tokens-layer-05);
            left: var(--spacing-8);
            transform: rotate(45deg);
          }
        }
      }
    }
    .value {
      @include frsc;
      height: var(--spacing-32);
      border-radius: var(--spacing-4);
      background: var(--border-tokens-border-chart);
      padding: var(--spacing-4) var(--spacing-12);
      .account {
        @include BodyBody100;
      }
      .balance {
        @include BodyBody300;
        margin-left: var(--spacing-6);
        color: var(--text-tokens-text-placeholder);
      }
    }
  }
}
