@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/dialog.scss';
@import '../../attestationForm.scss';
.pFormWrapper.detailForm {
  --verificationContent-width: 0.92rem;
  --verificationContent-input-width: 1.02rem;
  --verificationContent-select-width: 1.87rem;
}
@media (max-width: 1470px) {
  .pFormWrapper.detailForm {
    --verificationContent-width: 132px;
    --verificationContent-input-width: 147px;
    --verificationContent-select-width: 269px;
  }
}
.pFormWrapper.detailForm {
  gap: var(--spacing-12) !important;
  .formItem {
    @include attestationForm;
    &.preset {
      @include presetAttestationFormItem;
    }
    .verificationContent {
      // @include inputSelectWidth(
      //   var(--verificationContent-width),
      //   var(--verificationContent-width)
      // );
      .selectInput {
        min-width: var(--verificationContent-input-width);
        width: auto;
      }
      .selectOptionswrapper {
        width: var(--verificationContent-select-width);
      }
    }
    .verificationValue {
      @include inputSelectWidth(
        var(--verificationContent-width),
        var(--verificationContent-width)
      );
      .selectOptionswrapper {
        .PDropdown {
          max-height: 240px;
          overflow-y: auto;
        }
      }
    }
  }
  .staticItem {
    @include presetAttestationFormItem;
  }
}
