@import '@/assets/css/pDialog.sass'
.connectDataSourceDialog
  padding: 30px 50px 50px
  @extend .fcbc
  position: relative
  main
    width: 100%
    .scrollList
      padding-bottom: 16px
      @extend .fcsc
      gap: $xlGap
      // width: 500px
      max-height: 658px
      overflow-y: auto
      overflow-x: hidden
      width: 100%
      padding-right: 0
      &.scroll
        width: calc( 100% + 38px )
        padding-right: 32px
      &::-webkit-scrollbar
        width: 6px
        height: 100px
      &::-webkit-scrollbar-thumb
        background: rgba(0, 0, 0, 0.2)
        border-radius: $xxLBorderRadius
    h1
      @extend .xlLBlackBoldFont
      align-self: center
      margin-top: 2px
    h2
      @extend .sSBlackRegularFont
      line-height: 26px
      margin-top: -14px
    .formItem
      width: 100%
      @extend .fcss
      gap: $xxsGap
      h6
        @extend .frsc
        gap: var(--spacing-4, 4px)
        @extend .mSBlackRegularFont
    .errorTip
      align-self: flex-start
      margin-top: 8px
      @extend .xsSBlackRegularFont
      line-height: 22px
      color: #e12828
      
    .ctipWrapper
      @extend .frcs
      gap: $xsGap
      @extend .xsSBlackRegularFont
      line-height: 22px
      >a
        color: #0066FF
    .loadingSection
      padding-top: 128px
      @extend .fcsc
      gap: 12px
      .loader
        width: 128px
        height: 128px
  button.nextBtn
    height: 58px !important
@media (max-width: 1680px)
  .connectDataSourceDialog
    padding: 36px 42px 32px
    main
      .scrollList
        padding-bottom: 16px
        // gap: $lGap
        gap: 0
        max-height: 494px
        &.scroll
          width: calc( 100% + 34px )
          padding-right: 30px
        &::-webkit-scrollbar
            width: 4px
            height: 280px
        h1
          font-size: 30px
          line-height: 36px
          font-family:'Inter-SemiBold'
          margin-top: 24px
        h2
          font-size: 14px
          line-height: 20px
          margin-top: 20px
          margin-bottom: 0
        .formItem
          margin-top: 24px
          gap: 6px
          h6
            font-size: 14px
            line-height: 17px
          .pInputWrapper
            height: 49px
            .pInput
              padding-left: 25px
              font-size: 16px
              line-height: 19px
              font-family: 'Inter-Medium'
            .suffixIcon
              width: 16px
        
        .errorTip
          font-size: 12px
          line-height: 15px
        .ctipWrapper
          margin-top: 16px
          font-size: 12px 
          line-height: 22px

    button.nextBtn
      height: 48px !important
      font-family: 'Inter-SemiBold' !important      
      
      