
@import '@/assets/css/padoDialog.scss';
.padoDialog.connectDataSourceDialog{
  padding: 36px 42px 32px;
  main{
    gap: var(--spacing-24, 24px);
    .bridgeWrapper{
      align-self: center;
    }
    .scrollList{
      @extend .fcss;
      gap: var(--spacing-24, 24px);
      max-height: 294px;
      overflow-y: auto;
      overflow-x: hidden;
      width: 100%;
      padding-right: 0;
      &.scroll{
        width: calc( 100% + 34px );
        padding-right: 30px;
      }
      &::-webkit-scrollbar{
        width: 4px;
        height: 280px;
      }
      &::-webkit-scrollbar-thumb{
        background: rgba(0, 0, 0, 0.2);
        border-radius: $xxLBorderRadius;
      }
    }
  }
}
  
  
      
      