@import '@/assets/css/pDialog.sass'
.connectDataSourceDialog
  padding: 64px 50px 50px
  @extend .fcbc
  main
    .scrollList
      padding-bottom: 103px
      @extend .fcsc
      gap: $xlGap
      // width: 500px
      max-height: 628px
      overflow-y: auto
      overflow-x: hidden
      width: 100%
      padding-right: 0
      &.scroll
        width: calc( 100% + 38px )
        padding-right: 32px
      &::-webkit-scrollbar
        width: 6px
        height: 300px
      &::-webkit-scrollbar-thumb
        background: rgba(0, 0, 0, 0.2)
        border-radius: 100px
    h1
      @extend .xlLBlackBoldFont
      align-self: center
    h2
      @extend .sSBlackRegularFont
      line-height: 26px
    .formItem
      width: 100%
      @extend .fcss
      gap: $xxsGap
      h6
        @extend .mSBlackRegularFont
    .tipWrapper
      @extend .frcs
      gap: $xsGap
      @extend .xsSBlackRegularFont
      >a
        color: #0066FF
