@import '@/assets/css/pFlex.sass';
@import '../EmptyDataSourceItem/index.scss';
@import '@/assets/css/padoM.scss';
.dataSourceItem {
  --dataSourceCard-padding: 0.1633rem 0.1769rem;
  --dataSourceCard-icon-width: 0.2993rem;
  --dataSourceCard-desc-maxWidth: 1.0884rem;
  --dataSourceCard-tag-height: 0.2041rem;
  --dataSourceCard-date-width: 0.8639rem;
  --dataSourceCard-date-pl: 0.034rem;
  --dataSourceCard-descItem-padding: 0.1497rem 0.0204rem;
  --dataSourceCard-descItem-bh: 0.1769rem;
}
@media (max-width: 1470px) {
  .dataSourceItem {
    --dataSourceCard-padding: 24px 26px;
    --dataSourceCard-icon-width: 44px;
    --dataSourceCard-desc-maxWidth: 160px;
    --dataSourceCard-tag-height: 30px;
    --dataSourceCard-date-width: 127px;
    --dataSourceCard-date-pl: 5px;
    --dataSourceCard-descItem-padding: 22px 3px;
    --dataSourceCard-descItem-bh: 26px;
  }
}
.dataSourceItem {
  @extend .fcss;
  @extend .emptyDataSourceItem;
  gap: var(--spacing-20, 20px);
  position: relative;
  padding: var(--dataSourceCard-padding, 24px 26px);
  &.deactive {
    cursor: default;
  }
  .dataSourceItemT {
    @extend .frbc;
    width: 100%;
    .TLeft {
      @extend .frsc;
      gap: var(--spacing-12, 12px);
      align-items: flex-start;
      &.noLabel {
        align-items: center;
      }
      img {
        width: var(--dataSourceCard-icon-width, 44px);
      }
      .TLeftCon {
        @extend .fcss;
        gap: var(--spacing-12, 12px);
        > h6 {
          @extend .Headline3;
          color: var(--Text-headline, #0a1214);
        }
        .desc {
          @extend .Text2;
          max-width: var(--dataSourceCard-desc-maxWidth, 160px);
          text-overflow: ellipsis;
          overflow: hidden;
          color: var(--Text-body, #515758);
          .value {
            color: var(--Text-headline, #0a1214);
          }
        }
      }
    }
    .TRight {
      @extend .frsc;
      gap: var(--spacing-8, 8px);
      .dateWrapper,
      .tag {
        @extend .frcc;
        gap: var(--spacing-8, 8px);
        height: var(--dataSourceCard-tag-height, 30px);
      }
      .dateWrapper {
        @extend .frsc;
        @extend .Body3;
        gap: var(--spacing-8, 8px);
        border-radius: var(--spacing-100, 100px);
        border: 1px solid var(--Line, #dfe0e0);
        width: var(--dataSourceCard-date-width, 127px);
        box-sizing: border-box;
        position: relative;
        padding-left: var(--dataSourceCard-date-pl, 5px);
        color: var(--Text-hint, #7b7f80);
        > img {
          width: var(--spacing-20, 20px);
        }
      }
      .tag {
        color: #bf9912;
        background: linear-gradient(
          113.11deg,
          rgba(255, 230, 0, 0.2) 19.32%,
          rgba(255, 238, 84, 0.2) 83.47%
        );
        border-radius: var(--spacing-100, 100px);
        padding: 0 var(--spacing-16, 16px);
        @extend .Headline6;
        &.Social {
          color: #4172bb;
          background: linear-gradient(
            113.11deg,
            rgba(0, 133, 255, 0.2) 19.32%,
            rgba(84, 224, 255, 0.2) 83.47%
          );
        }
        &.Identity {
          color: #49a26c;
          background: linear-gradient(
            322deg,
            rgba(113, 253, 195, 0.2) 0.01%,
            rgba(54, 229, 140, 0.2) 100%
          );
        }
      }
    }
  }
  .dataSourceItemC {
    @extend .frbs;
    width: 100%;
    .descItem {
      @extend .fcsc;
      flex: 1;
      gap: var(--spacing-8, 8px);
      padding: var(--dataSourceCard-descItem-padding, 22px 3px);
      position: relative;
      .descT {
        @extend .Text2;
        color: var(--Text-body, #515758);
      }
      .descC {
        @extend .Headline4;
        color: var(--Text-headline, #0a1214);
      }
      &::after {
        position: absolute;
        content: '';
        width: 1px;
        height: var(--dataSourceCard-descItem-bh, 26px);
        background: var(--Line, #dfe0e0);
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
      &:last-child::after {
        display: none;
      }
    }
  }
}
