.pInputWrapper
  width: 100%
  height: 60px
  background: rgba(0, 0, 0, 0.05)
  backdrop-filter: blur(15.9936px)
  border-radius: 12px
  padding-right: 18.0096px
  display: flex
  align-items: center
  .suffixIcon
    width: 24px
    cursor: pointer
.pInput
  width: 100%
  height: 100%
  padding-left: 27.9936px
  font-family: 'Inter-Bold'
  font-size: 18.0096px
  line-height: 22.0032px
  color: #000
  background: transparent
  &::placeholder
    color: rgba(0, 0, 0, 0.4)
