
.pInput
  width: 100%
  line-height: .3125rem
  background: rgba(0, 0, 0, 0.05)
  backdrop-filter: blur(16px)
  border-radius: 12px
  padding-left: .1458rem
  font-family: 'Inter-Bold'
  font-size: .0938rem
  line-height: .1146rem
  color: #000
