@import '@/assets/css/padoDialog.scss';
.padoDialog.attestationDialog {
  @extend .padoFormDialogStyle;
  main {
    .formContent {
      .contItem {
        .value {
          .pSelectWrapper {
            &::-webkit-scrollbar {
              width: 2px;
              height: 110px;
              position: relative;
              right: 5px;
            }

            &::-webkit-scrollbar-thumb {
              background: rgba(0, 0, 0, 0.2);
              border-radius: 100px;
              position: relative;
              left: -15px;
            }

            .pSelect {
              width: 130px;
              height: 30px;
              border-radius: var(--spacing-8, 8px);
              background: var(--Badge, rgba(10, 18, 20, 0.05));
              backdrop-filter: blur(16px);
              .selectInput {
                border-radius: var(--spacing-8, 8px);
                @extend .Body2;
                @extend .frsc;
                gap: 12px;
                background: transparent;
                height: 100%;
                line-height: 30px;
                color: var(--Text-hint, #7b7f80);
                padding: 0 var(--spacing-16, 16px);
                .prefixIcon {
                  width: 16px;
                }
                .suffixIcon {
                  right: 16px;
                }
                .iconfont {
                  color: var(Icon-default, #515758);
                  font-size: 16px;
                }
              }
              .selectOptionswrapper {
                .selectOptions {
                  padding: var(--spacing-8, 8px) 0;
                  width: 100%;
                  gap: 0;
                  max-height: 176px;
                  overflow-y: auto;
                  .selectOption {
                    @extend .Text1;
                    @extend .frsc;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 var(--spacing-16, 16px);
                    gap: var(--spacing-12, 12px);
                    color: var(--Text-body, #515758);

                    border-radius: 0;
                    > img {
                      width: 14px;
                    }
                  }
                }
              }
            }
          }
        }
        .emptyContent {
          width: 100%;
          @extend .fcsc;
          gap: var(--spacing-16, 16px);
          padding-top: 40px;
          > img {
            width: 45px;
          }
          .emptyTips {
            @extend .Text2;
            color: var(--Text-hint, #7b7f80);
            text-align: center;
          }
        }
      }
    }
  }
}
.padoDialog.attestationDialog.assetsAttestationDialog {
  main {
    .formContent {
      .contItem {
        .value {
          @extend .frsc;
          gap: var(--spacing-16, 16px);
          .desc {
            @extend .Body2;
            color: var(--Text-body, #515758);
          }
          .iconfont {
            color: var(--Text-body, #515758);
            font-size: 20px;
            transform: rotate(180deg);
          }
          .con {
            @extend .frcc;
            @extend .Headline5;
            color: var(--Text-headline, #0a1214);

            width: 88px;
            height: 32px;
            border-radius: var(--spacing-8, 8px);
            background: var(--Badge, rgba(10, 18, 20, 0.05));
            backdrop-filter: blur(16px);
          }
        }
        &.contItemAssets {
          .sourceGroup {
            max-height: 252px;
          }
        }
      }
    }
  }
}
