@import '@/assets/css/pVars.sass'
@import '@/assets/css/pDialog.sass'

.attestationDialog
  padding: 64px 50px 50px
  @extend .fcbc
  main
    width: 100%
    @extend .fcss
    gap: $xlGap
    gap: 10px
    h1
      @extend .frsc
      gap: $xxsGap
      align-self: center
      @extend .xlLBlackBoldFont
    .scrollList
      // width: calc( 100% + 38px )
      width: 100%
      height: 400px
      // overflow-y: auto
      // overflow-x: hidden
      &::-webkit-scrollbar
        width: 6px
        height: 300px
      &::-webkit-scrollbar-thumb
        background: rgba(0, 0, 0, 0.2)
        border-radius: $xxLBorderRadius
      .contItem
        @extend .fcss
        gap: 14px
        padding-top: 32px
        &.contItemAssets
          padding-top: 20px
        .label
          font-size: 20px
          line-height: 26px
          font-family: 'Inter-SemiBold'
          color: $colLBlack
        .value
          @extend .frsc
          gap: 0
          .desc
            font-size: 18px
            line-height: 28px
            font-family: 'Inter-Medium'
            color: $colSBlack
            .iconGreater
              width: 20px
              margin: 0 18px
              opacity: 0.6
          
          .con
            padding: 7px 22px
            background: rgba(0, 0, 0, 0.05)
            backdrop-filter: blur(16px)
            border-radius: 8px
            @extend .frcc
            font-size: 16px
            line-height: 19px
            font-family: 'Inter-SemiBold'
            color: $colMBlack
            &.identification
              padding: 5px 13px
          .pSelectWrapper
            .pSelect
              width: 115px
              height: 34px
              .selectInput
                font-size: 14px
                color: rgba(0,0,0,0.4)
                background: rgba(0, 0, 0, 0.05)
                backdrop-filter: blur(16px)
                border-radius: 8px
                padding: 0 15px
                @extend .frsc
                gap: $xxsGap
                &.hasIcon
                  padding: 0 13px
                .suffixIcon
                  right: 13px
                  width: 24px
                .prefixIcon
                  width: 14px
              .selectOptionswrapper
                padding-top: 6px
                max-height: 150px
                overflow-y: auto
                box-shadow: 0px 19px 25px rgba(0, 0, 0, 0.1)
                border-radius: $sBorderRadius
                // width: calc( 100% - 5px )
                &::-webkit-scrollbar
                  width: 2px
                  height: 110px
                  position: relative
                  right: 5px
                &::-webkit-scrollbar-thumb
                  background: rgba(0, 0, 0, 0.2)
                  border-radius: $xxLBorderRadius
                  position: relative
                  left: -15px
                .selectOptions
                  box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12)
                  box-shadow: 0px 19px 25px rgba(0, 0, 0, 0.1)
                  border-radius: $sBorderRadius
                  gap: 6px
                  .selectOption
                    height: 30px
                    border-radius: 8px
                    font-size: 14px
                    // line-height: 15px
                    font-family: 'Inter-Medium'
                    color: $colSBlack
                    @extend .frsc
                    gap: $xxsGap
                    padding-left: 6px
                    &:hover
                      background: rgba(0, 0, 0, 0.05)
                      color: $colLBlack
                    >img
                      width: 14px

      ul.dataList
        width: 100%
        display: flex
        flex-wrap: wrap
        gap: $sGap
        gap: 12px
        li
          cursor: pointer
          width: 116px
          height: 112px
          padding: 23px 12px
          background: rgba(0, 0, 0, 0.05)
          backdrop-filter: blur(18.1333px)
          border-radius: $sBorderRadius
          @extend .fccc
          gap: 10px
          &.excitable,&:not(.disabled):hover
            padding: 21px 10px
            background: #FFFFFF
            border: 2PX solid transparent
            background-clip: padding-box, border-box
            background-origin: padding-box, border-box
            background-image: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #78DEFF, #70FFBA)
            position: relative
          &.disabled
            cursor: not-allowed
          &.active
            padding: 21px 10px
            background: #FFFFFF
            border: 2PX solid transparent
            background-clip: padding-box, border-box
            background-origin: padding-box, border-box
            background-image: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #78DEFF, #70FFBA)
            position: relative
            &:after
              position: absolute
              content: ''
              right: 4px
              bottom: 4px
              width: 18px
              height: 18px
              background: url('@/assets/img/iconSuc.svg')
              background-size: 100% 100%
          img
            width: 40px
          h6
            font-family: 'Inter-SemiBold'
            font-size: 14px
            line-height: 16px
            color: $colLBlack
      .emptyContent
        width: 100%
        @extend .fcsc
        gap: 28px
        padding-top: 58px
        >img
          width: 56px
        >h2
          color: $colSBlack
          text-align: center
          font-family: 'Inter-Reuglar'
          font-size: 14px
          line-height: 24px

  button.nextBtn
    height: 58px !important
    position: relative
    &.gray
      background: rgba(0, 0, 0, 0.05)
      &:hover
       background: rgba(0, 0, 0, 0.05) 
    .tipWrapper
      position: absolute
      content: ''
      top: -40px
      left: 50%
      transform: translateX(-50%)
      width: 100%
      text-align: center
      .errorTip
        width: fit-content
        margin: 0 auto
        padding: 0 12px
        @include backdropMixin(16px,rgba(0, 0, 0, 0.05))
        font-size: 12px
        line-height: 25px
        font-family: 'Inter-Regualr'
        color: rgba(0,0,0,0.4)
@media (max-width: 1680px)
  .attestationDialog
    padding: 48px 42px 32px
    main
      gap: 0
      h1
        font-size: 30px
        line-height: 36px
        font-family:'Inter-SemiBold'
      .scrollList
        width: calc( 100% + 34px )
        height: 312px
        &::-webkit-scrollbar
          height: 250px
        .contItem
          padding-top: 38px
          .label
            font-size: 18px
          .value
            gap: $xxsGap
            .desc
              font-size: 16px
              line-height: 34px
              .iconGreater
                margin: 0 6px 0 14px
        ul.dataList
          column-gap: 21px
          row-gap: 14px
          li
            cursor: pointer
            width: 88px
            height: 88px
            padding: 18px 2px
            &.active
              padding: 16px 0px
              &:after
                right: 6px
                bottom: 6px
                width: 12px
                height: 12px
            img
              width: 28px
            .desc
              padding: 11px 0 1px
              font-family:'Inter-SemiBold'
        .emptyContent
          width: 100%
          @extend .fcsc
          gap: 12px
          padding-top: 36px
          >img
            width: 45px
          >h2
            font-size: 12px
            line-height: 18px
    button.nextBtn
      height: 48px !important
      font-family: 'Inter-SemiBold' !important