@import '@/assets/css/padoDialog.scss';
.padoDialog.attestationDialog {
  --scrollbar-width: 0.0136rem;
  --scrollbar-height: 0.7483rem;
  --scrollbar-right: 0.034rem;
  --scrollbar-thumb-left: -0.102rem;
  --attestationDialog-pSelect-width: 0.8844rem;
  --attestationDialog-padodropdown-maxHeight: 1.1973rem;
  --attestationDialog-emptyContent-img-width: 0.3061rem;
  --assetsAttestationDialog-contItem-con-width: 0.5986rem;
  --assetsAttestationDialog-sourceGroup-maxHeight: 1.7143rem;
}
@media (max-width: 1470px) {
  .padoDialog.attestationDialog {
    --scrollbar-width: 2px;
    --scrollbar-height: 110px;
    --scrollbar-right: 5px;
    --scrollbar-thumb-left: -15px;
    --attestationDialog-pSelect-width: 130px;
    --attestationDialog-padodropdown-maxHeight: 176px;
    --attestationDialog-emptyContent-img-width: 45px;
    --assetsAttestationDialog-contItem-con-width: 88px;
    --assetsAttestationDialog-sourceGroup-maxHeight: 252px;
  }
}
.padoDialog.attestationDialog {
  @extend .padoFormDialogStyle;
  main {
    .formContent {
      .contItem {
        .value {
          .pSelectWrapper {
            &::-webkit-scrollbar {
              width: var(--scrollbar-width, 2px);
              height: var(--scrollbar-height, 110px);
              position: relative;
              right: var(--scrollbar-right, 5px);
            }

            &::-webkit-scrollbar-thumb {
              background: rgba(0, 0, 0, 0.2);
              border-radius: var(--spacing-100, 100px);
              position: relative;
              left: var(--scrollbar-thumb-left, -15px);
            }

            .pSelect {
              width: var(--attestationDialog-pSelect-width, 130px);
              height: var(--spacing-30, 30px);
              border-radius: var(--spacing-8, 8px);
              // background: var(--Badge, rgba(10, 18, 20, 0.05));
              // backdrop-filter: blur(16px);
              .selectInput {
                border-radius: var(--spacing-8, 8px);
                // @extend .Body2;
                // @extend .frsc;
                gap: var(--spacing-12, 12px);
                background: transparent;
                height: 100%;
                line-height: var(--spacing-30, 30px);
                color: var(--Text-hint, #7b7f80);
                padding: 0 var(--spacing-16, 16px);
                // .prefixIcon {
                //   width: 16px;
                // }
                // .suffixIcon {
                //   right: 16px;
                // }
                > .iconfont.arrow {
                  font-size: var(--spacing-16, 16px);
                }
              }
              .selectOptionswrapper {
                .padodropdown {
                  max-height: var(--attestationDialog-padodropdown-maxHeight,176px);
                  overflow-y: auto;
                  .dropdownItem {
                    > img {
                      width: var(--spacing-14, 14px);
                    }
                    .desc {
                      @extend .Text1;
                    }
                  }
                }
                .selectOptions {
                  padding: var(--spacing-8, 8px) 0;
                  width: 100%;
                  gap: 0;
                  .selectOption {
                    @extend .Text1;
                    @extend .frsc;
                    height: var(--spacing-40, 40px);
                    line-height: var(--spacing-40, 40px);
                    padding: 0 var(--spacing-16, 16px);
                    gap: var(--spacing-12, 12px);
                    color: var(--Text-body, #515758);

                    border-radius: 0;
                    > img {
                      width: var(--spacing-14, 14px);
                    }
                  }
                }
              }
            }
          }
        }
        .emptyContent {
          width: 100%;
          @extend .fcsc;
          gap: var(--spacing-16, 16px);
          padding-top: var(--spacing-40, 40px);
          > img {
            width: var(--attestationDialog-emptyContent-img-width, 45px);
          }
          .emptyTips {
            @extend .Text2;
            color: var(--Text-hint, #7b7f80);
            text-align: center;
          }
        }
      }
    }
  }
}
.padoDialog.attestationDialog.assetsAttestationDialog {
  main {
    .formContent {
      .contItem {
        .value {
          @extend .frsc;
          gap: var(--spacing-16, 16px);
          .desc {
            @extend .Body2;
            color: var(--Text-body, #515758);
          }
          > .iconfont {
            color: var(--Text-body, #515758);
            font-size: var(--spacing-20, 20px);
            transform: rotate(180deg);
          }
          .con {
            @extend .frcc;
            @extend .Headline5;
            color: var(--Text-headline, #0a1214);

            width: var(--assetsAttestationDialog-contItem-con-width, 88px);
            height: var(--spacing-32, 32px);
            border-radius: var(--spacing-8, 8px);
            background: var(--Badge, rgba(10, 18, 20, 0.05));
            backdrop-filter: blur(16px);
          }
        }
        &.contItemAssets {
          .sourceGroup {
            max-height: var(
              --assetsAttestationDialog-sourceGroup-maxHeight,
              252px
            );
          }
        }
      }
    }
  }
}
