$outerDiameter: 25vh
$innerDiameter: 100vh
// $minBlur: .8229rem
// $maxBlur: 1.2135rem
$minBlur: .7656rem
$maxBlur: 1.1302rem
$miniBlur: .0833rem
@mixin filterBlur($blur)
  filter: blur($blur)
$test: prod
.centerImg
  width: 100%
  height: 100%
@keyframes layer1Animation
  from
    transform: rotateZ(0)
  to
    transform: rotateZ(360deg)
@keyframes layer2Animation
  from
    transform: rotateZ(0)
  to
    transform: rotateZ(-360deg)
@keyframes layer3Animation
  from
    transform: rotateZ(0)
  to
    transform: rotateZ(-360deg)
@keyframes shapeInnerWrapperAnimation
  from
    transform: translate(-50%,-50%) rotateZ(0)
  to
    transform: translate(-50%,-50%) rotateZ(360deg)
.bgAnimation
  position: absolute
  z-index: -1
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  @if ($test == prod)
    &:before
      position: absolute
      content: ""
      width: 100%
      height: 100%
      z-index: 5
      background: rgba(255, 255, 255, 0.5)
      backdrop-filter: blur($miniBlur)
  .shapeInnerWrapper
    position: absolute
    width: 100vw
    height: 100vh
    // border-radius: 50%
    top: 50%
    left: 50%
    // transform: translate(-50%,-50%) translateY(calc(-1 * $outerDiameter / 2))
    transform: translate(-50%,-50%)
    animation: shapeInnerWrapperAnimation 10s linear 0s infinite
  .layer1,.layer2,.layer3,.layer4
    position: absolute
    img
      @extend .centerImg

  .layer1
    top: -0.3854rem
    right: .5104rem
    z-index: 1
    width: 4.0052rem
    height: 3.9635rem
    img
      // @include filterBlur($maxBlur)
      // transform-origin: 25% 75%
      animation: layer1Animation 10s linear 0s infinite
      @if($test == prod)
        @include filterBlur($maxBlur)
  .layer2
    top: .6979rem
    left: .6771rem
    z-index: 2
    width: 8.9688rem
    height: 6.2708rem
    img
      // @include filterBlur($minBlur)
      animation: layer2Animation 10s linear 0s infinite
      @if($test == prod)
        @include filterBlur($minBlur)

  .layer3
    top: .8542rem
    left: -0.8281rem
    z-index: 3
    width: 2.9635rem
    height: 5.5469rem
    .imgBox
      width: 2.9635rem
      height: 5.5469rem
      border-radius: 50%
      background-color: #7CE5DF
      @include filterBlur($maxBlur)
    img
      // @include filterBlur($maxBlur)
      animation: layer3Animation 10s linear 0s infinite
      @if($test == prod)
        @include filterBlur($maxBlur)

  .layer4
    top: .526rem
    left: .8438rem
    z-index: 4
    width: 2.3177rem
    height: 4.5156rem
    img
      // @include filterBlur($minBlur)
      // transform: rotate(-13.27deg)
      animation: layer1Animation 5s linear 0s infinite
      @if($test == prod)
        @include filterBlur($minBlur)
