@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'
@import '@/components/DataSourceOverview/EmptyDataSourceItem/index.sass'

$dataSourceItemPaddingX: 22.0032px
$dataSourceItemPaddingTop: 32px
$xxLBorderRadius: 100px
.smallFont
  @extend .xsFont
  font-family: 'Inter-Medium'
.dataSourceItem
  @extend .emptyDataSourceItem
  backdrop-filter: blur(64px)
  @extend .fcss
  gap: 30px
  position: relative
  padding: $dataSourceItemPaddingTop
  &.deactive
    cursor: default
  .dataSourceItemT
    margin-right: -8px
    width: 100%
    @extend .frbc
    .TLeft,.TRight
      @extend .frsc
      gap: $xsGap
    .TLeft
      img
        width: 44px
      h6
        @extend .xlLBlackBoldFont
        font-family: 'Inter-SemiBold'
    .TRight
      .dateWrapper
        border: 1PX solid rgba(0, 0, 0, 0.05)
        border-radius: $xxLBorderRadius
        padding: 6px 10px 7px 30px
        background: #E2F8EE
        position: relative
        @extend .smallFont
        color: rgba(0, 0, 0, 0.6)
        &:before
          position: absolute
          content: ''
          left: 5px
          top: 50%
          transform: translateY(-50%)
          width: $xsIconSize
          height: $xsIconSize
          background: url('../../../assets/img/iconSuc.svg')
          background-size: 100% 100%
      .tag
        color: #BF9912
        background: linear-gradient(113.11deg, rgba(255, 230, 0, 0.2) 19.32%, rgba(255, 238, 84, 0.2) 83.47%)
        border-radius: $xxLBorderRadius
        padding: 6px 16px 7px
        @extend .smallFont

        &.social
          color: #4172BB
          background: linear-gradient(113.11deg, rgba(0, 133, 255, 0.2) 19.32%, rgba(84, 224, 255, 0.2) 83.47%)

  .dataSourceItemC
    width: 100%
    @extend .frbs
    gap: $sGap
    .descItem
      flex: 1
      @extend .fcsc
      gap: 6px
      padding: 27px 5px
      .descT
        font-size: 12px
        line-height: 15px
        font-family: 'Inter-Medium'
        color: $colSBlack
      .descC
        @extend .lLBlackBoldFont
        color: rgba(0,0,0,0.8)
