
@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoDialog.scss';
@import '@/assets/css/padoM.scss';
.padoDialog.mysteryBoxRewardsDialog {
  padding: 48px 60px 56px;
  main {
    gap: var(--spacing-32, 32px);
    .content {
      width: 100%;
      @extend .fcss;
      gap: 16px;
      .pTabsNew {
        .tab {
          .con {
            @extend .Body2;
            height: 26px;
            // &:hover,&.active{

            // }
          }
        }
      }
      .rewardWrapper {
        @extend .fccc;
        width: 160px;
        height: 208px;
        gap: var(--spacing-12, 12px);
        border-radius: var(--spacing-8, 8px);
        background: var(--Badge, rgba(10, 18, 20, 0.05));
        &.win {
          gap: 32px;
          border-radius: var(--spacing-4, 4px);
          .descWrapper {
            width: 128px;
            color: #000;
            @extend .Body3;
          }
        }
        > img {
          width: 128px;
          border-radius: 7px;
          background: linear-gradient(
            142deg,
            #86e3ce 15.48%,
            rgba(204, 171, 216, 0.8) 95.68%
          );
        }
        .timeWrapper {
          @extend .Body2;
          @extend .frcc;
          width: 100%;
          height: 22px;
          color: #000;
        }
      }
      .emptyWrapper {
        width: 100%;
        padding-top: 84px;
        @extend .fcsc;
        gap: var(--spacing-16, 16px);
        > img {
          width: 48px;
        }
        > p {
          @extend .Text2;
          color: rgba(0, 0, 0, 0.4);
          text-align: center;
        }
      }
    }
  }
}
