@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoDialog.scss';
@import '@/assets/css/padoM.scss';
.padoDialog.mysteryBoxRewardsDialog {
  --mysteryBoxRewardsDialog-padding: 0.3265rem 0.4082rem 0.381rem;
  --tabCon-height: 0.1769rem;
  --rewardWrapper-width: 1.0884rem;
  --rewardWrapper-height: 1.415rem;
  --descWrapper-width: 0.8707rem;
  --br-7: 0.0476rem;
  --emptyWrapper-pt: 0.5714rem;
}

@media (max-width: 1470px) {
  .padoDialog.mysteryBoxRewardsDialog {
    --mysteryBoxRewardsDialog-padding: 48px 60px 56px;
    --tabCon-height: 26px;
    --rewardWrapper-width: 160px;
    --rewardWrapper-height: 208px;
    --descWrapper-width: 128px;
    --br-7: 7px;
    --emptyWrapper-pt: 84px;
  }
}
.padoDialog.mysteryBoxRewardsDialog {
  padding: var(--mysteryBoxRewardsDialog-padding, 48px 60px 56px);

  main {
    gap: var(--spacing-32, 32px);
    .content {
      width: 100%;
      @extend .fcss;
      gap: var(--spacing-16, 16px);
      .pTabsNew {
        .tab {
          .con {
            @extend .Body2;
            height: var(--tabCon-height, 26px);
            // &:hover,&.active{

            // }
          }
        }
      }
      .rewardWrapper {
        @extend .fccc;
        width: var(--rewardWrapper-width, 160px);
        height: var(--rewardWrapper-height, 208px);
        gap: var(--spacing-12, 12px);
        border-radius: var(--spacing-8, 8px);
        background: var(--Badge, rgba(10, 18, 20, 0.05));
        &.win {
          gap: var(--spacing-32, 32px);
          border-radius: var(--spacing-4, 4px);
          .descWrapper {
            width: var(--descWrapper-width, 128px);
            color: #000;
            @extend .Body3;
          }
        }
        > img {
          width: var(--descWrapper-width, 128px);
          border-radius: var(--br-7, 7px);
          background: linear-gradient(
            142deg,
            #86e3ce 15.48%,
            rgba(204, 171, 216, 0.8) 95.68%
          );
        }
        .timeWrapper {
          @extend .Body2;
          @extend .frcc;
          width: 100%;
          height: var(--spacing-22, 22px);
          color: #000;
        }
      }
      .emptyWrapper {
        width: 100%;
        padding-top: var(--emptyWrapper-pt, 84px);
        @extend .fcsc;
        gap: var(--spacing-16, 16px);
        > img {
          width: var(--spacing-48, 48px);
        }
        > p {
          @extend .Text2;
          color: rgba(0, 0, 0, 0.4);
          text-align: center;
        }
      }
    }
  }
}
