@import '@/assets/css/padoM.scss';
.tipWrapper {
  position: absolute;
  content: '';
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  .errorTip {
    @extend .Text2;
    color: var(--Text-hint, #7b7f80);
    width: fit-content;
    margin: 0 auto;
    padding: 0 40px;
    border-radius: var(--spacing-12, 12px);
    background: var(--Badge, rgba(10, 18, 20, 0.05));
    backdrop-filter: blur(16px);
  }
}
