@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoM.scss';

.pRadioNew {
  @extend .frsc;
  gap: var(--spacing-24, 24px);
  .pRadioItemWrapper {
    .pRadioItem {
      @extend .frsc;
      gap: var(--spacing-12,12px);
      color: var(--Text-body, #515758);
      &:hover {
        color: var(--Text-headeline, #0a1214);
        .iconfont {
          color: var(--Text-headeline, #0a1214);
        }
      }
      &.checked {
        color: var(--Text-body, #515758);
        .iconfont {
          color: var(--Text-headeline, #0a1214);
        }
      }
      .iconfont {
        font-size: var(--spacing-14, 14px);
        color: #515758;
      }
      .checkbox {
        display: none;
      }
      .desc {
        @extend .Body2;
      }
    }
  }
}
