@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/dialog.scss';


.pDialog2.share-div {
  width: 448px;
  height: 454px;

  main {
    display: flex;
    .shareDiv {

      .container {
        width: 400px;
        height: 240px;
        border: 1px;
        border-radius: 8px;
        border: 1px solid #e0e0e0;
        background-color: #E8FFFF;
        position: relative;
        overflow: hidden;

        .green-circle {
          margin-left: 30px;
          position: absolute;
          z-index: 2;
        }

        .white-circle {
          position: absolute;
          margin-left: 210px;
          z-index: 1;

        }

        .blue-rectangle {
          position: absolute;
          z-index: 0;
          margin-left: 240px;
          margin-top: -30px;
          height: 300px;
        }

        .logo {
          position: absolute;
          width: 40px;
          height: 40px;
          margin-left: 24px;
          margin-top: 30px;
        }
        .shareContent{
          position: absolute;
          margin-top: 110px;
          width: 250px;
          .title {
            margin-left: 24px;
            margin-top: -20px;
            font-size: 14px;
            font-weight: 500;
          }
        }
        .downloadApp{
          position: absolute;
          margin-top: 200px;
          margin-left: 24px;
          font-weight: 400;
          font-size: 12px;
          color: #161616
        }
      }

      .shareMedia {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;
        width: 400px;
        text-align:center;
        .shareTitle {
          width: 400px;
          align-content: center;
        }
        .shareIcon{
          margin-top: 15px;
          margin:20px

        }
      }
    }


  }
}

