.illustration {
  --illustration-width: 3.9456rem;
}
@media (max-width: 1470px) {
  .illustration {
    --illustration-width: 580px;
  }
}

aside {
  img.illustration {
    width: var(--illustration-width, 580px);
  }
}
