@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/mixins.scss';
.dataOverview {
  --overviewItem-width: 2.0556rem;
  --overviewItem-first-width: 2.6319rem;
  --overviewItem-second-width: 2.0556rem;
}
// @media (max-width: 1819px) {
//   .dataOverview {
//     --overviewItem-width: 296px;
//     --overviewItem-first-width: 379px;
//     --overviewItem-second-width: 296px;
//   }
// }
@media (max-width: 1365px) {
  .dataOverview {
    --overviewItem-width: 296px;
    --overviewItem-first-width: 379px;
    --overviewItem-second-width: 296px;
  }
}
.dataOverview {
  width: 100%;
  @include fcss;
  gap: var(--spacing-16);
  flex: 1;
  .title {
    width: 100%;
    @include HeadlineH3;
    @include frbc;
    .operations {
      @include frsc;
      gap: var(--spacing-16);
      .PButton {
        height: var(--spacing-32);
      }
    }
  }
  .overviewItems {
    // height: 142px;
    width: 100%;
    @include frsc;
    gap: var(--spacing-16);
    .overviewItem {
      height: 122px;
      padding: var(--spacing-24);
      border-radius: var(--spacing-8);
      border: 1px solid var(--border-tokens-border-primary);
      background: var(--layer-tokens-layer-primary);
      @include fcss;
      gap: var(--spacing-16);
      // width: var(--overviewItem-width);
      &:first-child {
        width: var(--overviewItem-first-width);
      }
      &:nth-child(2) {
        min-width: var(--overviewItem-second-width);
        .content {
          gap: 48px;
        }
      }
      .title {
        @include HeadlineH4;
        @include frsc;
        gap: var(--spacing-8);
      }
      .content {
        width: 100%;
        @include frbc;
        .num {
          @include frsc;
          gap: var(--spacing-16);
          @include NumberTitle;
          .pnl {
            @include Hint;
            .label {
              color: var(--text-tokens-text-secondary);
            }
            .value {
            }
          }
        }
        .val {
          @include Title;
        }
        .from {
          @include frsc;
          gap: var(--spacing-8);
          @include Hint;
          .sources {
            @include frsc;
            gap: var(--spacing-4);
            img {
              width: var(--spacing-24);
            }
          }
        }
      }
    }
  }
}
