@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/mixins.scss';

.dataOverview {
  width: 100%;
  @include fcss;
  gap: var(--spacing-16);
  flex: 1;
  .title {
    width: 100%;
    @include HeadlineH3;
    @include frbc;
    .operations {
      @include frsc;
      gap: var(--spacing-16);
      .PButton{
        height: var(--spacing-32);
      }
    }
  }
  .overviewItems {
    // height: 142px;
    width: 100%;
    @include frsc;
    gap: var(--spacing-16);

    .overviewItem {
      height: 122px;
      padding: var(--spacing-24);
      border-radius: var(--spacing-8);
      border: 1px solid var(--border-tokens-border-primary);
      background: var(--layer-tokens-layer-primary);
      @include fcss;
      gap: var(--spacing-16);
      width: 296px;
      &:first-child {
        width: 379px;
      }
      .title {
        @include HeadlineH4;
        @include frsc;
        gap: var(--spacing-8);
      }
      .content {
        width: 100%;
        @include frbc;
        .num {
          @include frsc;
          gap: var(--spacing-16);
          @include NumberTitle;
          .pnl {
            @include Hint;
            .label {
              color: var(--text-tokens-text-secondary);
            }
            .value {
            }
          }
        }
        .val {
          @include Title;
        }
        .from {
          @include frsc;
          gap: var(--spacing-8);
          @include Hint;
          .sources {
            @include frsc;
            gap: var(--spacing-4);
            img {
              width: var(--spacing-24);
            }
          }
        }
      }
    }
  }
}
