@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'
.padoDialog.ChartOptionsDetailDialog
  padding: 64px 50px 97px
  gap: 0
  justify-content: flex-start
  align-items: flex-start
  >h1
    width: 100%
    color: #000
    text-align: center
    font-family: 'Inter-Bold'
    font-size: 32px
    line-height: 39px
  .descItems
    width: 100%
    display: flex
    flex-direction: column
    gap: 20px
    &.tableHeader
      margin-top: 40px
      margin-bottom: 22px
    &.tableCon
      width: calc( 100% + 38px  )
      height: 484px
      overflow: auto
      // &::-webkit-scrollbar
      //   position: relative
      //   right: 30px
      .descItem
        width: calc( 100% - 38px  )
    .descItem
      width: 100%
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      height: 22px
      .token
        width: 148px
      .value
        width: 130px
        text-align: right
      .ratio
        width: 110px
        text-align: right
      .token,.value,.ratio
        color: #000
        font-family: 'Inter-Medium'
        flex-grow: 1
        flex-shrink: 1
      &.th
        height: 54px
        padding: 16px 0
        border-top: 1px solid rgba(0, 0, 0, 0.10)
        border-bottom: 1px solid rgba(0, 0, 0, 0.10)
        .token,.value,.ratio
          font-size: 18px
          line-height: 22px
      &.tr
        .token,.value,.ratio
          font-size: 16px
          line-height: 19px
        .token
          display: flex
          gap: 8px
          >img
            width: 20px
@media (max-width: 1680px)
  .padoDialog.ChartOptionsDetailDialog
    padding: 48px 42px 79px
    >h1
      font-family: 'Inter-SemiBold'
      font-size: 30px
      line-height: 36px
    .descItems
      gap: 16px
      &.tableHeader
        margin-top: 32px
        margin-bottom: 20px
      &.tableCon
        width: calc( 100% + 34px  )
        height: 364px
        .descItem
          width: calc( 100% - 34px  )
      .descItem
        &.th
          height: 50px
          padding: 15.5px 0
          .token,.value,.ratio
            font-size: 16px
            line-height: 19px
        &.tr
          .token,.value,.ratio
            font-size: 14px
            line-height: 17px
          