@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoM.scss';
@import '@/assets/css/padoDialog.scss';
.padoDialog.ChartOptionsDetailDialog {
  --ChartOptionsDetailDialog-padding: 0.3265rem 0.2857rem 0.5442rem;
  --scrollBar-space: 0.2313rem;
  --tableCon-height: 2.4762rem;
  --descItem-height: 0.1497rem;
  --descItem-token-width: 1.0068rem;
  --descItem-value-width: 0.8844rem;
  --descItem-ratio-width: 0.7483rem;
  --table-th-height: 0.3129rem;
}
@media (max-width: 1470px) {
  .padoDialog.ChartOptionsDetailDialog {
    --ChartOptionsDetailDialog-padding: 48px 42px 80px;
    --scrollBar-space: 34px;
    --tableCon-height: 364px;
    --descItem-height: 22px;
    --descItem-token-width: 148px;
    --descItem-value-width: 130px;
    --descItem-ratio-width: 110px;
    --table-th-height: 46px;
  }
}
.padoDialog.ChartOptionsDetailDialog {
  padding: var(--ChartOptionsDetailDialog-padding, 48px 42px 80px);
  > main {
    gap: var(--spacing-32, 32px);
    .formContent {
      .descItems {
        @extend .fcss;
        width: 100%;
        gap: var(--spacing-16, 16px);
        &.tableHeader {
          margin-bottom: var(--spacing-16, 16px);
        }
        &.tableCon {
          width: calc(100% + var(--scrollBar-space, 34px));
          height: var(--tableCon-height, 364px);
          overflow: auto;
          // &::-webkit-scrollbar
          //   position: relative
          //   right: 30px
          .descItem {
            width: calc(100% - var(--scrollBar-space, 34px));
          }
        }
        .descItem {
          @extend .frbc;
          height: var(--descItem-height, 22px);
          width: 100%;
          .token {
            width: var(--descItem-token-width, 148px);
          }
          .value {
            width: var(--descItem-value-width, 130px);
            text-align: right;
          }
          .ratio {
            width: var(--descItem-ratio-width, 110px);
            text-align: right;
          }
          .token,
          .value,
          .ratio {
            flex-grow: 1;
            flex-shrink: 1;
          }

          &.th {
            height: var(--table-th-height, 46px);
            padding: var(--spacing-12, 12px) 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            .token,
            .value,
            .ratio {
              @extend .Body2;
              color: var(--Text-body, #515758);
            }
          }

          &.tr {
            .token,
            .value,
            .ratio {
              @extend .Text1;
              color: var(--Text-headline, #0a1214);
            }
            .token {
              display: flex;
              gap: var(--spacing-8, 8px);
              > img {
                width: var(--spacing-20, 20px);
              }
            }
          }
        }
      }
    }
  }
}
