@import '@/assets/css/pVars.sass';
@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoM.scss';

.pTabsNewStyle1 {
  --pTabsNew-mb: -0.0136rem;
  --pTabsNew-tab-p: 0 0.0136rem;
  --pTabsNew-tab-height: .3503rem;
  --pTabsNew-tab-bbh: .0204rem;
}
.pTabsNew {
  --pTabsNew-tab-height: 0.1837rem;
  --pTabsNew-tab-bbh: 0.0102rem;
  --pTabsNew-tooltip-bottom: -0.1905rem;
  --pTabsNew-tooltip-padding: 0.0272rem 0.1361rem;
}
@media (max-width: 1470px) {
  .pTabsNewStyle1 {
    --pTabsNew-mb: -2px;
    --pTabsNew-tab-p: 0 2px;
    --pTabsNew-tab-height: 51.5px;
    --pTabsNew-tab-bbh: 3px;
  }
  .pTabsNew {
    --pTabsNew-tab-height: 27px;
    --pTabsNew-tab-bbh: 1.5px;
    --pTabsNew-tooltip-bottom: -28px;
    --pTabsNew-tooltip-padding: 4px 20px;
  }
}

.pTabsNewStyle1 {
  gap: var(--spacing-28, 28px);
  margin-bottom: var(--pTabsNew-mb, -2px);
  .tab {
    padding: var(--pTabsNew-tab-p, 0 2px);
    &:not(.disabled):hover {
      .con {
        color: var(--Button-active, #252c2e);
        .iconfont {
          color: var(--Button-active, #252c2e);
        }
      }
    }
    &.activeTab {
      .con {
        color: var(--Button-active, #252c2e);
        .iconfont {
          color: var(--Button-active, #252c2e);
        }
        // .borderB {
        //   background: linear-gradient(269deg, #70ffba 0.52%, #78deff 100.71%);
        // }
      }
    }
    .con {
      @extend .Body2;
      color: var(--Text-hint, #7b7f80);
      gap: var(--spacing-8, 8px);
      // .borderB {
      //   background: transparent;
      // }
      .iconfont {
        font-size: var(--spacing-18, 18px);
      }
    }
  }
}
.pTabsNew {
  @extend .frsc;
  gap: var(--spacing-4, 4px);
  .tab {
    cursor: pointer;
    @extend .frsc;
    padding: 0 var(--spacing-8, 8px);
    position: relative;

    &.disabled {
      cursor: not-allowed;
    }
    &:not(.disabled):hover {
      .con {
        color: var(--Button-active, #252c2e);
        .iconfont {
          color: var(--Button-active, #252c2e);
        }
      }
    }
    &.activeTab {
      .con {
        color: var(--Button-active, #252c2e);
        .iconfont {
          color: var(--Button-active, #252c2e);
        }
        .borderB {
          background: linear-gradient(269deg, #70ffba 0.52%, #78deff 100.71%);
        }
      }
    }
    .con {
      @extend .frcc;
      @extend .Text1;
      height: var(--pTabsNew-tab-height, 27px);
      gap: var(--spacing-4, 4px);
      position: relative;
      padding: 0 var(--spacing-4, 4px);
      color: var(--Button-default, #515758);
      .iconfont {
        color: var(--Button-default, #515758);
      }
      .iconTooltip {
        width: var(--spacing-12, 12px);
      }
      .borderB {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: var(--pTabsNew-tab-bbh, 1.5px);
        border-radius: calc(var(--pTabsNew-tab-bbh, 1.5px) / 2);
        background: var(--Line, #dfe0e0);
      }
      > img {
        width: var(--spacing-18, 18px);
      }
      .iconfont {
        font-size: var(--spacing-12, 12px);
      }
    }

    .tooltip {
      @extend .Text2;
      @extend .backFilter;
      border-radius: var(--spacing-12, 12px);
      position: absolute;
      bottom: var(--pTabsNew-tooltip-bottom, -28px);
      left: 0;
      padding: var(--pTabsNew-tooltip-padding, 4px 20px);
      color: var(--Text-hint, #7b7f80);
      text-align: center;
      white-space: nowrap;
      z-index: 3;
    }
  }
}
