@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'
$pTabsPadding: 4px
$pTabsBorderRaiuds: 100px
$tabspaddingY: 16px
$tabspaddingX: 32px

$tabFontSize: 18px
$tabLineHeight: 22px

@mixin ptabsMinxin($N)
  padding: $pTabsPadding *$N
  .tab
    border-radius: $pTabsBorderRaiuds*$N
    img
      width: $sIconSize*$N

.pTabsNew
  display: flex
  @extend .frsc
  gap: 4px
  .tab
    
    cursor: pointer
    @extend .frsc
    padding: 0 8px
    position: relative
    &.activeTab
      .con
        .borderB
          background: linear-gradient(269deg, #70FFBA 0.52%, #78DEFF 100.71%)
    &.disabled
      cursor: not-allowed
    &:not(.disabled):hover
      .con
        opacity: 1
      .tooltip
        display: inline-block  
    .con
      height: 25px
      @extend .frcc
      gap: 4px
      color: var(--Button-default, #515758)
      /* Text 1 */
      font-family: Inter-Regualr
      font-size: 14px
      line-height: 20px
      position: relative
      padding: 0 4px
        
      .iconTooltip
        width: 12px
      .borderB
        position: absolute
        bottom: 0
        left: 0
        content: ''
        width: 100%
        height: 1.5px
        border-radius: 1px
        background: var(--Line, #DFE0E0)
    .tooltip
        position: absolute
        bottom: -28px
        left: 0
        padding: 4px 20px   
        border-radius: var(--spacing-12, 12px)
        background: var(--Badge, rgba(10, 18, 20, 0.05))
        backdrop-filter: blur(16px)
        color: var(--Text-hint, #7B7F80)
        text-align: center
        font-size: 12px
        line-height: 16px
        white-space: nowrap
        display: none
        z-index:3       
        

    
      

      
// @media (max-width: 1680px)
//   .pTabsNew
//     gap: 4px
//     .tab
//       height: 45px
//       font-size: 16px
//       line-height: 19px
//       .con
//         gap: 8px
      
