@import '@/assets/css/pVars'
.kycLoadingTip
  width: 100%
  text-align: center
  font-size: 14px
  font-family: 'Inter-Medium'
  line-height: 26px
  color: $colSBlack
  margin-bottom: 3px
.connectWalletDataDialog
  .addDataSourceSucDialog
    main
      h2
        width: 100%
