@import '@/assets/css/pDialog.sass'
 
.padoDialog.reconfirmDialog
  padding: 222px 50px 50px
  @extend .fcbc
  main
    @extend .fcsc
    width:100%
    img.sucImg
      width: 128px
      margin-top: 0
    h1
      @extend .xlLBlackBoldFont
      margin-top: 32px
    h2
      @extend .sSBlackRegularFont
      line-height: 26px
      text-align: center
      width: 100%
      margin-bottom: 18px
  button.nextBtn
    height: 58px !important
    &.gray
      background: rgba(0, 0, 0, 0.05)
      &:hover
       background: rgba(0, 0, 0, 0.05) 
@media (max-width: 1680px)
  .padoDialog.reconfirmDialog
    padding: 156px 42px 32px
    main
      img.sucImg
        width: 80px
      h1
        font-size: 26px
        line-height: 31px
        font-family: 'Inter-SemiBold'
        margin-top: 24px
        
      h2
        font-size: 14px
        line-height: 26px
        margin-bottom: 8px
    button.nextBtn
      height: 48px !important
      font-family: 'Inter-SemiBold'