@import '@/assets/css/padoDialog.scss';
@import '@/components/DataSourceOverview/AddSourceSucDialog/index.scss';
.holderH {
  height: var(--spacing-36, 36px);
}
.padoDialog.reconfirmDialog {
  --resetPwdDialog-padding: 0.2449rem 0.4082rem 0.381rem;
}
@media (max-width: 1470px) {
  .padoDialog.reconfirmDialog {
    --resetPwdDialog-padding: 36px 60px 56px;
  }
}
.padoDialog.reconfirmDialog {
  padding: var(--resetPwdDialog-padding, 36px 60px 56px);
  main{
    header{
      gap: var(--spacing-8,8px);
      h2{
        width: 84%;
      }
    }
  }
}
