@mixin frcc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin pSpiner(
  $width: var(--spacing-16, 16px),
  $height: var(--spacing-16, 16px),
  $borderWidth: 2px,
  $borderColor: var(--layer-tokens-layer-primary, #fff),
  $borderTopColor: var(--icon-tokens-icon-primary, #161616),
  $time: 1s
) {
  width: $width;
  height: $height;
  border-radius: 50%;
  border: $borderWidth solid $borderColor;
  border-top: $borderWidth solid $borderTopColor;
  animation: spin $time linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@mixin Button {
  text-align: center;

  color: var(--Foreground-Primary-default, #fafafa);

  /* text-sm/medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
button.PButton {
  @include frcc;
  @include Button;

  box-sizing: border-box;
  cursor: pointer;
  width: fit-content;
  white-space: nowrap;
  .btnText {
    @include Button;
  }
  &.disabled {
    cursor: not-allowed;
  }
  &.primary,
  &.secondary {
    border-radius: var(--Radius-radius-xs, 4px);
    width: fit-content;
    &.m {
      // padding: var(--spacing-11, 11px) var(--spacing-16, 16px);
      padding: var(--spacing-4, 4px) var(--spacing-8, 8px);
    }
    &.s {
      padding: var(--spacing-7, 7px) var(--spacing-16, 16px);
    }
  }
  &.primary {
    background: var(--Background-Primary-default, #18181b);
    color: var(--text-tokens-text-inverse, #fff);
    &:not(.disabled):hover {
      color: var(--text-tokens-text-hover, #c6c6c6);
    }
    &.disabled {
      color: var(--text-button-disabled, #a8a8a8);
      background: var(--button-tokens-button-disabled, #e0e0e0);
    }
  }
  &.secondary {
    border: 1px solid var(--button-tokens-button-primary, #161616);
    color: var(--button-tokens-button-primary, #161616);
    &:not(.disabled):hover {
      color: var(--text-tokens-text-secondary, #525252);
    }
    &.disabled {
      color: var(--text-button-disabled, #a8a8a8);
      border: 1px solid var(--button-tokens-button-disabled, #e0e0e0);
    }
  }
  &.text,
  &.text2 {
    @include frcc;
    gap: 4px;
    color: var(--text-tokens-text-primary, #161616);
    height: 38px;
    &.text2 {
      height: auto;
    }
    .iconfont {
      font-size: 16px;
      color: var(--icon-tokens-icon-primary);
    }
    &:not(.disabled):hover {
      color: var(--text-tokens-text-secondary, #525252);
      .iconfont {
        color: var(--icon-tokens-icon-secondary);
      }
    }
    &.disabled {
      color: var(--text-tokens-text-disabled, #c6c6c6);
      .iconfont {
        color: var(--icon-tokens-icon-disabled);
      }
    }
  }
  &.icon {
    @include frcc;
    .iconfont {
      font-size: 16px;
      color: var(--icon-tokens-icon-primary, #161616);
    }
    &:not(.disabled):hover {
      .iconfont {
        color: var(--button-tokens-button-primary-hover);
      }
    }
    &.disabled {
      .iconfont {
        color: var(--text-button-disabled);
      }
    }
  }
  .spinnerWrapper {
    @include frcc;
    .loading-spinner {
      @include pSpiner;
    }
  }
}
.dark,
.black {
  button.PButton {
    &.primary {
      background: #fff;
      &.disabled {
        color: var(--text-tokens-text-hover);
        background: var(--button-tokens-button-primary);
      }
    }
    &.secondary {
      border: 1px solid #fff !important;
      color: #fff !important;
      &.disabled {
        color: var(--text-button-disabled);
        border: 1px solid var(--button-tokens-button-disabled);
      }
    }
  }
}
