@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'
.sourceGroupTypes
  width: 100%
  .tabs
    width: 100%
    @extend .frsc
    gap: 12px
    .tab
      @extend .frcc
      width: 72px
      height: 26px
      font-size: 14px
      font-family: 'Inter-Medium'
      border-radius: 8px
      cursor: pointer
      &.Assets
        color: #BF9912
        &.activeTab
          background: linear-gradient(330deg, rgba(255, 238, 84, 0.20) 0%, rgba(255, 238, 84, 0.20) 0.01%, rgba(255, 230, 0, 0.20) 100%)
      &.Social
        color: #4172BB
        &.activeTab
          background: linear-gradient(327deg, rgba(84, 224, 255, 0.20) 0%, rgba(0, 133, 255, 0.20) 100%)
      &.eKYC
        color: #49A26C
        &.activeTab
          background: linear-gradient(322deg, rgba(113, 253, 195, 0.20) 0.01%, rgba(54, 229, 140, 0.20) 100%)