@import '@/assets/css/padoDialog.scss';
.padoDialog.kycVerifyDialog {
  --kycVerifyDialog-padding: 0.2449rem 0.2857rem 0.2177rem;
  --dot-width: 0.034rem;
}
@media (max-width: 1470px) {
  .padoDialog.kycVerifyDialog {
    --kycVerifyDialog-padding: 36px 42px 32px;
    --dot-width: 5px;
  }
}
.padoDialog.kycVerifyDialog {
  padding: var(--kycVerifyDialog-padding, 36px 42px 32px);
  main {
    @extend .fcsc;
    gap: var(--spacing-24, 24px);
    .descContent {
      @extend .fcss;
      gap: var(--spacing-8, 8px);
      // gap: var(--spacing-24, 24px); //
      .title {
        color: #000;
        @extend .Text1;
      }
      .rules {
        @extend .fcss;
        gap: var(--spacing-8, 8px);
        > li {
          @extend .frss;
          @extend .Body3;
          color: #000;
          > i {
            @extend .frcc;
            width: var(--spacing-16, 16px);
            height: var(--spacing-16, 16px);
            > span {
              display: flex;
              width: var(--dot-width, 5px);
              height: var(--dot-width, 5px);
              border-radius: 50%;
              background-color: #000;
            }
          }
          > span {
            flex: 1;
          }
        }
      }
    }
  }
  .bottomSafeTip {
    @extend .Text2;
    color: var(--Icon-default, #a7aaaa);
    text-align: center;
  }
}
