@import '@/assets/css/pDialog.sass'
.padoDialog.kycVerifyDialog
  padding: 64px 50px 50px
  @extend .fcbc
  position: relative
  main
    .qrcodeMain
      margin-top: 26px
      h1
        font-size: 30px
        line-height: 36px
      h2
        font-size: 14px
        line-height: 20px
        padding-top: 16px
        width: 100%
        text-align: left
      .pQRCodeWrapper
        width: 180px
        height: 180px
        background-color: #fff
        padding: 10.5px
        margin-top: 26px
      .defaultImg
        width: 180px
        height: 180px
        background-color: #fff
        >img
          width: 180px
          // width: 159px
    .friendlyRemainer
      padding-top: 25px
      font-size: 12px
      line-height: 20px
      color: $colSBlack
      >h6
        font-family: 'Inter-SemiBold'
      >ul>li
        font-family: 'Inter-Regular'
        @extend .frsc
        >i
          margin: 0 7px
          width:4px
          height: 4px
          border-radius: 50%
          background-color: $colSBlack
        

      
    
  button.nextBtn
    height: 58px !important
@media (max-width: 1680px)
  .padoDialog.kycVerifyDialog
    padding: 48px 42px 32px
    button.nextBtn
      height: 48px !important
      font-family: 'Inter-SemiBold' !important      
      
      