
.credAddWrapper
  .addDataSourceSucDialog
    main
      >h2
        width: 100%
@media (max-width: 1680px)
  .credAddWrapper
    .addDataSourceSucDialog
      padding: 42px 42px 32px
      main
        img.sucImg, img.loadingImg
          margin-top: 68px
        .pLoading
          margin-top: 57px