@import '../Portfolio/index.scss';

.tableSection.token {
  .dataSourceItems {
    .dataSourceItem {
      .mainInfo {
        .left {
          img {
            border-radius: 50%;
          }
        }
        .right {
          gap: 88px;
          .amount,
          .price {
            width: 108px;
            @include fcss;
            gap: var(--spacing-4);
            .label {
              @include Hint;
            }
            .value {
              @include NumberBody100;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1365px) {
  .tableSection.token {
    .dataSourceItems {
      .dataSourceItem {
        .mainInfo {
          .right {
            // gap: 10px;
            gap: 10px;
            .tokensWrapper {
              width: 168px;
              // display: none;
            }
          }
        }
      }
    }
  }
}
