@import '@/assets/css/pFlex.sass'
.pQRCodeWrapper
  @extend .frcc
  >svg
    width: 350px !important
    height: 350px !important
@media (max-width:1680px)
  .pQRCodeWrapper
    @extend .frcc
    >svg
      width: 250px !important
      height: 250px !important
