@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/mixins.scss';
.supportSttestationCards {
  width: 100%;
  @include frbs;
  flex-wrap: wrap;
  row-gap: var(--spacing-16);
  .supportSttestationCard {
    width: 363px;
    height: 164px;
    padding: var(--spacing-24);
    @include frbc;
    row-gap: var(--spacing-20);
    @include clickableCard;
    .left,
    .right {
      @include fcbs;
      height: 100%;
    }
    .left {
      > img {
        width: var(--spacing-40);
      }
      .introTxt {
        @include fcss;
        .title {
          @include BodyBody100Semibold;
          color: var(--text-tokens-text-primary);
        }
        .desc {
          @include BodyBody300;
          color: var(--text-tokens-text-secondary);
        }
      }
    }
    .right {
      align-items: flex-end;
      .provider {
        @include Hint;
        color: var(--text-tokens-text-tertiary);
      }
      .createBtn {
        height: var(--spacing-16);
        @include TextLinkLink;
      }
    }
    .introTxt {
      @include fcss;
      gap: var(--spacing-8);
      color: var(--text-tokens-text-primary);
      .title {
        @include HeadlineH2;
        @include frsc;
        gap: var(--spacing-8);
        .iconfont {
          font-size: var(--spacing-16);
        }
      }
      .desc {
        @include frsc;
        gap: var(--spacing-24);
        @include BodyBody100;
      }
    }

    .detailBtn {
      width: fit-content;

      > span {
        line-height: var(--spacing-18);
      }
      .iconfont {
        align-self: flex-start;
      }
    }
  }
}
