@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/dialog.scss';

.pDialog2.reword-history {
  width: 528px;
  height: 650px;
  line-height: 42px;

  main {
    .PClose {
      height: 36px;
      .closeBtn {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
    .detailWrapper {
      @include detailWrapper;

      .step {

      }
    }

    .tableDiv {
      height: 480px;
      table {
        width: 480px;
        border: 1px solid var(--neutral-color-gray-30);
        border-left: none;
        border-right: none;
        text-align: left;
        font-size: 14px;
        font-weight: 400;
        font-family: 'IBM Plex Sans';
        overflow: auto;
        th {
          color: var(--text-tokens-text-tertiary, #6f6f6f);
          border-left: none;
          border-right: none;
          border-top: 1px solid var(--neutral-color-gray-30);
          border-bottom: 1px solid var(--neutral-color-gray-30);
        }

        td {
          height: 43.5px;
          border-left: none;
          border-right: none;
          border-top: 1px solid var(--neutral-color-gray-30);
          border-bottom: 1px solid var(--neutral-color-gray-30);
        }
      }

    }


    .pageComponent {
      width: 480px;
      float: right;
      display: inline-block;
    }

  }
}

.ant-pagination > .ant-pagination-item-active {
  color: var(--text-tokens-text-tertiary, #6f6f6f);
  background-color: var(--neutral-color-gray-15, #ececec);
  border: none;
}

.ant-pagination > .ant-pagination-item-active a {
  color: var(--text-tokens-text-tertiary, #6f6f6f);
}

