@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/dialog.scss';
@import '../../attestationForm.scss';
.pFormWrapper.detailForm3 {
  --verificationContent-width: 132px;
  --verificationContent-input-width: 147px;

  --verificationContent-select-width: 162px;
  --verificationValue-select-width: 162px;
  gap: var(--spacing-12) !important;
  .formItem {
    @include attestationForm;
    &.preset {
      @include presetAttestationFormItem;
    }
    .verificationContent {
      .selectInput {
        width: fit-content;
      }
      .selectOptionswrapper {
        width: var(--verificationContent-select-width);
      }
    }
    .verificationValue {
      .selectInput {
        width: fit-content;
      }
      .selectOptionswrapper {
        width: var(--verificationValue-select-width);

        .PDropdown {
          max-height: 240px;
          overflow-y: auto;
        }
      }
    }
  }
  .staticItem {
    @include presetAttestationFormItem;
  }
}
