@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'
.credListWrapper
  margin: 32px auto 0
  width: 100%
  padding-bottom: 83px
  width: $centerWidth
  .credList
    @extend .frss
    flex-wrap: wrap
    gap: 24px
  .emptyDataSourceItem
    width: 384px
    height: 162px
    .emptyDataSourceItemC
      font-size: 24px
      line-height: 29px
      >img
        width: 24px
@media (max-width: 1680px)
  .credListWrapper
    margin: 24px auto 0
    width: $sCenterWidth
    .emptyDataSourceItem
      width: 328px
      height: 138px
      .emptyDataSourceItemC
        font-size: 22px
        line-height: 27px
        >img
          width: 18px
      