@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'
.credListWrapper
  margin-top: 24px
  width: 100%
  .credList
    @extend .frss
    flex-wrap: wrap
    gap: 24px