@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'
.credListWrapper
  margin-top: 24px
  width: 100%
  padding-bottom: 83px
  .credList
    @extend .frss
    flex-wrap: wrap
    gap: 24px
  .emptyDataSourceItem
    width: 328px
    height: 138px
    .emptyDataSourceItemC
      font-size: 22px
      line-height: 27px
      >img
        width: 18px
