
@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pDialog.sass'

.qrcodeMain
  width: 100%
  @extend .fccc
  h1
    @extend .frsc
    gap: $xxsGap
    @extend .xlLBlackBoldFont
    text-align: center
  h2
    font-family: "Inter-Regular"
    color: rgba(0, 0, 0, 0.6)
    font-size: 16px
    line-height: 26px
    padding-top: 18px
    width: 100%
    text-align: center
  .pQRCodeWrapper,.defaultImg
    margin-top: 32px
  .defaultImg
    width: 350px
    height: 350px
    background-color: #f2f2f2
    @extend .frcc
    >img
      width: 100px
@media (max-width: 1680px)
  .qrcodeMain
    h1
      font-size: 26px
      line-height: 31px
      font-family:'Inter-SemiBold'
      color:$colLBlack
      // padding-top: 27px
    h2
      font-size: 12px
      line-height: 18px
      font-family: 'Inter-Regular'
      color: $colSBlack
      padding-top: 12px
    .pQRCodeWrapper,.defaultImg
      margin-top: 24px
    .defaultImg
      width: 280px
      height: 280px
      >img
        width: 80px
    