@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoDialog.scss';
.qrcodeMain {
    --qrcodeMain-defaultImgWrapper-width: 1.7007rem;
    --qrcodeMain-defaultImg-width: .6803rem;
  }
@media (max-width:1470px) {
  .qrcodeMain {
    --qrcodeMain-defaultImgWrapper-width: 250px;
    --qrcodeMain-defaultImg-width: 100px;
  }
}
.qrcodeMain {
  width: 100%;
  @extend .fccc;
  gap: var(--spacing-24,24px);
  > header {
    @extend .padoDialogHeaderStyle;
  }
  
  .defaultImg {
    width: var(--qrcodeMain-defaultImg-width,250px);
    height: var(--qrcodeMain-defaultImg-width,250px);
    background-color: #f2f2f2;
    @extend .frcc;
    > img {
      width: var(--qrcodeMain-defaultImg-width,100px);
    }
  }
}
