@import '@/assets/css/pFlex.sass'
.bridgeWrapper
  @extend .frcc
  gap: 27px
  .from,.to
    width: 64px
    height: 64px
    background: #FFFFFF
    border: 1PX solid rgba(0, 0, 0, 0.1)
    border-radius: 50%
    @extend .frcc
  .from img
    width: 28.44px
  .to img
    width: 43px
  .connectSymbol
    widht: 24px
@media (max-width: 1680px)
  .bridgeWrapper
    gap: 24px
    .from,.to
      width: 46px
      height: 46px
    .from img
      width: 20.44px
    .to img
      width: 30.91px