@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoM.scss';
.bridgeWrapper {
  --from-width: 0.3129rem;
  --from-img-width: 0.139rem;
  --to-img-width: 0.2103rem;
}
@media (max-width: 1470px) {
  .bridgeWrapper {
    --from-width: 46px;
    --from-img-width: 20.44px;
    --to-img-width: 30.91px;
  }
}
.bridgeWrapper {
  @extend .frcc;
  gap: var(--spacing-24, 24px);
  .from,
  .to {
    @extend .frcc;
    width: var(--from-width, 46px);
    height: var(--from-width, 46px);
    background: var(--bg-default, #fff);
    border: 1px solid var(--Line, #dfe0e0);
    border-radius: 50%;
  }
  .from img {
    width: var(--from-img-width, 20.44px);
  }
  .to img {
    width: var(--to-img-width, 30.91px);
  }

  .iconfont {
    font-size: var(--spacing-24, 24px);
    color: var(--Icon-default);
  }
}
