
.pDialog.authDialog
  position: absolute
  z-index: 3
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  width: 600px
      // height: 4.1667rem
  padding-top: 49.9968px
  padding-bottom: 70.0032px
  background: rgba(255, 255, 255, 0.7)
  backdrop-filter: blur(32.0064px)
  border-radius: 24px
  display: flex
  flex-direction: column
  align-items: center
  main
    // padding-top: 84px
    // padding-bottom: 68.0064px
    // h1
    //   font-family: 'Inter-Bold'
    //   font-size: 32.0064px
    //   line-height: 38.9952px
    //   color: #000000
    //   padding-top: 84px
    //   padding-bottom: 80.0064px
    //   text-align: center
    // ul.licensorList
    //   display: flex
    //   justify-content: space-around
    //   // gap: 12px
    //   li.licensorItem
    //     border: .0104rem solid rgba(0, 0, 0, 0.1)
    //     backdrop-filter: blur(.0944rem)
    //     border-radius: 13.5936px
    //     display: flex
    //     justify-content: center
    //     align-items: center
    //     width: 68.0064px
    //     height: 68.0064px
  button.nextBtn
    width: 420px
    height: 60px
    background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
    border-radius: 12px
    display: flex
    justify-content: center
    align-items: center
    gap: 8.0064px
    &:hover,&:active
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
    span
      font-family: 'Inter-Bold'
      font-size: 18.0096px
      line-height: 22.0032px
      color: #000000
.pDialog.authDialog.setPwdDialog
  padding-top: 19.008px
  .setPwdDialogHeader
    width: 100%
    display: flex
    justify-content: center
    // padding: 0 30.0096px
    position: relative
    .iconBack
      position: absolute
      content: ''
      top: 50%
      transform: translateY(-50%)
      left: 32.0064px
      width: 32.0064px
      height: 32.0064px
      background: url('../../assets/img/iconArrowLeft.svg')
      background-size: 100% 100%
      cursor: pointer
    .headerContent
      background: rgba(0, 0, 0, 0.05)
      border-radius: .5208rem
      padding: 8.0064px 12px
      display: flex
      .iconWrapper
        width: 48px
        height: 48px
        background-color: #fff
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        img
          flex-shink: 1
          flex-frow: 1
          width: 48px
      p.address
        width: 277.9968px
        padding-left: 8.0064px
        font-family: 'Inter-Regular'
        font-size: 15.9936px
        line-height: 24px
        color: rgba(0,0,0,0.8)
        word-break: break-word
  main
    padding: 45.0048px 0 72px
    display: flex
    flex-direction: column
    align-items: flex-start
    h1
      font-family: 'Inter-Bold'
      font-size: 32.0064px
      line-height: 38.9952px
      color: #000000
      padding-top: 0
      padding-bottom: 0
      text-align: center
    h2
      font-family: 'Inter-Regular'
      font-size: 13.9968px
      line-height: 16.992px
      color: rgba(0,0,0,0.6)
      padding-top: 18.0096px
      text-align: center
    h6
      font-family: 'Inter-Regular'
      font-size: 18.0096px
      line-height: 22.0032px
      color: rgba(0,0,0,0.6)
      padding: 32.0064px 0 8.0064px
    .validateWrapper
      padding-top: 12px
      .descTitle
        font-family: 'Inter-Regular'
        font-size: 13.9968px
        line-height: 22.0032px
        color: rgba(0, 0, 0, 0.6)
        padding-bottom: 6.0096px
      ul.descItems
        display: flex
        flex-direction: column
      .descItem
        font-family: 'Inter-Regular'
        color: rgba(0, 0, 0, 0.6)
        font-size: 13.9968px
        line-height: 27.9936px
        padding-left: 24px
        position: relative
        &.checked
          color: #000
          font-family: 'Inter-Bold'
          &::before
            background: url(../../assets/img/iconChecked.svg)
            background-size: 100% 100%
            width: 18.0096px
            height: 18.0096px
            position: absolute
            content: ''
            top: 50%
            left: 0
            transform: translateY(-50%)
    .errorTip
      padding-top: 12px
      font-family: 'Inter-Regular'
      font-size: 13.9968px
      line-height: 22.0032px
      color: rgba(255, 0, 0, 0.8)
    .networkItem
      width: 72px
      height: 72px
      border: .0052rem solid rgba(0, 0, 0, 0.1)
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      img
        flex-shrink: 1
    .dividerWrapper
      display: flex
      justify-content: space-between
      align-items: center
      margin: 24.9984px 0 25.9968px
      width: 100%
      i
        flex: 1
        width: 100%
        height: .0052rem
        background-color: #D9D9D9
      .divider
        font-family: 'Inter-Regular'
        font-size: 13.9968px
        line-height: 35.0016px
        color: rgba(0,0,0,0.6)
        width: 48px
