
$illustrationWidth: 5.2188rem
$illustrationWidth: 1003px
$illustrationHeight: 4.6979rem
$illustrationHeight: 902px

aside
  transform-style: preserve-3d
  perspective: 3000px
  img
    width: $illustrationWidth
    transtion: all .1s
