@import '@/assets/css/pDialog.sass'
@import '@/assets/css/pVars.sass'
@import '@/assets/css/pDialog.sass'
@import '@/components/Cred/QrCodeDialog/qrCode.sass'

.qrcodeDialog.scanDialog
  main
    .exportWrapper
      @extend .frcc
      gap: $xsGap
      font-size: 14px
      line-height: 18px
      font-family:'Inter-Medium'
      color: $colLBlack
      opacity: 0.4
      padding-top: 28px
      cursor: pointer
      &:hover
        opacity: 0.8
      >img.iconExport
        width: 20px
    

  &.polygonIdScanDialog
    main
      .qrcodeMain
        margin-top: 32px