@import '@/assets/css/pDialog.sass'
@import '@/assets/css/pVars.sass'
@import '@/assets/css/pDialog.sass'
@import '@/components/Cred/QRCodeDialog/qrCode.sass'

.qrcodeDialog.scanDialog
  main
    .exportWrapper
      @extend .frcc
      gap: 24px
      font-size: 16px
      line-height: 26px
      font-family:'Inter-Medium'
      color: $colLBlack
      opacity: 0.4
      padding-top: 24px
      cursor: pointer
      &:hover
        opacity: 0.8
      >img.iconExport
        width: 24px
  &.polygonIdScanDialog
    main
      .qrcodeMain
        margin-top: 32px
        
@media (max-width:1680px)
  .qrcodeDialog.scanDialog
    main
      .exportWrapper
        gap: $xsGap
        font-size: 14px
        line-height: 18px
        
        padding-top: 13px
        
        >img.iconExport
          width: 20px
    &.polygonIdScanDialog
      main
        .qrcodeMain
          margin-top: 32px
          