@import '@/assets/css/padoDialog.scss';
@import '@/components/Cred/QRCodeDialog/qrCode.scss';
.qrcodeDialog.scanDialog {
  main {
    gap: var(--spacing-24, 24px);
    .exportWrapper {
      align-self: center;
      @extend .frcc;
      gap: var(--spacing-8, 8px);
      color: var(--Icon-default, #a7aaaa);
      @extend .Text1;
      cursor: pointer;
      &:hover {
        color: var(--Button-active, #252c2e);
        .iconfont {
          color: var(--Button-active, #252c2e);
        }
      }
      .iconfont {
        color: var(--Icon-default, #a7aaaa);
      }
      // > img.iconExport {
      //   width: 16px;
      // }
    }
  }
}
