@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';

.pSwitch {
  width: 44px;
  height: var(--spacing-24);
  @include frsc;
  background: var(--Layer-Tokens-layer-02);
  .iconfont{
    font-size: var(--spacing-20);
  }
}
