@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/mixins.scss';

.originTip {
  margin-top: -24px;
  @include frsc;
  gap: var(--spacing-8);
  .iconfont {
    font-size: var(--spacing-16);
    color: #1192e8;
  }
  > p {
    @include BodyBody1;
  }
}
