@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'

.adSpace
  width: 100%
  height: 200px
  @extend .frbc
  padding: 0 53px 0 48px
  border-radius: 24px
  background: linear-gradient(270deg, #ABFFE1 0%, #78E1FB 100%)
  &.adSpace1
    .left
      >img
        width: 126px
        position: relative
        top: -47px
  .left
    @extend .frss
    gap: 30px
    height: 100%
    .bannerContent
      @extend .fccs
      gap: 16px
      padding-top: 30px
      .ct
        font-size: 32px
        line-height: 39px
        
        color: #000

        /* Headline 3 */
        font-family: Inter
        
        font-style: normal
        font-weight: 600
        
      .cn
        @extend .fccs
        gap: 8px
        color: var(--Text-body, #515758)

        /* Text 1 */
        font-family: Inter
        font-size: 14px
        font-style: normal
        font-weight: 400
        line-height: 20px
        >p
          @extend .frsc
          .lable
            color: $colSBlack
          .value
            color: $colMBlack
  .right
    width: 161px
    height: 56px
    border-radius: 12px
    background-color: #FFE603
    @extend .frcc
    gap:8px
    font-size: 18px
    line-height: 22px
    font-family: 'Inter-SemiBold'
    .suffix
      width: 24px
    &:hover
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), #FFE603
@media (max-width:1680px)
  .adSpace
    padding: 0 60px
    &.adSpace1
      height: 138px
      .left
        gap: 40.87px
        >img
          width: 79.13px
          top: -18px
        .bannerContent
          .ct
            font-size: 24px
            line-height: 32px
          .cn
            gap: 4px
      .right
        width: 132px
        height: 48px
        color: var(--Text-headline, #0A1214)
        /* Headline 5 */
        font-family: Inter
        font-size: 16px
        font-style: normal
        font-weight: 600
        line-height: 24px
        .suffix
          width: 20px
      