@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoM.scss';

.adSpace.luckyDraw {
  background: var(
    --Linear,
    linear-gradient(269deg, #70ffba 0.52%, #78deff 100.71%)
  );
  .left {
    .bannerContent {
      gap: var(--spacing-16, 16px);
      .cn {
        @extend .fcss;
        gap: var(--spacing-4, 4px);
      }
    }
  }
  // .pButton {
  //   @extend .Headline5;
  //   border-radius: var(--spacing-12, 12px);
  //   background: var(--yellow-y-300, #ffe603);
  //   .iconfont {
  //     font-size: var(--spacing-20,20px);
  //     color: var(--Text-headline, #0a1214);
  //   }
  //   &:hover,&.active {
  //     background: var(--yellow-y-200, #ffea2e);
  //   }
  // }
  .pButton.simple:not(.disabled) {
    color: var(--Text-headline, #0a1214);
    border: 1px solid var(--Text-headline, #0a1214);
    background-color: transparent;
    &:hover,
    &:active {
      background-color: transparent;
      background: var(--Text-headline, #0a1214);
      color: var(--bg-default, #fff);
    }
    
  }
}
