@import '@/assets/css/pVars.sass'
@import '@/assets/css/pDialog.sass'

.dataSourcesDialog
  padding: 64px 50px 50px
  @extend .fcbc
  main
    width: 100%
    @extend .fcss
    gap: $xlGap
    h1
      @extend .frsc
      gap: $xxsGap
      align-self: center
      @extend .xlLBlackBoldFont
      img
        width: 32px
        cursor: pointer
    h2
      font-family: 'Inter-Regular'
      color: $colSBlack
      font-size: 16px
      line-height: 26px
      align-self: center
    .SourceGroups
      margin-top: -8px
  button.nextBtn
    height: 58px !important
@media (max-width: 1680px)
  .dataSourcesDialog
    width: 500px
    height: 622px
    padding: 48px 42px 32px
    main
      gap: 24px
      h1
        font-size: 30px
        line-height: 36px
        font-family:'Inter-SemiBold'
        img
          width: 30px
      h2
        font-size: 14px
        line-height: 20px
        margin-top: -4px
      
    button.nextBtn
      height: 48px !important
      font-family: 'Inter-SemiBold' !important