@import '@/assets/css/pDialog.sass'

.dataSourcesDialog
  padding: 64px 50px 50px
  @extend .fcbc
  main
    width: 100%
    @extend .fcss
    gap: $xlGap
    h1
      @extend .frsc
      gap: $xxsGap
      align-self: center
      @extend .xlLBlackBoldFont
      img
        width: 32px
        cursor: pointer
    h2
      @extend .sSBlackRegularFont
      line-height: 26px
    .scrollList
      width: calc( 100% + 38px )
      height: 332px
      overflow-y: auto
      overflow-x: hidden

      &::-webkit-scrollbar
        width: 6px
        height: 300px
      &::-webkit-scrollbar-thumb
        background: rgba(0, 0, 0, 0.2)
        border-radius: 100px
      ul.dataList
        width: 100%
        display: flex
        flex-wrap: wrap
        gap: $sGap
        li
          cursor: pointer
          width: 156px
          height: 150px
          padding: 28px 12px
          background: rgba(0, 0, 0, 0.05)
          backdrop-filter: blur(18.1333px)
          border-radius: 12px
          @extend .fccc
          &.active
            padding: 26px 10px
            background: #FFFFFF
            border: 2PX solid transparent
            background-clip: padding-box, border-box
            background-origin: padding-box, border-box
            background-image: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #78DEFF, #70FFBA)
            position: relative
            &:after
              position: absolute
              content: ''
              right: 6px
              bottom: 6px
              width: 24px
              height: 24px
              background: url('../../../assets/img/iconSuc.svg')
              background-size: 100% 100%
          img
            width: 48px
          .desc
            font-size: 14px
            line-height: 16px
            font-family: 'Inter-Bold'
            color: $colLBlack
            padding: 13px 0 1px
            max-width: 132px
            // text-align: center
            text-overflow: ellipsis
            overflow: hidden
            white-space: nowrap
            position: relative
          .desc[title]:hover:after
            position: absolute
            content: attr(title)
            z-index: 99999
            padding: 6px 12px
            left: -16px
            top: -44px
              // white-space: nowrap
            background: $colSBlack
            backdrop-filter: blur(16px)
            border-radius: 12px
            color: #fff
            font-size: 14px
            line-height: 16px
          h6
            font-family: 'Inter-Regular'
            font-size: 12px
            line-height: 16px
            color: $colSBlack
  button.nextBtn
    height: 58px
