@import '@/assets/css/padoDialog.scss';
@import '@/assets/css/padoM.scss';

.padoDialog.dataSourcesDialog {
  main{
    gap: var(--spacing-24, 24px);
    h1{
      position: relative;
      .iconfont{
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: calc(var(--spacing-32,32px) * -1);
        transform: translateY(-50%);
        font-size: var(--spacing-24,24px);
      }
    }
  }
}