
.pDialog.authDialog
  position: absolute
  z-index: 3
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  width: 3.125rem
      // height: 800px
  padding-top: .2604rem
  padding-bottom: .3646rem
  background: rgba(255, 255, 255, 0.7)
  backdrop-filter: blur(32px)
  border-radius: .125rem
  display: flex
  flex-direction: column
  align-items: center
  main
    // padding-top: .4375rem
    // padding-bottom: .3542rem
    // h1
    //   font-family: 'Inter-Bold'
    //   font-size: .1667rem
    //   line-height: .2031rem
    //   color: #000000
    //   padding-top: .4375rem
    //   padding-bottom: .4167rem
    //   text-align: center
    // ul.licensorList
    //   display: flex
    //   justify-content: space-around
    //   // gap: .0625rem
    //   li.licensorItem
    //     border: 2px solid rgba(0, 0, 0, 0.1)
    //     backdrop-filter: blur(18.1333px)
    //     border-radius: .0708rem
    //     display: flex
    //     justify-content: center
    //     align-items: center
    //     width: .3542rem
    //     height: .3542rem
  button.nextBtn
    width: 2.1875rem
    height: .3125rem
    background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
    border-radius: .0625rem
    display: flex
    justify-content: center
    align-items: center
    gap: .0417rem
    span
      font-family: 'Inter-Bold'
      font-size: .0938rem
      line-height: .1146rem
      color: #000000
.createAccountDialog
  padding-top: .1563rem
  .createAccountDialogHeader
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    gap: .0417rem
    // padding: 0 .1563rem
    position: relative
    &:before
      position: absolute
      content: ''
      top: 50%
      transform: translateY(-50%)
      left: .1667rem
      width: .1667rem
      height: .1667rem
      background: url('../../assets/img/iconArrowLeft.svg')
      background-size: 100% 100%

    i
      width: .2188rem
      height: .2188rem
      border-radius: 50%
      background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
    span
      font-size: .0938rem
      line-height: .1146rem
      color: #000000
      font-family: 'Inter-SemiBold'
    img
      width: .125rem
  main
    padding: .276rem .4688rem .3646rem
    display: flex
    flex-direction: column
    align-items: center
    h1
      font-family: 'Inter-Bold'
      font-size: .1667rem
      line-height: .2031rem
      color: #000000
      padding: 0 !important
      // padding-bottom: 0
    h2
      font-family: 'Inter-Regular'
      font-size: .0729rem
      line-height: .1146rem
      color: rgba(0,0,0,0.6)
      padding: .0938rem 0 .3646rem 0
    h6
      font-family: 'Inter-Bold'
      font-size: .0938rem
      line-height: .1146rem
      color: rgba(0,0,0,0.6)
      padding-bottom: .2917rem
    .networkItem
      width: .375rem
      height: .375rem
      border: 1px solid rgba(0, 0, 0, 0.1)
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      img
        flex-shrink: 1
    .dividerWrapper
      display: flex
      justify-content: space-between
      align-items: center
      margin: .1302rem 0 .1354rem
      width: 100%
      i
        flex: 1
        width: 100%
        height: 1px
        background-color: #D9D9D9
      .divider
        font-family: 'Inter-Regular'
        font-size: .0729rem
        line-height: .1823rem
        color: rgba(0,0,0,0.6)
        width: .25rem
        text-align: center
        // width: .25rem
        // height: .1823rem
        // background-color: #D9D9D9
        // position: relative
        // 
        // &:before
        //   position: absolute
        //   top: 50%
        //   left: 50%
        //   width: .25rem
        //   height: .1823rem
        //   background-color: #fff
    // .activeNetwork
    //   width: .375rem
    //   height: .375rem
    //   border: 1px solid rgba(0, 0, 0, 0.1)
    //   border-radius: 50%
    //   display: flex
    //   justify-content: center
    //   align-items: center
    //   img
    //     flex-shrink: 1
    ul
      display: flex
      justify-content: space-around
      gap: .0938rem
      li.networkItem
        flex: 1
