.bridgeWrapper
  display: flex
  justify-content: center
  gap: 27px
  .from,.to
    width: 72px
    height: 72px
    background: #FFFFFF
    border: 1PX solid rgba(0, 0, 0, 0.1)
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
  .from img
    width: 32px
  .to img
    width: 48px
  .connectSymbol
    widht: 24px
