@import '@/assets/css/pFlex.sass'
.bridgeWrapper
  @extend .frcc
  gap: 27px
  .from,.to
    width: 72px
    height: 72px
    background: #FFFFFF
    border: 1PX solid rgba(0, 0, 0, 0.1)
    border-radius: 50%
    @extend .frcc
  .from img
    width: $mIconSize
  .to img
    width: 48.38px
  .connectSymbol
    widht: $sIconSize
@media (max-width: 1680px)
  .bridgeWrapper
    gap: 24px
    .from,.to
      width: 48px
      height: 48px
    .from img
      width: 21.33px
    .to img
      width: 32.25px