$dataSourceItemPaddingX: 22.0032px
$dataSourceItemPaddingTop: 32.0064px
.smallFont
  font-size: 13.9968px
  line-height: 17px
  font-family: 'Inter-Medium'
  color: rgba(0, 0, 0, 0.6)

.dataSourceItem
  width: 386.9952px
  min-height: 241.9968px
  margin-bottom: 32.0064px
  cursor: pointer
  box-sizing: border-box
  padding: $dataSourceItemPaddingTop 22.0032px 14.9952px
  background: rgba(255, 255, 255, 0.6)
  backdrop-filter: blur(15.9936px)
  border-radius: 12px
  display: flex
  flex-direction: column
  gap: $dataSourceItemPaddingTop
  position: relative

  .tag
    position: absolute
    content: ''
    top: 14.9952px
    right: 22.0032px
    @extend .smallFont
  .dataSourceItemT
    display: flex
    gap: 27.9936px
    img
      width: 80.0064px
    .titleWrapper
      h6
        font-size: 32.0064px
        line-height: 38.9952px
        font-family: 'Inter-Medium'
        color: #000
      .dateWrapper
        margin-top: 11.0016px
        padding: 6.0096px 8.0064px 6.0096px 32.0064px
        background: #E2F8EE
        border-radius: 12px
        position: relative
        @extend .smallFont
        &:before
          position: absolute
          content: ''
          left: 8.0064px
          top: 50%
          transform: translateY(-50%)
          width: 20.0064px
          height: 20.0064px
          background: url('../../assets/img/iconSuc.svg')
          background-size: 100% 100%
  .dataSourceItemC
    display: flex
    justify-content: space-between
    gap: 15.9936px
    .descItem
      background: rgba(217, 217, 217, 0.3)
      border-radius: 12px
      flex: 1
      display: flex
      flex-direction: column
      align-items: center
      gap: 7.008px
      padding: 20.0064px 0 26.9952px
      .descT
        font-size: 12px
        font-family: 'Inter-Medium'
        color: rgba(0,0,0,0.6)
      .descC
        @extend .smallFont
        color: rgba(0,0,0,0.8)
