@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'

$avatarWidth: 42px
$sAvatarWidth: 36px
$addressFontSize: 18px
.pAvatar
  @extend .frsc
  gap: $xxsGap
  cursor: pointer
  .avatar
    width: $avatarWidth
    height: $avatarWidth
    border-radius: 50%
    background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
  .address
    @extend .mLBlackBoldFont
    font-family: 'Inter-SemiBold'
@media (max-width: 1680px)
  .pAvatar
    gap: 6px
    .avatar
      width: $sAvatarWidth
      height: $sAvatarWidth
    .address
      font-size: 16px
      line-height: 19px
// @media (max-width: 1680px)
//   .pAvatar
//     .avatar
//       width: $avatarWidth * $mN
//       height: $avatarWidth * $mN
// @media (max-width: 1440px)
//   .pAvatar
//     .avatar
//       width: $avatarWidth * $sN
//       height: $avatarWidth * $sN
//     .address
//       font-size: 16px
//       line-height: 19px
// @media (max-width: 1366px)
//   .pAvatar
//     .avatar
//       width: $avatarWidth * $xsN
//       height: $avatarWidth * $xsN
