
.pAvatar
  display: flex
  align-items: center
  gap: .0417rem
  cursor: pointer
  .avatar
    width: .2188rem
    height: .2188rem
    border-radius: 50%
    background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
  .address
    font-size: .0938rem
    line-height: .1146rem
    color: #000000
    font-family: 'Inter-SemiBold'
