
.pAvatar
  display: flex
  align-items: center
  gap: 8.0064px
  cursor: pointer
  .avatar
    width: 42.0096px
    height: 42.0096px
    border-radius: 50%
    background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
  .address
    font-size: 18.0096px
    line-height: 22.0032px
    color: #000000
    font-family: 'Inter-SemiBold'
