@import '@/assets/css/pDialog.sass'

.loseEfficacyDialog
  padding: 0px 50px 50px
  @extend .fcbc
  main
    @extend .fcsc
    h1
      @extend .xlLBlackBoldFont
      padding-top: 80px
      padding-bottom: 12px
      
@media (max-width: 1680px)
  .loseEfficacyDialog
    padding: 0px 42px 32px
    main
      h1
        font-size: 26px
        line-height: 31px
        font-family: 'Inter-SemiBold'
        padding-top: 80px
        padding-bottom: 8px
      