@import '@/assets/css/pDialog.sass'

.loseEfficacyDialog
  padding: 64px 50px 50px
  @extend .fcbc
  main
    @extend .fcsc
    img.warnImg
      margin-top: 128px
      width: 128px
    h1
      @extend .xlLBlackBoldFont
      padding-top: 32px
      padding-bottom: 12px
      
    h2
      @extend .sSBlackRegularFont
      line-height: 26px
      text-align: center
      width: 338px
  button.nextBtn
    height: 58px !important
@media (max-width: 1680px)
  .loseEfficacyDialog
    padding: 48px 42px 32px
    main
      img.warnImg
        margin-top: 72px
        width: 80px
      h1
        font-size: 30px
        line-height: 36px
        font-family: 'Inter-SemiBold'
        padding-top: 26px
        padding-bottom: 22px
      h2
        font-size: 14px
        line-height: 20px
    button.nextBtn
      height: 48px !important
      font-family: 'Inter-SemiBold'
      