@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'
@import '@/pages/Home/pageIndex.sass'
.pageIndex.pageHome
  .appContent
    article
      width: 574px
      gap: 60px
      .descWrapper
        @extend .fcss
        gap: 18px
        h1
          font-size: 48px
          line-height: 130%
          font-family: 'Inter-Black'
          text-transform: uppercase
        p
          font-size: 24px
          line-height: 29px
          font-family: 'Inter-Regular'
          color: $colSBlack
      
      button.startBtn
        width: 343px
        height: 80px
        border: 2PX solid $colLBlack
        border-radius: 100px
        @extend .frcc
        gap: $xxsGap
        color: $colLBlack  
        @extend .lLBlackSemiBoldFont
        &:hover,&:active
          border: 0
          background: $colLBlack
          color: #fff
          .iconArrow
            background-image: url("@/assets/img/rightArrowHover.svg")
        .iconArrow
          width: $mIconSize
          height: $mIconSize
          background-size: 100% 100%
          background-image: url("@/assets/img/rightArrow.svg")
  .TransferToChainDialog
    padding: 30px 90px 70px
    >main
      padding: 0
      h1
        padding-top: 56px
      h2
        font-size: 12px
        line-height: 18px
        padding: 18px 0 75px 0
      .dividerWrapper
        .divider
          line-height: 35px
    button.nextBtn
      height: 60px
      font-family: 'Inter-Bold'
@media (max-width: 1680px)
  .pageIndex.pageHome
    .appContent
      article
        width: 515px
        gap: 48px
        .descWrapper
          gap: 36px
          h1
            font-size: 44px
            line-height: 68px
            font-family: 'Inter-Bold'
          p
            font-size: 20px
            line-height: 24px
        button.startBtn
          width: 256px
          height: 64px
          font-size: 18px
          line-height: 22px
          .iconArrow
            width: 28px
            height: 28px
    .TransferToChainDialog
      padding: 48px 60px 60px
      main
        h1
          padding-top: 31px
        h2
          width:379px
        .dividerWrapper
          margin: 12px 0
      button.nextBtn
        height: 48px
        font-family: 'Inter-SemiBold'
    .addDataSourceSucDialog
      padding: 55px 60px 60px
      main
        .appHeader
          padding: 0
          height: auto
        img.sucImg
          margin-top: 75px
