@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'
// @import '@/assets/css/homeWrapper.sass'

$btnWidth: 343px
$btnHeight: 80px
$btnBorderRadius: 100px
$btnFontSize: 24px

$contentMarginTop: -5px
$contentPaddingTop: 156px
$contentPaddingLeft: 43px
$contentPaddingRight: 278px
$sContentGap: 35px

.pageIndex.pageHome
  @extend .frsc
  height: 100vh
  margin-top: -$pageHeaderHeight
  .appContent
    padding-left: 43px
    padding-right: 278px
    @extend .frsc
    gap: 37.73px
    // width: 1599px

@media (max-width: 1680px)
  .pageIndex.pageHome
    justify-content: center
    .appContent
      padding-left: 79px
      padding-right: 197px
      justify-content: center
      gap: 0.1823rem
@media (max-width: 1470px)
  .pageIndex
    .appContent
      padding-left: 27px
      padding-right: 143px
      // width: 1194px
      gap: 35px
.pageHome
  article
    width: 602px
    @extend .fcss
    gap: 60px
    .descWrapper
      @extend .fcss
      gap: 20px
      h1
        @extend .xxlLBlackBoldFont
        font-family: 'Inter-Black'
        // text-transform: uppercase
        >span
          font-size: 44px
          line-height: 53px
          font-family: 'Inter-Bold'
      p
        @extend .mSBlackRegularFont
    button.startBtn
      width: $btnWidth
      height: $btnHeight
      border: 2PX solid $colLBlack
      border-radius: $btnBorderRadius
      @extend .frcc
      gap: $xxsGap
      color: $colLBlack
      @extend .lLBlackSemiBoldFont
      &:hover,&:active
        border: 0
        background: $colLBlack
        color: #fff
        .iconArrow
          background-image: url("../../assets/img/rightArrowHover.svg")
      .iconArrow
        width: $mIconSize
        height: $mIconSize
        background-size: 100% 100%
        background-image: url("../../assets/img/rightArrow.svg")
  .TransferToChainDialog
    padding: 30px 90px 70px
    >main
      padding: 0
    button.nextBtn
      height: 60px
      font-family: 'Inter-Bold'

@media (max-width: 1680px)
  .pageHome
    article
      width: 515px
      .descWrapper
        gap: 22px
        h1
          font-size: 44px
          line-height: 53px
          >span
            font-size: 36px
            line-height: 44px
            font-family: 'Inter-Bold'
        p
          font-size: 20px
          line-height: 24px
      button.startBtn
        width: 256px
        height: 64px
        font-size: 18px
        line-height: 22px
        .iconArrow
          width: 28px
          height: 28px
    .TransferToChainDialog
      padding: 28px 60px 60px
      main
        h2
            width:318px
// @media (max-width: 1680px)
//   .pageHome
//     .descWrapper
//       gap: 17.5px
//       h1
//         font-size: 42px
//         line-height: 51px
//     button.startBtn
//       width: $btnWidth * $mN
//       height: $btnHeight * $mN
//       border-radius: $btnBorderRadius * $mN
//       font-size: $btnFontSize * $mN
//       .iconArrow
//         width: $mIconSize * $mN
//         height: $mIconSize * $mN
// @media (max-width: 1440px)
// @media (max-width: 1680px)
//   .pageHome
//     article
//       width: 451.5px
//       gap: 45px
//       .descWrapper
//         gap: 15px
//         h1
//           font-size: 36px
//           line-height: 43.5px
//         p
//           font-size: 16px
//           line-height: 19px
//       button.startBtn
//         width: $btnWidth * $sN
//         height: $btnHeight * $sN
//         border-radius: $btnBorderRadius * $sN
//         font-size: $btnFontSize * $sN
//         .iconArrow
//           width: $mIconSize * $sN
//           height: $mIconSize * $sN
// @media (max-width: 1366px)
//   .pageHome
//     article
//       width: 427px
//       gap: 43px
//       .descWrapper
//         gap: 14px
//         h1
//           font-size: 34px
//           line-height: 41px
//         p
//           font-size: 16px
//           line-height: 19px
//         button.startBtn
//           width: $btnWidth * $xsN
//           height: $btnHeight * $xsN
//           border-radius: $btnBorderRadius * $xsN
//           font-size: $btnFontSize * $xsN
//           .iconArrow
//             width: $mIconSize * $xsN
//             height: $mIconSize * $xsN
