@import '@/assets/newCss/flex.scss';

.pageIndex {
  @include frcc;
  height: 100vh;
  margin-top: calc(-1 * var(--pHeaderHeight, 105px));
  .appContent {
    @include frsc;
    // gap: 87px;
    // width: 1248px;
    article {
      @include fcss;
      // width: 515px;
      // gap: 88px;
      .descWrapper {
        @include fcss;
        gap: var(--spacing-16, 16px);
        h1 {
          color: var(--Text-headline, #0a1214);
          @include Headline1;
        }
        p {
          color: var(--Text-body, #515758);
          @include Body1;
        }
      }
      .pButton {
        @include buttonStyle1;
        border-width: 2PX !important;
        // width: 256px;
        // height: 60px;
        .iconfont {
          font-size: var(--spacing-28, 28px);
        }
      }
    }
  }
}
@import './pageIndexXl.scss';
@import './pageIndexL.scss';
