@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'


.pageIndex
  @extend .frcc
  height: 100vh
  margin-top: -$pageHeaderHeight
  .appContent
    @extend .frsc
    gap: 92px
    width: 1462px
    article
      @extend .fcss
      
    
@media (max-width: 1680px)
  .pageIndex
    .appContent
      gap: 86px
      width: 1248px
        
   
