.pageIndex {
  .appContent {
    gap: .5918rem;
    width: 8.4898rem;
    article {
      width: 3.5034rem;
      gap: .5986rem;
      .pButton {
        width: 1.7415rem;
        height: .4354rem;
      }
    }
  }
}
