@import '@/assets/css/pFlex.sass'

.rewardList
  width: 100%
  @extend .frss
  flex-flow: row wrap
  padding-top: 24px
  padding-bottom: 0px
  column-gap: 108px
  row-gap: 32px
  >.emptyWrapper
    width: 100%
    padding-top: 114px
    padding-top: 82px
    @extend .fccc
    gap: 12px
    font-size:16px
    line-height: 20px
    font-family: 'Inter-Regular'
    color: rgba(0,0 ,0 ,0.4 )
    >img
      width:52px
