.pHeader
  display: flex
  align-items: center
  gap: .125rem
  gap: 24px
  .pLogo
    width: .8229rem
    height: .2135rem
    width: 158px
    height: 41px
  i
    width: 1px
    height: .2083rem
    height: 40px
    background-color: rgba(0, 0, 0, 0.1)
  p
    width: .9323rem
    width: 179px
    font-family: 'Inter-Regular'
    font-size: .0625rem
    font-size: 12px
    line-height: .0938rem
    line-height: 18px
    color: rgba(0, 0, 0, 0.8)
