@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pVars.sass'
$headerLogoWidth: 158px
$LogoSeparatorHeight: 40px
$LogoTextLineHeight: 18px
.pHeader
  @extend .frsc
  gap: $lGap
  .pLogo
    width: $headerLogoWidth
  i
    width: 1PX
    height: $LogoSeparatorHeight
    background-color: rgba(0, 0, 0, 0.1)
  p
    width: 173px
    font-size: 12px
    line-height: $LogoTextLineHeight
    font-family: 'Inter-Regular'
    color: $colMBlack
@media (max-width: 1680px)
  .pHeader
    p
      line-height: 15px
      color: rgba(0,0,0,0.6)

// @media (max-width: 1680px)
//   .pHeader
//     gap: $lGap*$mN
//     .pLogo
//       width: $headerLogoWidth*$mN
//     i
//       height: $LogoSeparatorHeight*$mN
//     p
//       line-height: $LogoTextLineHeight*$mN
// @media (max-width: 1440px)
//   .pHeader
//     gap: $lGap*$sN
//     .pLogo
//       width: $headerLogoWidth*$sN
//     i
//       height: $LogoSeparatorHeight*$sN
//     p
//       line-height: $LogoTextLineHeight*$sN

// @media (max-width: 1366px)
//   .pHeader
//     gap: $lGap*$xsN
//     .pLogo
//       width: $headerLogoWidth*$xsN
//     i
//       height: $LogoSeparatorHeight*$xsN
