@font-face {
  font-family: 'Inter-Black';
  src: url('../fonts/Inter/Inter-Black-3.otf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Inter-Bold';
  src: url('../fonts/Inter/Inter-Bold-4.otf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Inter-ExtraBlod';
  src: url('../fonts/Inter/Inter-ExtraBold-5.otf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Inter-ExtraLight';
  src: url('../fonts/Inter/Inter-ExtraLight-6.otf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Inter-Light';
  src: url('../fonts/Inter/Inter-Light-7.otf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Inter-Medium';
  src: url('../fonts/Inter/Inter-Medium-8.otf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Inter-Regular';
  src: url('../fonts/Inter/Inter-Regular-9.otf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../fonts/Inter/Inter-SemiBold-10.otf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Inter-Thin';
  src: url('../fonts/Inter/Inter-Thin-11.otf');
  font-style: normal;
  font-weight: normal;
}
