@import 'reset.css';
@import 'font.css';
html,
body {
  height: 100%;
}
#app-container,
.appPage {
  height: 100%;
}

/* 版心 */
.w {
  width: 1200px;
  margin: 0 auto;
}

:root {
  --bg-default: #fff;
  --bg-60: rgba(255, 255, 255, 0.6);
  --bg-90: rgba(255, 255, 255, 0.9);
  --White-Linear: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3) 0.2%,
    rgba(255, 255, 255, 0) 100%
  );
  --Badge: rgba(10, 18, 20, 0.05);
  --Line: #dfe0e0;
  --Text-headline: #0a1214;
  --Text-body: #515758;
  --Text-hint: #7b7f80;
  --Icon-active: #6c7172;
  --Icon-default: #a7aaaa;
  --Button-active: #252c2e;
  --Button-default: #515758;
  --Warning: #f42d2d;
  --Info: #0bb4fe;
  --Linear: linear-gradient(269deg, #70ffba 0.52%, #78deff 100.71%);

  /* --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;

  --pHeaderHeight: 105px; */
}
#app-container {
  /* --spacing-2: 0.0138rem;
  --spacing-7: 0.0486rem;

  --spacing-4: 0.0272rem;
  --spacing-6: 0.034rem;
  --spacing-8: 0.0544rem;
  --spacing-10: 0.068rem;
  --spacing-11: 0.0764rem;
  --spacing-12: 0.0816rem;
  --spacing-14: 0.0952rem;
  --spacing-16: 0.1088rem;
  --spacing-18: 0.1224rem;
  --spacing-20: 0.1361rem;
  --spacing-22: 0.1497rem;
  --spacing-23: 0.1597rem;
  --spacing-24: 0.1633rem;
  --spacing-28: 0.1905rem;
  --spacing-30: 0.2041rem;
  --spacing-32: 0.2177rem;
  --spacing-34: 0.2361rem;
  --spacing-36: 0.2449rem;
  --spacing-40: 0.2721rem;
  --spacing-42: 0.2857rem;
  --spacing-48: 0.3265rem;
  --spacing-52: 0.3611rem;
  --spacing-60: 0.4082rem;
  --spacing-64: 0.4354rem;
  --spacing-68: 0.4722rem;
  --spacing-80: 0.5442rem;
  --spacing-100: 0.6803rem;
  --pHeaderHeight: 0.7143rem;
  --pageCenter-width: 7.0204rem; */

  --spacing-2: 2px;
  --spacing-7: 7px;

  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-11: 11px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-18: 18px;
  --spacing-20: 20px;
  --spacing-22: 22px;
  --spacing-23: 23px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-30: 30px;
  --spacing-32: 32px;

  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-42: 42px;
  --spacing-48: 48px;
  --spacing-52: 52px;
  --spacing-60: 60px;
  --spacing-64: 64px;
  --spacing-68: 68px;
  --spacing-80: 80px;
  --spacing-100: 100px;
  --pHeaderHeight: 105px;

  --pageCenter-width: 1032px;
}

@media (max-width: 1470px) {
  #app-container {
    --spacing-2: 2px;
    --spacing-7: 7px;

    --spacing-4: 4px;
    --spacing-6: 6px;
    --spacing-8: 8px;
    --spacing-10: 10px;
    --spacing-11: 11px;
    --spacing-12: 12px;
    --spacing-14: 14px;
    --spacing-16: 16px;
    --spacing-18: 18px;
    --spacing-20: 20px;
    --spacing-22: 22px;
    --spacing-23: 23px;
    --spacing-24: 24px;
    --spacing-28: 28px;
    --spacing-30: 30px;
    --spacing-32: 32px;

    --spacing-36: 36px;
    --spacing-40: 40px;
    --spacing-42: 42px;
    --spacing-48: 48px;
    --spacing-52: 52px;
    --spacing-60: 60px;
    --spacing-64: 64px;
    --spacing-68: 68px;
    --spacing-80: 80px;
    --spacing-100: 100px;
    --pHeaderHeight: 105px;

    --pageCenter-width: 1032px;
  }
}

.pageLayer.requireUpgrade {
  pointer-events: none;
}
#pado-extension-content {
  --spacing-2: 2px;
  --spacing-7: 7px;

  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-11: 11px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-18: 18px;
  --spacing-20: 20px;
  --spacing-22: 22px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-30: 30px;
  --spacing-32: 32px;
  --spacing-34: 34px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-42: 42px;
  --spacing-48: 48px;
  --spacing-60: 60px;
  --spacing-64: 64px;
  --spacing-68: 68px;
  --spacing-80: 80px;
  --spacing-100: 100px;
  --pHeaderHeight: 105px;

  --pageCenter-width: 1032px;
}
