@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'

$contentGap: 37.73px
$contentPaddingLeft: 43px
$contentPaddingTop: 156px
$contentMarginTop: -5px
@mixin pageIndexMixin ($x:1)
  .appContent
    margin-top: $contentMarginTop * $x
    padding-left: $contentPaddingLeft * $x
    padding-top: $contentPaddingTop * $x
    gap: $contentGap * $x
.pageIndex
  @include pageIndexMixin
  @extend .frsc
  .appContent
    padding-right: 278px
    @extend .frbc

@media (max-width: 1680px)
  .pageIndex
    @include pageIndexMixin($mN)

@media (max-width: 1440px)
  .pageIndex
    @include pageIndexMixin($sN)

@media (max-width: 1366px)
  .pageIndex
    @include pageIndexMixin($xsN)
