@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'

$contentMarginTop: -5px
$contentPaddingTop: 156px
$contentPaddingLeft: 43px
$contentPaddingRight: 278px
$sContentGap: 35px

// @mixin pageIndexMixin ($x:1)
//   .appContent
//     margin-top: $contentMarginTop * $x
//     padding-top: $contentPaddingTop * $x
//     padding-left: $contentPaddingLeft * $x
    // padding-right: $contentPaddingRight * $x
.pageIndex
  @extend .frsc
  height: 100vh
  margin-top: -$pageHeaderHeight
  padding-left: 71px
  .appContent
    @extend .frsc
    width: 1599px
    gap: 37.73px

@media (max-width: 1680px)
  .pageIndex
    justify-content: center
    padding-left: 0.1406rem
    padding-right: 0.7448rem
    .appContent
      gap: 0.1823rem
@media (max-width: 1470px)
  .pageIndex
    padding-left: 27px
    padding-right: 143px
    .appContent
      width: 1194px
      gap: 35px
