.Headline1Font {
  font-size: 0.2993rem;
  line-height: 0.4082rem; /* 136.364% */
}
.Headline2Font {
  font-size: 0.1905rem;
  line-height: 0.2449rem; /* 128.571% */
}
.Headline3Font {
  font-size: 0.1633rem;
  line-height: 0.2177rem; /* 133.333% */
}
.Headline4Font {
  font-size: 0.1361rem;
  line-height: 0.1905rem; /* 140% */
}
.Headline5Font {
  font-size: 0.1088rem;
  line-height: 0.1633rem; /* 150% */
}
.Headline6Font {
  font-size: 0.0952rem;
  line-height: 0.1361rem; /* 142.857% */
}
.Body1Font {
  font-size: 0.1361rem;
  line-height: 0.1905rem; /* 140% */
}
.Body2Font {
  font-size: 0.1088rem;
  line-height: 0.1497rem; /* 137.5% */
}
.Body3Font {
  font-size: 0.0816rem;
  line-height: 0.1088rem; /* 133.333% */
}
.Text1Font {
  font-size: 0.0952rem;
  line-height: 0.1361rem; /* 142.857% */
}
.Text2Font {
  font-size: 0.0816rem;
  line-height: 0.1088rem; /* 133.333% */
}
@media (max-width: 1470px) {
  .Headline1Font {
    font-size: 44px;
    line-height: 60px; /* 136.364% */
  }
  .Headline2Font {
    font-size: 28px;
    line-height: 36px; /* 128.571% */
  }
  .Headline3Font {
    font-size: 24px;
    line-height: 32px; /* 133.333% */
  }
  .Headline4Font {
    font-size: 20px;
    line-height: 28px; /* 140% */
  }
  .Headline5Font {
    font-size: 16px;
    line-height: 24px; /* 150% */
  }
  .Headline6Font {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
  .Body1Font {
    font-size: 20px;
    line-height: 28px; /* 140% */
  }
  .Body2Font {
    font-size: 16px;
    line-height: 22px; /* 137.5% */
  }
  .Body3Font {
    font-size: 12px;
    line-height: 16px; /* 133.333% */
  }
  .Text1Font {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
  .Text2Font {
    font-size: 12px;
    line-height: 16px; /* 133.333% */
  }
}

.Headline1 {
  /* Headline 1 */
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  @extend .Headline1Font;
}
.Headline2 {
  /* Headline 2 */
  font-family: Inter;

  font-style: normal;
  font-weight: 600;
  @extend .Headline2Font;
}
.Headline3 {
  /* Headline 3 */
  font-family: Inter;

  font-style: normal;
  font-weight: 600;
  @extend .Headline3Font;
}

.Headline4 {
  /* Headline 4 */
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  @extend .Headline4Font;
}

.Headline5 {
  /* Headline 5 */
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  @extend .Headline5Font;
}

.Headline6 {
  /* Headline 6 */
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  @extend .Headline6Font;
}

.Body1 {
  /* Body 1 */
  font-family: Inter;

  font-style: normal;
  font-weight: 500;
  @extend .Body1Font;
}
.Body2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  @extend .Body2Font;
}
.Body3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  @extend .Body3Font;
}
.Text1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  @extend .Text1Font;
}
.Text2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  @extend .Text2Font;
}

.backFilter {
  border-radius: var(--spacing-8, 8px);
  background: var(--Badge, rgba(10, 18, 20, 0.05));
  backdrop-filter: blur(16px);
}
