@import './pFlex.sass';
@import './padoM.scss';
.padoDialog {
    --padoDialog-width: 3.4014rem;
    --padoDialog-height: 4.2313rem;
    --padoDialog-padding: .3265rem .2857rem .2177rem;
    --padoDialog-footerBotton-height: .3265rem;
  }
@media (max-width: 1470px) {
  .padoDialog {
    --padoDialog-width: 500px;
    --padoDialog-height: 622px;
    --padoDialog-padding: 48px 42px 32px;
    --padoDialog-footerBotton-height: 48px;
  }
}

.padoDialogHeaderStyle {
  @extend .fcsc;
  width: 100%;
  gap: var(--spacing-16, 16px);
  h1 {
    @extend .fcss;
    color: var(--Text-headline, #0a1214);
    @extend .Headline2;
    width: fit-content;
  }
  h2 {
    color: var(--Text-body, #515758);
    @extend .Text1;
    width: fit-content;
    text-align: center;
  }
}
.padoFormDialogStyle {
  main {
    gap: var(--spacing-32, 32px);
    .formContent {
      width: 100%;
      @extend .fcss;
      gap: var(--spacing-24, 24px);
      .contItem {
        width: 100%;
        @extend .fcss;
        gap: var(--spacing-16, 16px);
        .label {
          @extend .Headline5;
          color: var(--Text-headline, #0a1214);
        }
      }
    }
  }
}
.padoDialog {
  @extend .fcbc;
  width: var(--padoDialog-width, 500px);
  height: var(--padoDialog-height, 622px);
  border-radius: var(--spacing-24, 24px);
  background: var(--bg-90, rgba(255, 255, 255, 0.9));
  backdrop-filter: blur(32px);
  padding: var(--padoDialog-padding, 48px 42px 32px);
  > main {
    @extend .fcss;
    width: 100%;
    > header {
      @extend .padoDialogHeaderStyle;
    }
  }
  > .pButton,
  > footer > .pButton {
    width: 100%;
    height: var(--padoDialog-footerBotton-height,48px);
  }
  footer {
    position: relative;
    width: 100%;
  }
}
