@import './pFont.sass'
@import './pFlex.sass'
@import './pVars.sass'
$dialogWidth: 600px
$dialogHeight: 800px
$dialogMBtnHeight: 58px
$dialogLBtnHeight: 60px

$sDialogWidth: 500px
$sDialogHeight: 622px

.padoDialog
  width: $dialogWidth
  height: $dialogHeight
  background: rgba(255, 255, 255, 0.8)
  backdrop-filter: blur(32px)
  border-radius: 24px
  @extend .fcbc
  button.nextBtn
    width: 100%
    height: $dialogLBtnHeight
    background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
    border-radius: 12px
    @extend .frcc
    gap: $xxsGap
    @extend .mLBlackBoldFont
    &:hover,&:active
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
    img
      width: 24px
@media (max-width: 1680px)
  .padoDialog
    width: $sDialogWidth
    height: $sDialogHeight
    button.nextBtn
      height: 48px
      font-family: 'Inter-SemiBold'
