@import '@/assets/css/pVars.sass'
.frss
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: flex-start
.frcs
  display: flex
  flex-direction: row
  justify-content: center
  align-items: flex-start
.frcc
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
.frbs
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-start
.frbc
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
.frac
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
.frsc
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
.fcbs
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-start
.fccc
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.fcss
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
.fcsc
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
.fcbc
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
