@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'

.tokenListWrapper
  width: 100%
  @include backdropMixin
  padding: 0 50px
  header
    @extend .lLBlackBoldFont
    line-height:25px
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    height: 81px
    box-sizing: border-box
    @extend .frbc
  ul.tokens
    padding-bottom: 62px
    li.tokenItem.th
      .innerWrapper
        font-size: 16px
        line-height: 19px
    li.tokenItem
      .innerWrapper
        @extend .frbc
        margin: 0 -50px
        @extend .frbc
        @extend .sFont
        font-size: 16px
        line-height: 19px
        font-family: 'Inter-Medium'
        color: $colLBlack
        >div
          text-align: right
        .token
          @extend .frsc
          gap: $xxsGap
          text-align: left
          >.defaultTokenImg
            width: 20px
            height: 20px
            border-radius: 50%
            background-color: rgba(0, 0, 0, 0.05)
          >img
            width: 20px
            border-radius: 50%

      &.th
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        margin-bottom: 22px
        .innerWrapper
          padding: 16px 50px 15px
          color: $colSBlack
          font-size: 16px
          line-height: 19px
      &.tr
        margin-top: 4px
        position: relative
        &:hover
          .innerWrapper
            background: rgba(0, 0, 0, 0.05)
        .innerWrapper
          padding: 11px 50px
    li.emptyContent
      padding: 62px 0 108px 0
      text-align: center
      @extend .fcsc
      >img
        width: 60px
      >h1
        padding: 12px 0 8px 0
        font-family: 'Inter-SemiBold'
        color: $colLBlack
        font-size: 18px
        line-height: 22px
      >h2
        font-size: 14px
        line-height: 20px
        font-family: 'Inter-Regular'
        color: $colSBlack
@media (max-width: 1680px)
  .tokenListWrapper
    padding: 0 44px
    header
      height: 65px
      font-size: 20px
      line-height: 24px
      font-family: 'Inter-SemiBold'
    ul.tokens
      padding-bottom: 38px
      li.tokenItem
        .innerWrapper
          margin: 0 -44px
          .token
            // font-size: 14px
            // line-height: 17px
            >.defaultTokenImg
              width: 18px
              height: 18px
            >img
              width: 18px
        &.th
          margin-bottom: 22px
          .innerWrapper
            font-size: 16px
            line-height: 19px
            padding: 12px 44px
        &.tr
          margin-top: 4px
          .innerWrapper
            padding: 11px 44px 11px
      li.emptyContent
        padding: 26px 0 32px 0
        >img
          width: 28px
        >h1
          padding: 8px 0 4px 0
        >h2
          font-size: 12px