$colError: #ff0000

$pageHeaderHeight: 106px

$colSBlack: rgba(0,0,0,0.6)
$colMBlack: rgba(0,0,0,0.8)
$colLBlack: rgba(0,0,0, 1)

$xxsGap: 8px
$xsGap: 12px
$sGap: 16px
$mGap: 18px
$lGap: 24px
$xlGap: 32px

$mN: 0.875
$sN: 0.75
$xsN: 0.71
