@import '@/assets/css/pFlex.sass';
@import '@/assets/css/pDialog.sass';
@import '@/assets/css/padoDialog.scss';
.padoDialog.claimDialog {
  padding: 0 42px 32px;
  main {
    gap: 60px; //
    .headerWrapper {
      // width: 500px;
      // margin: 0 -44px;
      margin: 0 -42px 0;
    }
    .descContent {
      @extend .fcss;
      // gap: var(--spacing-16,16px);//
      gap: var(--spacing-24, 24px); //
      .title {
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 140% */
      }
      .rules {
        @extend .fcss;
        gap: var(--spacing-8, 8px);
        > li {
          @extend .frss;
          @extend .Body2;
          color: #000;
          > i {
            @extend .frcc;
            width: 14px;
            height: 22px;
            > span {
              display: flex;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: #000;
            }
          }
          > span {
            flex: 1;
          }
        }
      }
      .desc {
        color: rgba(0, 0, 0, 0.6);
        @extend .Body2;
        >span{
          @extend .Text1;
        }
      }
      .extra {
        color: rgba(0, 0, 0, 0.6);
        @extend .Body2;
        > b {
          color: var(--Text-headline, #0a1214);
        }
      }
      .specialTip {
        @extend .Body2;
        @extend .frsc;
        gap: 8px;
        color: #2ec57c;
        // >img{
        //   width: 20px;
        // }
        .iconfont {
          font-size: 20px;
        }
      }
    }
  }
}
