@import '@/assets/css/pDialog.sass'
@import '@/assets/css/pVars.sass'
@import '@/assets/css/pDialog.sass'
@import '@/components/Cred/QRCodeDialog/qrCode.sass'
.padoDialog.claimDialog
  padding: 0 42px 32px
  main
    width: 100%
    @extend .fcss
    gap: 44px
    .headerWrapper
      margin: 0 -42px
    .descContent
      @extend .fcss
      gap: 28px
      .title
        font-size: 18px
        line-height: 26px
        font-family: 'Inter-SemiBold'
        color: $colLBlack
      .desc
        font-size: 16px
        line-height: 26px
        font-family: 'Inter-Regular'
        color: $colMBlack
      .details
        >li
          font-size: 16px
          line-height: 32px
          font-family: 'Inter-SemiBold'
          color: $colLBlack
          @extend .frsc
          >i
            margin: 0 9px
            width: 5px
            height: 5px
            border-radius: 50%
            background-color: $colLBlack




  
