@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/mixins.scss';

.homeAssetsDistribution {
  width: 100%;
  @include fcss;
  gap: var(--spacing-16);

  > .title {
    @include HeadlineH3;
    @include frbc;
    width: 100%;
  }
  > .content {
    width: 100%;
    border-radius: var(--spacing-8);
    // border: 1px solid var(--border-tokens-border-primary);
    background: var(--layer-tokens-layer-primary);
    padding: var(--spacing-24);
    @include fcss;
    gap: var(--spacing-24);
    border: 1px solid var(--border-tokens-border-primary);
    .assetsBalance {
      flex: 1;
      gap: var(--spacing-8);
      padding: 0;
      .content {
        .num {
          align-items: flex-end;
          .pnl {
            margin-bottom: var(--spacing-4);
            @include frsc;
            gap: var(--spacing-8);
          }
        }
      }
    }
    .PTabs {
      width: 100%;
    }
    .tokenChart {
      width: 504px;
      height: 236px;
      @include fccc;
      padding: 0 43px;
      .tokenItems {
        position: relative;
        width: 100%;
        height: 100%;
        @include frcc;
        &.tokenItems1 {
          width: 157px;
        }
        &.tokenItems2,
        &.tokenItems3 {
          width: 304px;
        }
        &.tokenItems4,
        &.tokenItems5 {
          width: 406px;
        }
        .tokenItem {
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 50%;

          @include fccc;
          text-align: center;
          &:first-child {
            width: 157px;
            height: 157px;
            background: #7bf0ff;
            box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
          }
          &:nth-child(2) {
            width: 145px;
            height: 145px;
            background: var(--brand-primary-color-bp-70);
            left: calc(202px - 43px);
            .symbol {
              color: var(--text-tokens-text-on-color);
            }
            .balance {
              color: var(--text-tokens-text-on-color);
            }
            .percent {
              color: var(--neutral-color-gray-20);
            }
          }
          &:nth-child(3) {
            width: 104px;
            height: 104px;
            background: var(--brand-primary-color-bp-50);
            left: calc(146px - 43px);
            top: 127px;
          }
          &:nth-child(4) {
            width: 100px;
            height: 100px;
            background: var(--brand-primary-color-bp-30);
            left: calc(349px - 43px);
            top: 39px;
          }
          &:nth-child(5) {
            width: 100px;
            height: 100px;
            background: var(--brand-primary-color-bp-20);
            left: calc(299px - 43px);
            top: 124px;
          }
          .symbol {
            @include frsc;
            gap: 2px;
            @include BodyBody300Bold;
            > img {
              width: var(--spacing-16);
              border-radius: 50%;
            }
          }
          .balance {
            @include BodyBody100Semibold;
            margin-top: var(--spacing-6);
          }
          .percent {
            @include BodyBody100;
            color: var(--text-tokens-text-tertiary);
          }
        }
      }
    }
    .moreBtn {
      width: 100%;
      justify-content: flex-end;
      height: auto;
      .btnText {
        margin-bottom: -5px;
      }
    }
  }
}
