@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';

.navWrapper {
  @include fcss;
  width: 100%;
  .navItems {
    width: 100%;
    @include fcss;
    gap: var(--spacing-16, 16px);
    .navItem {
      width: 100%;
      @include frsc;
      gap: var(--spacing-8, 8px);
      height: var(--spacing-40, 40px);
      padding: 0 var(--spacing-24, 24px);
      @include HeadlineH3;
      color: var(--Text-Tokens-text-primary, #161616);
      cursor: pointer;
      &:hover,
      &.active {
        @include HeadlineH2;
        background: var(--Background-Tokens-background-navi-selected, #e8ffff);
        border-right: var(--spacing-4) solid var(--Layer-Tokens-layer--BP, #00C7F2);
      }
      .iconfont {
        font-size: var(--spacing-20, 20px);
        color: var(--icon-tokens-icon-primary);
      }
    }
  }
}
