@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'

.pieTabs
  @extend .frsc
  gap: 18px
  // width: 20px
  // height: 52px
  .tab
    @extend .frcc
    cursor: pointer
    gap: 8px
    color: #000
    font-family: 'Inter-Medium'
    font-size: 12px
    line-height: 22px
    opacity: 0.4
    img
      width: 24px
      height:24px
      
    &.activeTab
      opacity: 0.8
@media (max-width: 1680px)
  .pieTabs
    gap: 14px
    .tab
      img
        width: 14px
        height: 14px