@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoM.scss';
.assetsOverview {
  --assetsOverview-pb: 0.3401rem;
  --card-width: 3.4286rem;
  --card-height: 1.8776rem;
  --card-paddingX: 0.2993rem;

  --card-left-pb: 0.2721rem;
  --chartOthersWrapper-bottom: 0.068rem;
  --chartOthersWrapper-right: 0.381rem;
  --chartOthersWrapper-label-ml: 0.0408rem;
  --chartOthersWrapper-label-width: 0.7211rem;

  --chartOthersWrapper-value-width: 0.4354rem;
}
@media (max-width: 1470px) {
  .assetsOverview {
    --assetsOverview-pb: 50px;
    --card-width: 504px;
    --card-height: 276px;
    --card-paddingX: 44px;

    --card-left-pb: 40px;
    --chartOthersWrapper-bottom: 10px;
    --chartOthersWrapper-right: 56px;
    --chartOthersWrapper-label-ml: 6px;
    --chartOthersWrapper-label-width: 106px;

    --chartOthersWrapper-value-width: 64px;
  }
}
.sectionTitle {
  @extend .Headline4;
  border-bottom: 1px solid var(--Line, #dfe0e0);
  color: var(--Text-headline, #0a1214);
}
.assetsOverview {
  width: 100%;
  @extend .fcss;
  gap: var(--spacing-24, 24px);
  padding-bottom: var(--assetsOverview-pb, 50px);
  .statisticsWrapper {
    @extend .frbs;
    gap: var(--spacing-24, 24px);
    width: 100%;
    .card {
      width: var(--card-width, 504px);
      height: var(--card-height, 276px);
      border-radius: var(--spacing-12, 12px);
      background: var(--bg-60, rgba(255, 255, 255, 0.6));
      backdrop-filter: blur(16px);
      padding: 0 var(--card-paddingX, 44px);
      > header {
        padding: var(--spacing-24, 24px) 0 var(--spacing-12, 12px) 0;
        @extend .sectionTitle;
      }
      &.cardL {
        .cardCon {
          @extend .fcss;
          gap: var(--spacing-24, 24px);
          padding-top: var(--spacing-24, 24px);
          padding-bottom: var(--card-left-pb, 40px);
          .descItem {
            @extend .fcss;
            gap: var(--spacing-8, 8px);
            .label {
              color: var(--Text-body, #515758);
              @extend .Text1;
            }
            .value {
              @extend .Headline3;
              color: var(--Text-headline, #0a1214);
              padding-right: var(--spacing-20, 20px);
            }
          }
          .mainDescItem {
            .value {
              @extend .Headline2;
            }
          }
          .descItemsWrapper {
            @extend .frsc;
            width: 100%;
            .descItem {
              flex: 1;
              .value {
                @extend .frsc;
                gap: var(--spacing-8, 8px);
                .percent {
                  @extend .Body2;
                  &.raise {
                    color: rgba(39, 194, 101, 0.8);
                  }
                  &.fall {
                    color: var(--red-red-400, #f42d2d);
                  }
                }
              }
            }
          }
        }
      }
      &.cardR {
        > header {
          @extend .sectionTitle;
          @extend .frbc;
          .pTabsNew {
            gap: var(--spacing-16, 16px);
            .tab {
              padding: 0;
              .con {
                gap: var(--spacing-8, 8px);
                padding: 0;
                .iconfont {
                  font-size: var(--spacing-14, 14px);
                }
                .borderB {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .chartOthersWrapper {
      position: absolute;
      bottom: var(--chartOthersWrapper-bottom, 10px);
      right: var(--chartOthersWrapper-right, 56px);
      @extend .frsc;
      > i {
        width: var(--spacing-14, 14px);
        height: var(--spacing-14, 14px);
        background-color: #8741e1;
        border-radius: 50%;
      }

      .label {
        margin-left: var(--chartOthersWrapper-label-ml, 6px);
        width: var(--chartOthersWrapper-label-width, 106px);
        color: var(--Text-body, #515758);
        font-family: Inter;
        font-size: var(--spacing-14, 14px);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .value {
        @extend .Body2;
        margin-left: 0px;
        width: var(--chartOthersWrapper-value-width, 64px);
        color: var(--Text-hint, #7b7f80);
        text-align: right;
        &:hover {
          color: #000;
        }
      }
    }
  }
}
