@import '@/assets/css/pVars.sass';
@import '@/assets/css/pFlex.sass';
@import '@/assets/css/pFont.sass';
@import '@/assets/css/padoM.scss';

.sectionTitle{
    @extend .Headline4;
    border-bottom: 1px solid var(--Line, #DFE0E0);
    color: var(--Text-headline, #0A1214);
  }
.assetsOverview{
  width: 100%;
  @extend .fcss;
  gap: var(--spacing-24,24px);
  padding-bottom: 50px;;
  padding-top: var(--spacing-24,24px);
  .statisticsWrapper{
    @extend .frbs;
    gap: var(--spacing-24,24px);
    width: 100%;
    .card{
      width: 504px;
      height: 276px;
      @include backdropMixin;
      padding: 0 44px;
      >header{
        padding: 24px 0 12px 0;
        @extend .sectionTitle;
      }
      &.cardL{
        .cardCon{
          @extend .fcss;
          gap: var(--spacing-24,24px);
          padding-top: var(--spacing-24,24px);
          padding-bottom: 40px;
          .descItem{
            @extend .fcss;
            gap: var(--spacing-8, 8px);
            .label{
              color: var(--Text-body, #515758);
              @extend .Text1;
            }
            .value{
              @extend .Headline3;
              color: var(--Text-headline, #0A1214);
              padding-right: 20px;
            }
          }
          .mainDescItem{
            .value{
              @extend .Headline2;
            }
          }
          .descItemsWrapper{
            @extend .frsc;
            width: 100%;
            // gap: var(--spacing-64, 64px);
            
            .descItem{
              flex: 1;
              .value{
                @extend .frsc;
                gap: var(--spacing-8, 8px);
                .percent{
                  @extend .Body2;
                  &.raise{
                    color: rgba(39, 194, 101, 0.8);
                  }           
                  &.fall{
                    color: var(--red-red-400, #F42D2D);
                  }
                }
                  
              }
                
            }
          }           
        }
      }
      &.cardR{
        >header{
          @extend .sectionTitle;
          @extend .frbc;
         
          .pTabsNew{
            gap: var(--spacing-16, 16px);
            .tab{
              
              padding: 0;
              .con{
                gap: var(--spacing-8, 8px);
                padding: 0;
                .iconfont{
                  font-size: 14px;
                }
                .borderB{
                  display: none;
                }
              }
            }
          }
        }    
      }
      
    }
    .chartOthersWrapper{
      position: absolute;
      bottom: 10px;
      right: 56px;
      @extend .frsc;
      
      >i{
         width: 14px;
        height: 14px;
        background-color: #8741E1;
        border-radius: 50%;
      }
       
      .label {
        margin-left: 6px;
        width: 106px;
        color: var(--Text-body, #515758);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .value{
        @extend .Body2;
        margin-left: 0px;
        width: 64px;
        color: var(--Text-hint, #7B7F80);
        text-align: right;
        &:hover {
          color: #000;
        }
      }
    }
  }
    
  
}
