@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'
$headerLogoWidth: 158px
$LogoSeparatorHeight: 40px
$LogoTextLineHeight: 18px
$rightHeaderInnerPaddingX: 18px
$dropdownWrapperPadding: 16px
$dropdownWrapperBorderRadius: 12px
$dropdownWrapperTop: 92px
$dropdownItemWrapperY: 8px
$dropdownItemY: 18px
$dropdownItemX: 16px
$lastDropdownItemPaddingTop: 10px
$lastDropdownItemBorderRadius: 8px
@mixin pageHeaderMixin($N)
  height: $pageHeaderHeight*$N
  .pLogo
    width: $headerLogoWidth*$N
  .rightHeader
    height: 100%
    .dropdownWrapper
      padding: $dropdownWrapperPadding*$N
      top: $dropdownWrapperTop*$N
      border-radius: $dropdownWrapperBorderRadius*$N
      .dropdown
        .dropdownItemWrapper
          padding: $dropdownItemWrapperY*$N 0
          .dropdownItem
            padding: $dropdownItemY*$N $dropdownItemX*$N
            gap: $xsGap*$N
            img
              width: $xxsIconSize*$N
          &:last-child
            padding: $lastDropdownItemPaddingTop*$N 0 0 0
            .dropdownItem
              border-radius: $lastDropdownItemBorderRadius*$N

.pageHeader
  @include pageHeaderMixin(1)
  padding: 0 50px
  @extend .frbc
  .rightHeader
    position: relative
    .rightHeaderInner
      height: $pageHeaderHeight
      @extend .frsc
    .dropdownWrapper
      position: absolute
      z-index: 9999
      right: 0
      background: #FFFFFF
      box-shadow: 0 24px 32px rgba(0, 0, 0, 0.1)
      .dropdown
        .dropdownItemWrapper
          border-bottom: 1PX solid rgba(0, 0, 0, 0.05)
          .dropdownItem
            width: 240px
            display: flex
            @extend .sFont
            font-family: 'Inter-Medium'
            color: $colLBlack
            cursor: pointer
          &:last-child
            border-bottom: 0
            .dropdownItem
              background: rgba(0, 0, 0, 0.05)
@media (max-width: 1680px)
  .pageHeade
    .rightHeader
      .dropdownWrapper
        top: 92px
        .dropdown
          .dropdownItem
            width: 176px
            padding: 0
// @media (max-width: 1680px)
//   .pageHeader
//     @include pageHeaderMixin($mN)
// @media (max-width: 1440px)
//   .pageHeader
//     @include pageHeaderMixin($sN)
//     .rightHeader
//       .dropdownWrapper
//         .dropdown
//           .dropdownItemWrapper
//             .dropdownItem
//               font-size: 14px
//               line-height: 17px
// @media (max-width: 1366px)
//   .pageHeader
//     @include pageHeaderMixin($xsN)
