$dropdownPadding: 15.9936px
$headerHeight: 106.0032px
.pageHeader
  width: 100%
  padding: 0 49.9968px
  height: $headerHeight
  display: flex
  align-items: center
  justify-content: space-between
  .pLogo
    width: 157.9968px
    height: 40.992px
  .rightHeader
    position: relative
    .rightHeaderInner
      padding: 18.0096px 0
    .dropdownWrapper
      padding: 15.9936px
      position: absolute
      z-index: 9999
      top: 78.0096px
      right: 0
      background: #FFFFFF
      border-radius: 12px
      box-shadow: 0rem 24px 32.0064px rgba(0, 0, 0, 0.1)
      .pAvatarWrapper
        padding: 0 $dropdownPadding
      .dropdown

        .dropdownItemWrapper
          padding: 8.0064px 0
          border-bottom: 1PX solid rgba(0, 0, 0, 0.05)
          .dropdownItem
            padding: .0938rem $dropdownPadding
            display: flex
            gap: 12px
            font-size: 15.9936px
            line-height: 19.008px
            font-family: 'Inter-Medium'
            color: #000
            cursor: pointer
            img
              width: 18.0096px
          &:last-child
            padding: 10.0032px 0 0 0
            border-bottom: 0
            .dropdownItem
              background: rgba(0, 0, 0, 0.05)
              border-radius: 8.0064px
