.miniFont
  font-size: 14px
  line-height: 17px
.smallFont
  font-size: 16px
  line-height: 19px

.labelFont
  @extend .miniFont
  font-family: 'Inter-Regular'
  color: rgba(0,0,0,0.6)
.valueFont
  @extend .miniFont
  font-family: 'Inter-Bold'
  color: rgba(0,0,0,0.8)
.checkboxLabelFont
  @extend .smallFont
  font-family: 'Inter-Bold'
  color: #000
.checkboxValueFont
  @extend .smallFont
  font-family: 'Inter-Regular'
  color: rgba(0,0,0,0.8)
.createAttesationDialog
  position: absolute
  z-index: 3
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  width: 600px
  height: 800px
  background: rgba(255, 255, 255, 0.8)
  backdrop-filter: blur(32px)
  border-radius: 24px
  display: flex
  flex-direction: column
  align-items: center

  button.nextBtn
    width: 420px
    height: 60px
    width: 500px
    height: 58px
    background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
    border-radius: 12px
    display: flex
    justify-content: center
    align-items: center
    gap: 8px
    &:hover,&:active
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
    span
      font-family: 'Inter-Bold'
      font-size: 18px
      line-height: 22px
      color: #000000
.createAttesationDialog
  padding: 64px 50px 50px
  display: flex
  flex-direction: column
  justify-content: space-between
  main
    display: flex
    flex-direction: column
    align-items: center
    gap: 62px
    .scrollList
      padding: 0 32px 62px 0
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
      gap: 62px
      width: calc( 100% + 38px )
      height: 628px
      overflow-y: auto
      overflow-x: hidden
      &::-webkit-scrollbar
        width: 6px
        height: 300px
      &::-webkit-scrollbar-thumb
        background: rgba(0, 0, 0, 0.2)
        border-radius: 100px
    h1
      font-family: 'Inter-Bold'
      font-size: 32px
      line-height: 39px
      color: #000000
    .descItems
      display: flex
      align-items: center
      gap: 32px
      .descItem
        display: flex
        align-items: center
        gap: 12px
        .label
          @extend .labelFont
        .value
          @extend .valueFont
          display: flex
          align-items: center
          gap: 8px
          img
            width: 24px
    .formItems
      width: 100%
      display: flex
      flex-direction: column
      gap: 18px
      >label.formItem
        width: 100%
        height: 24px
        display: flex
        align-items: center
        padding-left: 3PX
        gap: 11px
        input[type="checkBox"].checkbox
          width: 18px
          height: 18px
          cursor: pointer
          position: relative
          &::after
            position: absolute
            top: 0
            box-sizing: border-box
            width: 18px
            height: 18px
            border: 2PX solid #000
            border-radius: 1px
            display: inline-block
            visibility: visible
            padding-left: 0
            text-align: center
            content: ''
          &:checked::after
            border: 0
            color: #fff
            content: '\2714'
            background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
          &:disabled::after
            border: 0
            background: rgba(0,0,0,0.4)
        .descItem
          flex: 1
          display: flex
          align-items: center
          justify-content: space-between
          .label
            @extend .checkboxLabelFont
          .value
            @extend .checkboxValueFont

  button.nextBtn
    width: 100%
