@import '@/assets/css/pDialog.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'
.setSucDialog
  padding: 50px 90px 72px
  @extend .fcbc
  main
    @extend .fcsc
    width: 100%
    img.iconSuc
      width: 128px
      padding: 100px 0 32px
    h1
      @extend .xlLBlackBoldFont
      padding-bottom: 12px
    h2
      @extend .tipFont
      line-height: 26px
    ul.descItems
      padding-top: 24px
      width: 244px
      .descItem
        @extend .tipFont
        @extend .frsc
        gap: 13px
        line-height: 17px
        padding-bottom: 16px
        img.iconChecked
          width: 24px
          height: 24px
        &:last-child
          align-items: flex-start
          >span
            line-height: 14px
            word-break: break-all
@media (max-width: 1680px)
  .setSucDialog
    padding: 55px 60px 60px
    main
      img.iconSuc
          width: 80px
          padding: 76px 0 24px 0
      h1
        font-size: 26px
        line-height: 31px
        font-family: 'Inter-SemiBold'
        padding-bottom: 8px
      ul.descItems
        padding-top: 9px
        width: 219px
        .descItem
          font-size: 12px
          line-height: 15px
          gap: 10.5px
          padding-bottom: 6px
          img.iconChecked
            width: 15px
            height: 15px
        
