@import '@/assets/css/padoM.scss';
.claimMysteryBoxWrapper {
  --processImg-mt: 0.4218rem;
}
@media (max-width: 1470px) {
  .claimMysteryBoxWrapper {
    --processImg-mt: 62px;
  }
}
.claimMysteryBoxWrapper {
  width: 100%;
  .padoDialog.claimDialog {
    main {
      gap: var(--spacing-36, 36px);
      .descContent {
        gap: var(--spacing-16, 16px);
      }
    }
  }
  .addDataSourceSucDialog {
    padding-top: 0;
    .claimDialogHeader {
      margin: 0 auto;
    }
    img.sucImg,
    img.loadingImg {
      margin-top: var(--processImg-mt, 62px);
    }
    main {
      h2 {
        width: 100%;
      }
    }
  }
}
