@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/mixins.scss';

.tokenTable {
  width: 100%;
  @include fcss;
  gap: var(--spacing-16);
  .title {
    @include HeadlineH3;
    @include frsc;
    gap: var(--spacing-4);
    .num {
      @include NumberBody100Semibold;
      color: var(--text-tokens-text-tertiary);
    }
  }
  .tokenItems {
    width: 100%;
    @include fcss;
    border-top: 1px solid var(--border-tokens-border-primary);
    .tokenItem {
      width: 100%;
      @include frbc;
      border-bottom: 1px solid var(--border-tokens-border-primary);
      &.th {
        height: 43px;
        @include Label01;
        color: var(--text-tokens-text-tertiary);
        > div {
          width: 120px;
          text-align: right;
          @include Label01;
        }
      }
      &.tr {
        height: 48px;
        @include NumberBody100;
      }
      > div {
        width: 120px;
        text-align: right;
        &.token {
          @include frsc;
          gap: var(--spacing-4);
          @include BodyBody100;
          text-align: left;
          > img {
            width: var(--spacing-24);
            border-radius: 50%;
          }
        }
      }
    }
  }
  .pageComponent {
    margin-top: calc(-1 * var(--spacing-4));
    width: 100%;
    text-align: right;
  }
}
