@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';

.sidebar {
  @include fcbs;
  width: 240px;
  height: 100%;
  border-right: 1px solid var(--Border-Tokens-border-primary);
  background: var(--Background-Tokens-background-navi, #fff);

  padding: var(--spacing-16, 16px) 0px var(--spacing-32) 0;
  gap: var(--spacing-16, 16px);
  .sidebarTop {
    .logoWrapper {
      @include frsc;
      height: var(--spacing-40);
      padding-left: var(--spacing-24);
      .logo {
        width: 76.19px;
      }
    }
  }
  .sidebarBottom{
    padding-left: var(--spacing-24);
  }
}
// .light {
//   .sidebar {
//     background: var(--Background-Tokens-background-navi, #fff);
//   }
// }

