@import '../AddSourceSucDialog/index.sass'



@keyframes roll
  to
    transform: rotateZ(360deg)

.requestLoadingDialog
    main
      .sucImg
        animation: roll 2s linear infinite
      .pLoading
        margin-top: 128px
        width: 128px
        height: 128px
        .loader
          width: 96px
          height: 96px
          &::before
            width: calc(100% - 21px)
            height: calc(100% - 21px)
@media (max-width: 1680px)
  .requestLoadingDialog
    main
      .pLoading
        margin-top: 61px
        width: 80px
        height: 80px
        .loader
          width: 66.67px
          height: 66.67px
          &::before
            width: calc(100% - 13px)
            height: calc(100% - 13px)

