@import '@/assets/css/pVars.sass'
@import '@/assets/css/pDialog.sass'
@import '@/components/Cred/QRCodeDialog/qrCode.sass'
.claimDialogHeader
  width: 600px
  height: 124px
  @extend .frcc
  border-radius: 24px 24px 0 0
  background: linear-gradient(270deg, #ABFFE1 0%, #78E1FB 100%)
  position: relative
  font-size: 30px
  line-height: 36px
  font-family: 'Inter-SemiBold'
  color: $colLBlack
  .illustration
    position: absolute
    left: 42px
    top: -38px
    width: 75.68px

@media (max-width:1680px)
  .claimDialogHeader
    width: 500px
    height: 124px
    @extend .frcc
    border-radius: 24px 24px 0 0
    background: linear-gradient(270deg, #ABFFE1 0%, #78E1FB 100%)
    position: relative
    font-size: 30px
    line-height: 36px
    font-family: 'Inter-SemiBold'
    color: $colLBlack
    .illustration
      position: absolute
      left: 42px
      top: -38px
      width: 75.68px