.pBack {
  position: absolute;
  content: '';
  top: 48px;
  left: 32px;
  width: 32px;
  height: 32px;
  display: flex;
  .icon-iconArrowLeft2 {
    font-size: 32px;
    cursor: pointer;
    color: var(--Icon-default, #a7aaaa);
    &:hover {
      color: var(--icon-active, #6c7172);
    }
  }
}

// @media (max-width:1680px)
//   .icon-iconArrowLeft2
//     top: 48px
//     left: 32px
