.pBack {
  position: absolute;
  content: '';
  top: var(--spacing-48, 48px);
  left: var(--spacing-32, 32px);
  width: var(--spacing-32, 32px);
  height: var(--spacing-32, 32px);
  display: flex;
  .icon-iconArrowLeft2 {
    font-size: var(--spacing-32, 32px);
    cursor: pointer;
    color: var(--Icon-default, #a7aaaa);
    &:hover {
      color: var(--Icon-active, #6c7172);
    }
  }
}
