@import '../../assets/css/pVars.sass'
@import '../../assets/css/pFlex.sass'
.pMask
  position: fixed
  z-index: 2
  top: 0
  left:0
  background: rgba(255, 255, 255, 0.1)
  backdrop-filter: blur(16px)
  width: 100%
  height: 100%
  @extend .frcc
  .closeBtn
    position: absolute
    top: 80px
    right: 100px
    width: 48px
    height: 48px
    cursor: pointer
@media (max-width: 1680px)
  .pMask
    .closeBtn
      position: absolute
      top: 90px
      right: 219px
      width: $mIconSize
      height: $mIconSize
