@import '../../assets/css/pVars.sass';
@import '../../assets/css/pFlex.sass';
.pMask {
  --mask-iconClose-top: 0.6122rem;
  --mask-iconClose-right: 1.4898rem;
}
@media (max-width: 1470px) {
  .pMask {
    --mask-iconClose-top: 90px;
    --mask-iconClose-right: 219px;
  }
}
.pMask {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);
  width: 100%;
  height: 100%;
  @extend .frcc;
  > .iconfont {
    position: absolute;
    top: 90px;
    right: 219px;
    font-size: var(--spacing-32, 32px);
    cursor: pointer;

    color: var(--Icon-default, #a7aaaa);
    &:hover {
      color: var(--icon-active, #6c7172);
    }
  }
}
