
.pMask
  position: fixed
  z-index: 2
  background: rgba(255, 255, 255, 0.1)
  backdrop-filter: blur(16px)
  width: 100%
  height: 100%
  .closeBtn
    position: absolute
    top: .4167rem
    right: .5208rem
