@import '@/components/DataSourceOverview/AddSourceSucDialog/index.sass'
.onChainSucDialog
  padding: 64px 50px 50px
@media (max-width: 1680px)
  .onChainSucDialog
    padding: 64px 42px 32px
    main
      img.sucImg
        margin-top: 71px