
.dataSourceItem.emptyDataSourceItem
  width: 386.9952px
  min-height: 241.9968px
  margin-bottom: 32.0064px
  cursor: pointer
  background: rgba(255, 255, 255, 0.6)
  backdrop-filter: blur(15.9936px)
  border-radius: 12px
  display: flex
  justify-content: center
  align-items: center
  .emptyDataSourceItemC
    font-size: 24px
    line-height: 28.992px
    font-family: 'Inter-SemiBold'
    color: #000
    display: flex
    flex-direction: row
    align-items: center
    gap: 3.9936px
    img
      width: 24px
