
.dataSourceItem.emptyDataSourceItem
  width: 2.0156rem
  min-height: 1.2604rem
  margin-bottom: .1667rem
  cursor: pointer
  background: rgba(255, 255, 255, 0.6)
  backdrop-filter: blur(.0833rem)
  border-radius: .0625rem
  display: flex
  justify-content: center
  align-items: center
  .emptyDataSourceItemC
    font-size: .125rem
    line-height: .151rem
    font-family: 'Inter-SemiBold'
    color: #000
    display: flex
    flex-direction: row
    align-items: center
    gap: .0208rem
    img
      width: .125rem
