@import '@/assets/css/padoDialog.scss';
@import '@/assets/css/pSelectOption.scss';
@import '@/assets/css/pFlex.sass';

.connectedDataSourceList {
  --scroll-space-width: 0.2381rem;
  --scroll-width: 2.585rem;
  --scroll-height: 1.415rem;
  --column-gap: 0.0714rem;
  --item-height: 0.5986rem;
}

@media (max-width: 1470px) {
  .connectedDataSourceList {
    --scroll-space-width: 36px;
    --scroll-width: 380px;
    --scroll-height: 208px;
    --column-gap: 10px;
    --item-height: 88px;
  }
}
.connectedDataSourceList {
  --item-width: calc((100% - var(--column-gap, 10.5px) * 3) / 4);
}
.connectedDataSourceList {
  width: 100%;
  &.scroll {
    width: calc(100% + var(--scroll-space-width, 36px));
    // width: 511px;
    height: var(--scroll-height, 238px);
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: var(--spacing-4, 4px);
      height: var(--spacing-100, 100px);
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
      border-radius: var(--spacing-100, 100px);
    }
  }
  ul.dataList {
    @extend .frss;
    width: var(--scroll-width, 380px);
    flex-wrap: wrap;
    // row-gap: var(--spacing-16, 16px);
    // column-gap: var(--spacing-10, 10px);
    li.networkItem {
      @extend .pSelectOption;
      @extend .fccc;
      // width: 87px;
      // height: 88px;

      width: var(--item-width);
      height: var(--item-height);
      gap: var(--spacing-4, 4px);
      margin: 0 var(--column-gap, 10.5px) var(--spacing-16, 16px) 0;
      &:nth-child(4n + 4) {
        margin-right: 0;
      }
      > img {
        width: var(--spacing-32, 32px);
      }
      > h6 {
        color: var(--Text-headline, #0a1214);
        @extend .Headline6;
      }
    }
  }
  .emptyContent {
    width: calc(100% - var(--spacing-36, 36px));
    @extend .fcsc;
    gap: var(--spacing-16, 16px);
    padding-top: var(--spacing-40, 40px);
    > img {
      width: var(--attestationDialog-emptyContent-img-width, 45px);
    }
    >h2 {
      @extend .Text2;
      color: var(--Text-hint, #7b7f80);
      text-align: center;
    }
  }
}
