@import '@/assets/css/padoDialog.scss';
.padoDialog.manageDataDialog {
  --resetPwdDialog-padding: 0.3265rem 0.4082rem 0.381rem;
  --operations-top: -0.2585rem;
}
@media (max-width: 1470px) {
  .padoDialog.manageDataDialog {
    --resetPwdDialog-padding: 48px 60px 56px;
    --operations-top: -38px;
  }
}
.padoDialog.manageDataDialog {
  @extend .padoFormDialogStyle;
  padding: var(--resetPwdDialog-padding, 48px 60px 56px);
  main {
    .formContent {
      .contItem {
        .value {
          width: 100%;
          position: relative;
          .operations {
            position: absolute;
            content: '';
            right: 0;
            top: var(--operations-top,-38px);
            @extend .frsc;
            gap: var(--spacing-12, 12px);
            .operationItem {
              display: flex;
            }
          }
        }
      }
    }
  }
}
