@import '@/assets/css/pVars.sass'
@import '@/assets/css/pDialog.sass'

.manageDataDialog
  padding: 64px 50px 50px
  @extend .fcbc
  position: relative
  main
    width: 100%
    @extend .fcss
    gap: 0
    h1
      @extend .frsc
      gap: $xxsGap
      align-self: center
      @extend .xlLBlackBoldFont
    .scrollList
      .contItem
        @extend .fcss
        gap: 19px
        padding-top: 42px
        .label
          font-size: 20px
          line-height: 26px
          font-family: 'Inter-Medium'
          color: $colLBlack
        .value
          width: 100%
          @extend .frbc
          gap: 44px
          position: relative
          .desc
            font-size: 16px
            line-height: 22px
            font-family: 'Inter-Regular'
            color: $colSBlack
            width: 221px
            word-wrap: break-word
          .con
            padding-right: 35px
          .operations
            position: absolute
            content: ''
            right: 35px
            top: -56px
            @extend .frsc
            gap: 12px
            .operationItem
              display: flex
      &.contItemAssets  
        padding-top: 32px
        gap: 32px        
  button.nextBtn
    height: 58px !important
    position: relative
    &.gray
      background: rgba(0, 0, 0, 0.05)
      &:hover
       background: rgba(0, 0, 0, 0.05)
    .tipWrapper
      position: absolute
      content: ''
      top: -40px
      left: 50%
      transform: translateX(-50%)
      width: 100%
      text-align: center
      .errorTip
        width: fit-content
        margin: 0 auto
        padding: 0 12px
        @include backdropMixin(16px,rgba(0, 0, 0, 0.05))
        font-size: 12px
        line-height: 25px
        font-family: 'Inter-Regualr'
        color: rgba(0,0,0,0.4)
@media (max-width: 1680px)
  .manageDataDialog
    padding: 48px 42px 32px
    main
      gap: 0
      h1
        font-family:'Inter-SemiBold'
      .scrollList
        .contItem
          @extend .fcss
          gap: 14px
          padding-top: 32px
          .label
            color: $colLBlack
          .value
            
            gap: $xxsGap
            
            
            .con
              padding-right: 35px
            .operations
              position: absolute
              content: ''
              right: 35px
              top: -38px
              @extend .frsc
              gap: 12px
              .operationItem
                display: flex
        
    button.nextBtn
      height: 48px !important
      font-family: 'Inter-SemiBold' !important