@import '@/assets/css/pFlex.sass';

@import '@/components/PTabsNew/index.scss';
.pageHeaderWrapper {
  --pageHeader-height: 0.517rem;
  --pageHeader-padding: 0 0.2925rem 0 0.381rem;
  --pageHeader-logo-width: 0.9728rem;
  --pageHeader-dropdown-width: 1.2245rem;
  --pageHeader-dropdown-top: 0.449rem;
  --pageHeader-dropdown-right: -0.034rem;
}
@media (max-width: 1470px) {
  .pageHeaderWrapper {
    --pageHeader-height: 76px;
    --pageHeader-padding: 0 43px 0 56px;
    --pageHeader-logo-width: 143px;
    --pageHeader-dropdown-width: 180px;
    --pageHeader-dropdown-top: 66px;
    --pageHeader-dropdown-right: -5px;
  }
}

.pageHeaderWrapper {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  .pageHeader {
    .pageHeaderInner {
      @extend .frbc;
      width: 100%;
      height: var(--pageHeader-height, 0.517rem);
      padding: var(--pageHeader-padding);
      background: linear-gradient(182deg, #ecf9fb -47.42%, #fbfefe 273.68%);
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
      .pLogo {
        width: var(--pageHeader-logo-width, 143px);
      }
      .pTabsNew {
        @extend .pTabsNewStyle1;
        flex: 1;
        align-self: flex-end;
        text-align: center;
        justify-content: center;
      }
      .rightHeader {
        height: 100%;
        position: relative;
        .rightHeaderInner {
          @extend .frsc;
          height: 100%;
          gap: var(--spacing-12, 12px);
          .iconMyWrapper {
            @extend .frcc;
            cursor: pointer;
            width: var(--spacing-24, 24px);
            height: var(--spacing-24, 24px);
            border-radius: 50%;
            border: 1px solid var(--Text-body, #515758);
            .iconfont {
              font-size: var(--spacing-12, 12px);
            }
          }
        }
        .dropdownWrapper {
          position: absolute;
          z-index: 1;
          right: var(--pageHeader-dropdown-right, -5px);
          top: var(--pageHeader-dropdown-top, 66px);
          ul.padodropdown {
            width: var(--pageHeader-dropdown-width, 180px);
            background: var(--bg-90, rgba(255, 255, 255, 0.9));
          }
        }
      }
    }
  }
}
