@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'
$headerLogoWidth: 158px
$LogoSeparatorHeight: 40px
$LogoTextLineHeight: 18px
$rightHeaderInnerPaddingX: 18px
$dropdownWrapperPadding: 16px
$dropdownWrapperBorderRadius: 12px
$dropdownWrapperTop: 92px
$dropdownItemWrapperY: 8px
$dropdownItemY: 18px
$dropdownItemX: 16px
$lastDropdownItemPaddingTop: 10px
$lastDropdownItemBorderRadius: 8px


.pageHeader
  .pageHeaderInner
    width: 100%
    height: 90px
    padding: 0 50px
    @extend .frbc
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.30) 0.2%, rgba(255, 255, 255, 0.00) 100%)
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05)
    .pLogo
      width: 158px
    .rightHeader
      height: 100%
      position: relative
      .rightHeaderInner
        height: 90px
        @extend .frsc
        gap: var(--spacing-12, 12px)
        .iconMyWrapper
          cursor: pointer
          @extend .frcc
          width: var(--spacing-24, 24px)
          height: var(--spacing-24, 24px)
          border-radius: 90px
          border: 1px solid var(--Text-headline, #0A1214)
          .iconMy
            width: 12px


      .dropdownWrapper
        position: absolute
        z-index: 1
        right: -5px
        top: 87px
  .dataSourceSearch
    display: none
.pageHeaderWrapper
  width: 100%
  
@media (max-width: 1680px)
  .pageHeader
    .pageHeaderInner
      padding: 0 52px
      height: 76px
      .pLogo
        width: 143px
        margin: -3.5px
      .rightHeader
        margin: -3.5px
        .rightHeaderInner
          height: 76px
        .dropdownWrapper
          top: 66px
          
