@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'
$headerLogoWidth: 158px
$LogoSeparatorHeight: 40px
$LogoTextLineHeight: 18px
$rightHeaderInnerPaddingX: 18px
$dropdownWrapperPadding: 16px
$dropdownWrapperBorderRadius: 12px
$dropdownWrapperTop: 92px
$dropdownItemWrapperY: 8px
$dropdownItemY: 18px
$dropdownItemX: 16px
$lastDropdownItemPaddingTop: 10px
$lastDropdownItemBorderRadius: 8px
@mixin pageHeaderMixin($N)
  height: $pageHeaderHeight*$N
  .pLogo
    width: $headerLogoWidth*$N
  .rightHeader
    height: 100%
    .dropdownWrapper
      padding: $dropdownWrapperPadding*$N
      top: $dropdownWrapperTop*$N
      border-radius: $dropdownWrapperBorderRadius*$N
      .dropdown
        .dropdownItemWrapper
          padding: $dropdownItemWrapperY*$N 0
          .dropdownItem
            padding: $dropdownItemY*$N $dropdownItemX*$N
            gap: $xsGap*$N
            img
              width: $xxsIconSize*$N
          &:last-child
            padding: $lastDropdownItemPaddingTop*$N 0 0 0
            .dropdownItem
              border-radius: $lastDropdownItemBorderRadius*$N


.pageHeader
  .pageHeaderInner
    width: 100%
    @include pageHeaderMixin(1)
    padding: 0 50px
    @extend .frbc
  .rightHeader
    position: relative
    .rightHeaderInner
      height: $pageHeaderHeight
      @extend .frsc
    .dropdownWrapper
      position: absolute
      z-index: 9999
      right: 0
      background: #FFFFFF
      box-shadow: 0 24px 32px rgba(0, 0, 0, 0.1)
      top: 92px
      .dropdown
        .dropdownItemWrapper
          border-bottom: 1PX solid rgba(0, 0, 0, 0.05)
          padding: 0
          .dropdownItem
            display: flex
            @extend .sFont
            font-family: 'Inter-Medium'
            color: $colLBlack
            cursor: pointer
            width: 214px
            padding: 18px 0 18px 16px
            >img
              width: 18px
          &:last-child
            border-bottom: 0
            .dropdownItem
              background: rgba(0, 0, 0, 0.05)
    
  .dataSourceSearch
    display: none
.pageHeaderWrapper
  width: 100%
  &.scroll
    position: fixed
    top: 0
    left: 0
    z-index: 2
    .pageHeader
      width: 100%
      height: 100px
      background: rgba(255, 255, 255, 0.3)
      backdrop-filter: blur(16px)
      .dataSourceSearch
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        display: flex
        width: 1032px
        padding-top: 0
// @media (max-width: 1920px)

@media (max-width: 1680px)
  .pageHeader
    .pageHeaderInner
      padding: 0 52px
    .pLogo
      width: 143px
      margin: -3.5px
    .rightHeader
      margin: -3.5px


      .dropdownWrapper
        top: 85.5px
        .dropdown
          .dropdownItemWrapper
            padding: 0
            .dropdownItem
              width: 176px
              padding: 12px 0 12px 16px
