
.pTabs
  padding: 3.9936px
  background: rgba(255, 255, 255, 0.6)
  backdrop-filter: blur(15.9936px)
  border-radius: 99.9936px
  display: flex
  .tab
    cursor: pointer
    padding: 15.9936px 32.0064px
    border-radius: 99.9936px
    display: flex
    gap: 8.0064px
    font-size: 18.0096px
    line-height: 22.0032px
    font-family: 'Inter-SemiBold'
    color: rgba(0,0,0,0.6)
    &.focusTab
      color: #000000
    &.activeTab
      background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
      color: #000000
    img
      width: 24px
