
.pTabs
  padding: .0208rem
  background: rgba(255, 255, 255, 0.6)
  backdrop-filter: blur(.0833rem)
  border-radius: .5208rem
  display: flex
  .tab
    padding: .0833rem .1667rem
    border-radius: .5208rem
    display: flex
    gap: .0417rem
    font-size: .0938rem
    line-height: .1146rem
    font-family: 'Inter-SemiBold'
    color: rgba(0,0,0,0.6)
    &.activeTab
      background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
      color: #000000
    img
      width: .125rem
