@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFont.sass'
$pTabsPadding: 4px
$pTabsBorderRaiuds: 100px
$tabspaddingY: 16px
$tabspaddingX: 32px
$tabIconWidth: 24px
$tabFontSize: 18px
$tabLineHeight: 22px

@mixin ptabsMinxin($N)
  padding: $pTabsPadding *$N
  .tab
    padding: $tabspaddingY*$N $tabspaddingX*$N
    border-radius: $pTabsBorderRaiuds*$N
    img
      width: $tabIconWidth*$N

.pTabs
  @include ptabsMinxin(1)
  // padding: 4px
  @include backdropMixin(16px,$colSWhite,$xxLBorderRadius)
  display: flex
  .tab
    cursor: pointer
    display: flex
    gap: $xxsGap
    @extend .mSBlackSemiBoldFont
    &.focusTab
      color: #000000
    &.activeTab
      background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
      color: #000000
// @media (max-width: 1680px)
//   .pTabs
//     @include ptabsMinxin($mN)
// @media (max-width: 1440px)
//   .pTabs
//     @include ptabsMinxin($sN)
//     .tab
//       font-size: 16px
//       line-height: 19px
// @media (max-width: 1366px)
//   .pTabs
//     @include ptabsMinxin($xsN)
