@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/mixins.scss';

.pageEventDetail {
  @include fcss;
  margin: 0 auto;
  // overflow-y: auto;
  .pageContent {
    padding: 40px 0 20px 0;
    @include fcss;
    gap: var(--spacing-40);
    .brief {
      @include fcss;
      gap: var(--spacing-16);
      .picContent {
        width: 100%;
        height: 100%;
        @include frsc;
        gap: var(--spacing-16);
        @include HeadlineH0;
        .splicedIcons {
          margin-right: calc(-1 * var(--spacing-8));
          > img {
            width: var(--spacing-52);
          }
        }
      }
      .txtWrapper {
        @include fcss;
        gap: var(--spacing-16);
        .descItems {
          @include frsc;
          gap: var(--spacing-32);
          .descItem {
            @include frsc;
            gap: var(--spacing-8);
            @include Label01;
            .iconfont {
              font-size: var(--spacing-16);
            }
          }
        }
        .desc {
          @include BodyBody100;
          color: var(--text-tokens-text-tertiary);
        }
      }
    }
    .taskList {
      width: 100%;
      @include fcss;
      gap: var(--spacing-16);
      .title {
        @include HeadlineH2;
      }
      .tasks {
        @include fcss;
        width: 100%;
        gap: var(--spacing-16);
        .task {
          width: 100%;
          @include clickableCard;
          @include frbc;
          padding: 0 var(--spacing-40) 0 var(--spacing-24);
          height: 72px;
          .left {
            @include frsc;
            gap: var(--spacing-16);
            @include HeadlineH3;
          }
          .right {
            @include frsc;
            gap: var(--spacing-40);
            .process {
              @include fcss;
              justify-content: flex-end;
              .txt {
                @include Label01;
                color: var(--text-tokens-text-secondary);
              }
              .bar {
                width: 148px;
                height: var(--spacing-4);
                background: var(--neutral-color-gray-10);
              }
            }
          }
        }
      }
    }
  }
}
