@mixin frss {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
@mixin frcs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
@mixin frcc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin frbs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@mixin frbc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@mixin frac {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@mixin frsc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@mixin fcbs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@mixin fccc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin fccs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@mixin fcss {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@mixin fcsc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@mixin fcbc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
