// <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Overpass&display=swap" rel="stylesheet">
@mixin HeadlineH0 {
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
@mixin HeadlineH1 {
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
@mixin HeadlineH2 {
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
@mixin HeadlineH3 {
  font-feature-settings: 'ss08' on;

  font-family: 'IBM Plex Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
@mixin HeadlineH4 {
  font-feature-settings: 'ss08' on;

  font-family: 'IBM Plex Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
// @mixin HeadlineH5 {
//   font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

//   font-family: 'IBM Plex Sans';
//   font-size: 14px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 125%; /* 17.5px */
// }

@mixin BodyBody100 {
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.16px;
}
@mixin BodyBody100semibold {
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 18px;
}
@mixin BodyBody200 {
  color: #c6c6c6;
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 18px;
}
@mixin BodyBody200Bold {
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 18px;
}
@mixin BodyBody300 {
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 16px;
}
@mixin BodyBody300Bold {
  font-family: 'IBM Plex Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 16px;
}
@mixin BodyBody400 {
  font-family: 'IBM Plex Sans';
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 16px;
}
@mixin BodyBody400Bold {
  font-family: 'IBM Plex Sans';
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 16px;
}

// TODO 10px
@mixin Hint {
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 16px;
}

// TODO-newui
@mixin Error {
  color: var(--Text-Tokens-text-error, #fa4d56);
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;
  /* Error */
  font-family: 'IBM Plex Sans';
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

@mixin TextLinkLink {
  // color: var(--Brand-Primary-Color-BP-50, #00c7f2);
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;
  /* TextLink/Hover */
  font-family: 'IBM Plex Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
}
.TextLinkLink {
  @include TextLinkLink;
  &:hover {
    text-decoration-line: underline;
  }
}

@mixin Tab {
  color: var(--Text-Tokens-text-inverse, #fff);
  /* Tab */
  font-family: 'IBM Plex Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 16px;
}

@mixin Label01 {
  /* Label 01 */
  font-family: 'IBM Plex Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 18px;
}
@mixin Label02 {
  /* Label 02 */
  font-family: 'IBM Plex Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 18px;
}

@mixin Title {
  color: var(--Text-Tokens-text-inverse, #fff);
  /* Title */
  font-family: 'IBM Plex Sans';
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 60px;
}

.textlink {
  font-size: 14px;
  font-family: IBM Plex Sans;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 18px;
}
.button-button {
  font-size: 14px;
  font-family: IBM Plex Sans;
  font-weight: 500;
  letter-spacing: 0.1599999964237213px;
  line-height: 18px;
}
.number-time {
  font-size: 14px;
  font-family: IBM Plex Mono;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 18px;
}
.number-title {
  font-size: 32px;
  font-family: IBM Plex Mono;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 40px;
}
.number-h1 {
  font-size: 20px;
  font-family: IBM Plex Mono;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 28px;
}
.number-body-100 {
  font-size: 14px;
  font-family: IBM Plex Mono;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 18px;
}
.number-hint {
  font-size: 10px;
  font-family: IBM Plex Mono;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 16px;
}
.number-title-1 {
  font-size: 32px;
  font-family: IBM Plex Mono;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 40px;
}
.number-body-100-semibold {
  font-size: 14px;
  font-family: IBM Plex Mono;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 18px;
}
.number-body {
  font-size: 12px;
  font-family: IBM Plex Mono;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 125%;
}

.body-body-1 {
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
}
.body-body-2 {
  font-size: 14px;
  font-family: Inter;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 24px;
}

.number-id {
  font-size: 14px;
  font-family: IBM Plex Mono;
  font-weight: 400;
  letter-spacing: 0.1599999964237213px;
  line-height: 18px;
}
