
// <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800;900&family=Overpass&display=swap" rel="stylesheet">
@mixin HeadlineH1 {
  color: var(--Text-Tokens-text-inverse, #fff);
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}
@mixin HeadlineH2 {
  color: var(--Text-Tokens-text-inverse, #fff);
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
}
@mixin HeadlineH3 {
  color: var(--Text-Tokens-text-inverse, #fff);
  font-feature-settings: 'ss08' on;

  font-family: 'IBM Plex Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
@mixin HeadlineH4 {
  color: var(--Text-Tokens-text-inverse, #fff);
  font-feature-settings: 'ss08' on;

  font-family: 'IBM Plex Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
}
@mixin HeadlineH5 {
  color: var(--Text-Tokens-text-inverse, #fff);
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
}

@mixin BodyBody100 {
  color: var(--Text-Tokens-text-inverse, #fff);
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.16px;
}
@mixin BodyBody100semibold {
  color: var(--Text-Tokens-text-inverse, #fff);
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}
@mixin BodyBody200 {
  color: #c6c6c6;
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
}
@mixin BodyBody200Bold {
  color: var(--Text-Tokens-text-inverse, #fff);
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 138.462% */
}
@mixin BodyBody300 {
  color: var(--Text-Tokens-text-inverse, #fff);
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
@mixin BodyBody300Bold {
  color: var(--Text-Tokens-text-inverse, #fff);

  font-family: 'IBM Plex Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
}
@mixin BodyBody400 {
  color: var(--Text-Tokens-text-inverse, #fff);

  font-family: 'IBM Plex Sans';
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 145.455% */
}
@mixin BodyBody400Bold {
  color: var(--Text-Tokens-text-inverse, #fff);

  font-family: 'IBM Plex Sans';
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 145.455% */
}

// TODO 10px
@mixin Hint {
  color: var(--Text-Tokens-text-inverse, #fff);
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;

  font-family: 'IBM Plex Sans';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 160% */
}

@mixin Error {
  color: var(--Text-Tokens-text-error, #fa4d56);
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;
  /* Error */
  font-family: 'IBM Plex Sans';
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 145.455% */
}

@mixin TextLinkLink {
  color: var(--Brand-Primary-Color-BP-50, #00c7f2);
  font-feature-settings: 'ss08' on, 'clig' off, 'liga' off;
  /* TextLink/Hover */
  font-family: 'IBM Plex Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}
.TextLinkLink {
  @include TextLinkLink;
  &:hover {
    text-decoration-line: underline;
  }
}

@mixin Tab {
  color: var(--Text-Tokens-text-inverse, #fff);
  /* Tab */
  font-family: 'IBM Plex Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
}

@mixin Label {
  color: var(--Text-Tokens-text-inverse, #fff);
  /* Label 01 */
  font-family: 'IBM Plex Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

@mixin Title {
  color: var(--Text-Tokens-text-inverse, #fff);
  /* Title */
  font-family: 'IBM Plex Sans';
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 136.364% */
}
