:root {
  --brand-primary-color-bp-10: #e8ffff;
  --brand-primary-color-bp-100: #051619;
  --brand-primary-color-bp-20: #ccf4fc;
  --brand-primary-color-bp-30: #a0f7ff;
  --brand-primary-color-bp-40: #7bf0ff;
  --brand-primary-color-bp-50: #00c7f2;
  --brand-primary-color-bp-60: #20acd2;
  --brand-primary-color-bp-70: #1181a6;
  --brand-primary-color-bp-80: #065979;
  --brand-primary-color-bp-90: #00344d;
  --brand-primary-color-bp-95: #1a2e32;
  --brand-secondary-color-bs-10: #e8fff0;
  --brand-secondary-color-bs-100: #071911;
  --brand-secondary-color-bs-20: #c7ffdd;
  --brand-secondary-color-bs-30: #a6ffcd;
  --brand-secondary-color-bs-40: #85ffbe;
  --brand-secondary-color-bs-50: #43ffa8;
  --brand-secondary-color-bs-60: #29d289;
  --brand-secondary-color-bs-70: #16a66c;
  --brand-secondary-color-bs-80: #087950;
  --brand-secondary-color-bs-90: #004d33;
  --functional-color-green-green-10: #defbe6;
  --functional-color-green-green-30: #6fdc8c;
  --functional-color-green-green-50: #24a148;
  --functional-color-green-green-70: #0e6027;
  --functional-color-green-green-90: #022d0d;
  --functional-color-orange-orange-10: #fff2e8;
  --functional-color-orange-orange-30: #ffb784;
  --functional-color-orange-orange-50: #eb6200;
  --functional-color-orange-orange-70: #8a3800;
  --functional-color-orange-orange-90: #3e1a00;
  --functional-color-red-red-10: #fff1f1;
  --functional-color-red-red-30: #ffb3b8;
  --functional-color-red-red-50: #fa4d56;
  --functional-color-red-red-70: #a2191f;
  --functional-color-red-red-90: #520408;
  --neutral-color-black: #000000;
  --neutral-color-gray-10: #f4f4f4;
  --neutral-color-gray-100: #161616;
  --neutral-color-gray-20: #e0e0e0;
  --neutral-color-gray-30: #c6c6c6;
  --neutral-color-gray-40: #a8a8a8;
  --neutral-color-gray-50: #8d8d8d;
  --neutral-color-gray-60: #6f6f6f;
  --neutral-color-gray-65: #5a5a5a;
  --neutral-color-gray-70: #525252;
  --neutral-color-gray-80: #393939;
  --neutral-color-gray-85: #313131;
  --neutral-color-gray-90: #262626;
  --neutral-color-gray-95: #1d1d1d;
  --neutral-color-white: #ffffff;

  --Radius-radius-xxs: 2px;
  --Radius-radius-xs: 4px;
  --Radius-radius-m: 8px;
  --Radius-radius-l: 16px;
  --Radius-radius-xl: 100px;
  --spacing-4px: 4px;
  --spacing-8px: 8px;
  --spacing-12px: 12px;
  --spacing-16px: 16px;
  --spacing-20px: 20px;
  --spacing-24px: 24px;
  --spacing-32px: 32px;
  --spacing-40px: 40px;
  --spacing-48px: 48px;



  --Text-Tokens-text-hover: var(--neutral-color-gray-30);
  --text-button-disabled: var(--neutral-color-gray-40);
}
.pageOuterWrapper.light {
  --background-tokens-background: var(--neutral-color-gray-10);
  --background-tokens-background-brand: var(--brand-primary-color-bp-50);
  --background-tokens-background-inverse: var(--neutral-color-gray-90);
  --background-tokens-background-inverse-hover: var(--neutral-color-gray-85);
  --background-tokens-background-nav: var(--neutral-color-gray-10);
  --background-tokens-background-nav-selected: var(--brand-primary-color-bp-10);
  --Border-Tokens-border-disabled: var(--neutral-color-gray-30);
  --Border-Tokens-border-inverse: var(--neutral-color-gray-100);
  --Border-Tokens-border-primary: var(--neutral-color-gray-20);
  --Border-Tokens-border-primary-hover: var(--brand-primary-color-bp-50);
  --Button-Tokens-button-disabled: var(--neutral-color-gray-20);
  --Button-Tokens-button-primary: var(--neutral-color-gray-80);
  --button-tokens-button-primary-active: var(--neutral-color-gray-60);
  --button-tokens-button-primary-hover: var(--neutral-color-gray-70);
  --icon-tokens-icon-disabled: var(--neutral-color-gray-30);
  --icon-tokens-icon-interactive: var(--brand-primary-color-bp-50);
  --icon-tokens-icon-inverse: var(--neutral-color-white);
  --icon-tokens-icon-primary: var(--neutral-color-gray-100);
  --icon-tokens-icon-secondary: var(--neutral-color-gray-70);
  --icon-tokens-icon-tertiary: var(--neutral-color-gray-60);
  --Layer-Tokens-layer-primary: var(--neutral-color-gray-10);
  --Layer-Tokens-layer-primary-hover: var(--neutral-color-gray-20);
  --Layer-Tokens-layer-primary-selected: var(--neutral-color-gray-30);
  --Layer-Tokens-layer-secondary: var(--neutral-color-gray-30);
  --Layer-Tokens-layer-secondary-hover: var(--neutral-color-gray-40);
  --Layer-Tokens-layer-secondary-selected: var(--neutral-color-gray-50);
  --tag-tokens-tag-brand: var(--brand-primary-color-bp-20);
  --tag-tokens-tag-brand-text: var(--brand-primary-color-bp-90);
  --Text-Tokens-text-primary: var(--neutral-color-gray-100);
  --Text-Tokens-text-disabled: var(--neutral-color-gray-30);
  --Text-Tokens-text-error: var(--functional-color-red-red-50);
  --Text-Tokens-text-inverse: var(--neutral-color-white);
  --Text-Tokens-text-placeholder: var(--neutral-color-gray-40);
  --Text-Tokens-text-secondary: var(--neutral-color-gray-70);
  --Text-Tokens-text-tertiary: var(--neutral-color-gray-60);



  --Border-disabled: var(--neutral-color-gray-10);
}
.pageOuterWrapper.dark {
  --background-tokens-background: var(--neutral-color-gray-100);
  --background-tokens-background-brand: var(--brand-primary-color-bp-50);
  --background-tokens-background-hover: var(--neutral-color-gray-90);
  --background-tokens-background-inverse: var(--neutral-color-gray-10);
  --background-tokens-background-inverse-hover: var(--neutral-color-gray-20);
  --background-tokens-background-nav: var(--neutral-color-white);
  --background-tokens-background-nav-selected: var(--brand-primary-color-bp-95);
  --Border-Tokens-border-disabled: var(--neutral-color-gray-90);
  --Border-Tokens-border-inverse: var(--neutral-color-gray-10);
  --Border-Tokens-border-primary: var(--neutral-color-gray-80);
  --Button-Tokens-button-disabled: var(--neutral-color-gray-90);
  --Button-Tokens-button-primary: var(--neutral-color-gray-60);
  --button-tokens-button-primary-active: var(--neutral-color-gray-80);
  --button-tokens-button-primary-hover: var(--neutral-color-gray-70);
  --icon-tokens-icon-disabled: var(--neutral-color-gray-70);
  --icon-tokens-icon-interactive: var(--neutral-color-white);
  --icon-tokens-icon-inverse: var(--neutral-color-gray-100);
  --icon-tokens-icon-primary: var(--neutral-color-gray-10);
  --icon-tokens-icon-secondary: var(--neutral-color-gray-30);
  --icon-tokens-icon-tertiary: var(--neutral-color-gray-50);
  --Layer-Tokens-layer-primary: var(--neutral-color-gray-90);
  --Layer-Tokens-layer-primary-hover: var(--neutral-color-gray-85);
  --Layer-Tokens-layer-primary-selected: var(--neutral-color-gray-80);
  --Layer-Tokens-layer-secondary: var(--neutral-color-gray-70);
  --Layer-Tokens-layer-secondary-hover: var(--neutral-color-gray-65);
  --Layer-Tokens-layer-secondary-selected: var(--neutral-color-gray-60);
  --tag-tokens-tag-brand: var(--neutral-color-gray-90);
  --tag-tokens-tag-brand-text: var(--brand-primary-color-bp-20);
  --Text-Tokens-text-primary: var(--neutral-color-gray-10);
  --Text-Tokens-text-disabled: var(--neutral-color-gray-70);
  --Text-Tokens-text-error: var(--functional-color-red-red-50);
  --Text-Tokens-text-inverse: var(--neutral-color-gray-100);
  --Text-Tokens-text-placeholder: var(--neutral-color-gray-60);
  --Text-Tokens-text-secondary: var(--neutral-color-gray-30);
  --Text-Tokens-text-tertiary: var(--neutral-color-gray-50);

  --Border-disabled: var(--neutral-color-gray-90);
}

.disabled {
  cursor: not-allowed;
}
