:root {
  --brand-primary-color-bp-10: #e8ffff;
  --brand-primary-color-bp-100: #051619;
  --brand-primary-color-bp-20: #ccf4fc;
  --brand-primary-color-bp-30: #a0f7ff;
  --brand-primary-color-bp-40: #7bf0ff;
  --brand-primary-color-bp-50: #00c7f2;
  --brand-primary-color-bp-60: #20acd2;
  --brand-primary-color-bp-70: #1181a6;
  --brand-primary-color-bp-80: #065979;
  --brand-primary-color-bp-90: #00344d;
  --brand-primary-color-bp-95: #1a2e32;
  --brand-secondary-color-bs-10: #e8fff0;
  --brand-secondary-color-bs-100: #071911;
  --brand-secondary-color-bs-15: #e8fff0;
  --brand-secondary-color-bs-20: #c7ffdd;
  --brand-secondary-color-bs-30: #a6ffcd;
  --brand-secondary-color-bs-40: #85ffbe;
  --brand-secondary-color-bs-50: #43ffa8;
  --brand-secondary-color-bs-60: #29d289;
  --brand-secondary-color-bs-70: #16a66c;
  --brand-secondary-color-bs-80: #087950;
  --brand-secondary-color-bs-90: #004d33;
  --brand-secondary-color-bs-95: #233f32;
  --functional-color-green-green-10: #defbe6;
  --functional-color-green-green-30: #6fdc8c;
  --functional-color-green-green-50: #24a148;
  --functional-color-green-green-70: #0e6027;
  --functional-color-green-green-90: #022d0d;
  --functional-color-orange-orange-10: #fff2e8;
  --functional-color-orange-orange-30: #ffb784;
  --functional-color-orange-orange-50: #eb6200;
  --functional-color-orange-orange-70: #8a3800;
  --functional-color-orange-orange-90: #3e1a00;
  --functional-color-red-red-10: #fff1f1;
  --functional-color-red-red-30: #ffb3b8;
  --functional-color-red-red-50: #fa4d56;
  --functional-color-red-red-70: #a2191f;
  --functional-color-red-red-90: #520408;
  --neutral-color-black: #000000;
  -neutral-color-black-blur: #00000099;
  --neutral-color-gray-05: #f9f9f9;
  --neutral-color-gray-10: #f4f4f4;
  --neutral-color-gray-15: #ececec;
  --neutral-color-gray-100: #161616;
  --neutral-color-gray-20: #e0e0e0;
  --neutral-color-gray-30: #c6c6c6;
  --neutral-color-gray-40: #a8a8a8;
  --neutral-color-gray-50: #8d8d8d;
  --neutral-color-gray-60: #6f6f6f;
  --neutral-color-gray-65: #5a5a5a;
  --neutral-color-gray-70: #525252;
  --neutral-color-gray-80: #393939;
  --neutral-color-gray-85: #313131;
  --neutral-color-gray-90: #262626;
  --neutral-color-gray-95: #1d1d1d;
  --neutral-color-white: #ffffff;
  -neutral-color-white-blur: #ffffff99;
  -base-color-blue-blue-10: #e5f6ff;
  -base-color-blue-blue-30: #82cfff;
  -base-color-blue-blue-50: #1192e8;
  -base-color-blue-blue-70: #00539a;
  -base-color-blue-blue-90: #012749;
  -base-color-cool-gray-cool-gray-10: #e1e8f3;
  -base-color-cool-gray-cool-gray-30: #b5bfcc;
  -base-color-cool-gray-cool-gray-50: #7b889b;
  -base-color-cool-gray-cool-gray-70: #4c5763;
  -base-color-cool-gray-cool-gray-90: #252f39;
  -base-color-purple-purple-10: #f6f2ff;
  -base-color-purple-purple-30: #d4bbff;
  -base-color-purple-purple-50: #8a3ffc;
  -base-color-purple-purple-70: #491d8b;
  -base-color-purple-purple-90: #31135e;
  -base-color-teal-teal-10: #d9fbfb;
  -base-color-teal-teal-30: #9ef0f0;
  -base-color-teal-teal-50: #08bdba;
  -base-color-teal-teal-70: #007d79;
  -base-color-teal-teal-90: #004144;
  -base-color-yellow-yellow-10: #fff1cc;
  -base-color-yellow-yellow-30: #ffdb80;
  -base-color-yellow-yellow-50: #ffb700;
  -base-color-yellow-yellow-70: #b38000;
  -base-color-yellow-yellow-90: #4c3700;
  --Radius-radius-xxs: 2px;
  --Radius-radius-xs: 4px;
  --Radius-radius-m: 8px;
  --Radius-radius-l: 16px;
  --Radius-radius-xl: 100px;
  --spacing-4px: 4px;
  --spacing-8px: 8px;
  --spacing-12px: 12px;
  --spacing-16px: 16px;
  --spacing-20px: 20px;
  --spacing-24px: 24px;
  --spacing-32px: 32px;
  --spacing-40px: 40px;
  --spacing-48px: 48px;

  --Text-Tokens-text-hover: var(--neutral-color-gray-30);
  --text-button-disabled: var(--neutral-color-gray-40);
  --dark-text-text-tertiary: var(--neutral-color-gray-50);
  --text-button-disabled: var(--neutral-color-gray-40);
}
.pageApp.light {
  --Background-Tokens-background: var(--neutral-color-gray-05);
  --Background-Tokens-background-brand: var(--brand-primary-color-bp-50);
  --Background-Tokens-background-hover: var(--neutral-color-gray-10);
  --Background-Tokens-background-inverse: var(--neutral-color-gray-90);
  --Background-Tokens-background-inverse-hover: var(--neutral-color-gray-85);
  --Background-Tokens-background-navi: var(--neutral-color-white);
  --Background-Tokens-background-navi-selected: var(
    --brand-primary-color-bp-10
  );
  -background-tokens-background-selected: var(--neutral-color-gray-20);
  -border-tokens-border-chart: var(--neutral-color-gray-10);
  --Border-Tokens-border-disabled: var(--neutral-color-gray-30);
  --Border-Tokens-border-inverse: var(--neutral-color-gray-100);
  --Border-Tokens-border--primary: var(--neutral-color-gray-20);
  --Border-Tokens-border-bp: var(--brand-primary-color-bp-50);
  -border-tokens-border-primary-selected-gray: var(--neutral-color-gray-30);
  --Button-Tokens-button-disabled: var(--neutral-color-gray-20);
  --Button-Tokens-button-primary: var(--neutral-color-gray-100);
  --button-tokens-button-primary-active: var(--neutral-color-gray-60);
  --button-tokens-button-primary-hover: var(--neutral-color-gray-70);
  -button-tokens-button-text-link: var(--neutral-color-gray-100);
  -button-tokens-button-text-link-hover: var(--brand-primary-color-bp-60);
  --icon-tokens-icon-disabled: var(--neutral-color-gray-30);
  --icon-tokens-icon-interactive: var(--brand-primary-color-bp-50);

  --icon-tokens-icon-inverse: var(--neutral-color-white);
  --icon-tokens-icon-primary: var(--neutral-color-gray-100);
  --icon-tokens-icon-secondary: var(--neutral-color-gray-70);
  --icon-tokens-icon-tertiary: var(--neutral-color-gray-60);

  -layer-tokens-layer-02: var(--neutral-color-gray-20);
  -layer-tokens-layer-03: var(--neutral-color-gray-100);
  -layer-tokens-layer-bp: var(--brand-primary-color-bp-50);
  -layer-tokens-layer-blue: var(--base-color-blue-blue-50);
  -layer-tokens-layer-blue-background: var(--base-color-blue-blue-10);
  -layer-tokens-layer-blur: var(--neutral-color-white-blur);
  -layer-tokens-layer-cool-gray: var(--base-color-cool-gray-cool-gray-50);
  -layer-tokens-layer-cool-gray-background: var(
    --base-color-cool-gray-cool-gray-10
  );
  -layer-tokens-layer-error: var(--functional-color-red-red-50);
  -layer-tokens-layer-fill: var(--brand-primary-color-bp-50);
  -layer-tokens-layer-green: var(--functional-color-green-green-50);
  -layer-tokens-layer-green-background: var(--functional-color-green-green-10);

  -layer-tokens-layer-on-primary: var(--neutral-color-gray-05);
  -layer-tokens-layer-on-primary-selected: var(--neutral-color-gray-15);
  --Layer-Tokens-layer-primary: var(--neutral-color-gray-white);
  --Layer-Tokens-layer-primary-hover: var(--neutral-color-gray-10);
  --Layer-Tokens-layer-primary-selected: var(--neutral-color-gray-20);
  -layer-tokens-layer-purple: var(--base-color-purple-purple-50);
  -layer-tokens-layer-purple-background: var(--base-color-purple-purple-10);
  --Layer-Tokens-layer-secondary: var(--neutral-color-gray-30);
  --Layer-Tokens-layer-secondary-hover: var(--neutral-color-gray-40);
  --Layer-Tokens-layer-secondary-selected: var(--neutral-color-gray-50);
  -layer-tokens-layer-teal: var(--base-color-teal-teal-50);
  -layer-tokens-layer-teal-background: var(--base-color-teal-teal-10);
  -layer-tokens-layer-yellow: var(--base-color-yellow-yellow-50);
  -layer-tokens-layer-yellow-background: var(--base-color-yellow-yellow-10);
  -tag-tokens-tag-blue: var(--base-color-blue-blue-30);
  -tag-tokens-tag-blue-text: var(--base-color-blue-blue-90);
  --tag-tokens-tag-brand: var(--brand-primary-color-bp-20);
  --tag-tokens-tag-brand-text: var(--brand-primary-color-bp-90);
  -tag-tokens-tag-purple: var(--base-color-purple-purple-30);
  -tag-tokens-tag-purple-text: var(--base-color-purple-purple-90);
  -tag-tokens-tag-yellow: var(--base-color-yellow-yellow-30);
  -tag-tokens-tag-yellow-text: var(--base-color-yellow-yellow-90);
  -text-tokens-text-bp: var(--brand-primary-color-bp-60);
  -text-tokens-text-correct: var(--functional-color-green-green-50);
  -text-tokens-text-hover: var(--neutral-color-gray-30);
  -text-tokens-text-on-color: var(--neutral-color-white);
  --Text-Tokens-text-primary: var(--neutral-color-gray-100);
  --Text-Tokens-text-disabled: var(--neutral-color-gray-30);
  --Text-Tokens-text-error: var(--functional-color-red-red-50);
  --Text-Tokens-text-inverse: var(--neutral-color-white);
  --Text-Tokens-text-placeholder: var(--neutral-color-gray-40);
  --Text-Tokens-text-secondary: var(--neutral-color-gray-70);
  --Text-Tokens-text-tertiary: var(--neutral-color-gray-60);

  --Border-disabled: var(--neutral-color-gray-10);
}
.pageApp.dark {
  --Background-Tokens-background: var(--neutral-color-gray-100);
  --Background-Tokens-background-brand: var(--brand-primary-color-bp-50);
  --Background-Tokens-background-hover: var(--neutral-color-gray-90);
  --Background-Tokens-background-inverse: var(--neutral-color-gray-10);
  --Background-Tokens-background-inverse-hover: var(--neutral-color-gray-20);
  --Background-Tokens-background-navi: var(--neutral-color-gray-10);
  --Background-Tokens-background-navi-selected: var(
    --brand-primary-color-bp-95
  );
  -background-tokens-background-selected: var(--neutral-color-gray-80);
  -border-tokens-border-chart: var(--neutral-color-gray-90);
  --Border-Tokens-border-disabled: var(--neutral-color-gray-90);
  --Border-Tokens-border-inverse: var(--neutral-color-gray-10);
  --Border-Tokens-border--primary: var(--neutral-color-gray-80);
  -border-tokens-border-bp: var(--brand-primary-color-bp-50);
  -border-tokens-border-primary-selected-gray: var(--neutral-color-gray-70);
  --Button-Tokens-button-disabled: var(--neutral-color-gray-90);
  --Button-Tokens-button-primary: var(--neutral-color-white);
  --button-tokens-button-primary-active: var(--neutral-color-gray-80);
  --button-tokens-button-primary-hover: var(--neutral-color-gray-70);

  -button-tokens-button-text-link: var(--neutral-color-white);
  -button-tokens-button-text-link-hover: var(--brand-primary-color-bp-60);
  --icon-tokens-icon-disabled: var(--neutral-color-gray-70);
  --icon-tokens-icon-interactive: var(-brand-primary-color-bp-50);
  --icon-tokens-icon-inverse: var(--neutral-color-gray-100);
  --icon-tokens-icon-primary: var(--neutral-color-gray-10);
  --icon-tokens-icon-secondary: var(--neutral-color-gray-30);
  --icon-tokens-icon-tertiary: var(--neutral-color-gray-50);

  -layer-tokens-layer-02: var(--neutral-color-gray-70);
  -layer-tokens-layer-03: var(--neutral-color-gray-10);
  -layer-tokens-layer-bp: var(--brand-primary-color-bp-50);
  -layer-tokens-layer-blue: var(--base-color-blue-blue-50);
  -layer-tokens-layer-blue-background: var(--base-color-blue-blue-10);
  -layer-tokens-layer-blur: var(--neutral-color-black-blur);
  -layer-tokens-layer-cool-gray: var(--base-color-cool-gray-cool-gray-50);
  -layer-tokens-layer-cool-gray-background: var(
    --base-color-cool-gray-cool-gray-10
  );
  -layer-tokens-layer-error: var(--functional-color-red-red-50);
  -layer-tokens-layer-fill: var(--brand-primary-color-bp-50);
  -layer-tokens-layer-green: var(--functional-color-green-green-50);
  -layer-tokens-layer-green-background: var(--functional-color-green-green-10);
  -layer-tokens-layer-interactive: var(--brand-primary-color-bp-50);

  -layer-tokens-layer-on-primary: var(--neutral-color-gray-90);
  -layer-tokens-layer-on-primary-selected: var(--neutral-color-gray-85);
  --Layer-Tokens-layer-primary: var(--neutral-color-gray-95);
  --Layer-Tokens-layer-primary-hover: var(--neutral-color-gray-85);
  --Layer-Tokens-layer-primary-selected: var(--neutral-color-gray-80);
  -layer-tokens-layer-purple: var(--base-color-purple-purple-50);
  -layer-tokens-layer-purple-background: var(--base-color-purple-purple-10);
  --Layer-Tokens-layer-secondary: var(--neutral-color-gray-70);
  --Layer-Tokens-layer-secondary-hover: var(--neutral-color-gray-65);
  --Layer-Tokens-layer-secondary-selected: var(--neutral-color-gray-60);
  -layer-tokens-layer-teal: var(--base-color-teal-teal-50);
  -layer-tokens-layer-teal-background: var(--base-color-teal-teal-10);
  -layer-tokens-layer-yellow: var(--base-color-yellow-yellow-50);
  -layer-tokens-layer-yellow-background: var(--base-color-yellow-yellow-10);
  -tag-tokens-tag-blue: var(--base-color-blue-blue-90);
  -tag-tokens-tag-blue-text: var(--base-color-blue-blue-10);
  --tag-tokens-tag-brand: var(--neutral-color-gray-90);
  --tag-tokens-tag-brand-text: var(--brand-primary-color-bp-20);
  -tag-tokens-tag-purple: var(--base-color-purple-purple-90);
  -tag-tokens-tag-purple-text: var(--base-color-purple-purple-10);
  -tag-tokens-tag-yellow: var(--base-color-yellow-yellow-90);
  -tag-tokens-tag-yellow-text: var(--base-color-yellow-yellow-10);
  -text-tokens-text-bp: var(--brand-primary-color-bp-50);
  -text-tokens-text-correct: var(--functional-color-green-green-50);
  -text-tokens-text-hover: var(--neutral-color-gray-30);
  -text-tokens-text-on-color: var(--neutral-color-white);
  --Text-Tokens-text-primary: var(--neutral-color-gray-10);
  --Text-Tokens-text-disabled: var(--neutral-color-gray-70);
  --Text-Tokens-text-error: var(--functional-color-red-red-50);
  --Text-Tokens-text-inverse: var(--neutral-color-gray-100);
  --Text-Tokens-text-placeholder: var(--neutral-color-gray-60);
  --Text-Tokens-text-secondary: var(--neutral-color-gray-30);
  --Text-Tokens-text-tertiary: var(--neutral-color-gray-50);

  --Border-disabled: var(--neutral-color-gray-90);
}

.disabled {
  cursor: not-allowed;
}
