@mixin shadow($x: 0px, $y: 0px, $blur: 12px, $color: rgba(0, 0, 0, 0.1)) {
  box-shadow: $x $y $blur $color;
}
@mixin card-xs_shadow {
  @include shadow(0, 4px, 24px);
}
@mixin card-s_shadow {
  @include shadow(0, 8px, 24px);
}
@mixin card-m_shadow {
  @include shadow(0, 12px, 24px);
}
@mixin card-l_shadow {
  @include shadow(0, 16px, 24px);
}
@mixin dropdown-shadow-tooltip {
  @include shadow(0, 0, 12px);
}

@mixin pCard {
  cursor: pointer;
  border-radius: var(--spacing-8);
  border: 1px solid var(--Border-Tokens-border-primary);
  background: var(--Layer-Tokens-layer-primary);
  &:hover {
    border: 1px solid var(--Border-Tokens-border-bp); // TODO
    @include card-xs_shadow;
  }
}
