@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'
@import '@/pages/Home/pageIndex.sass'

// $contentWidth: 520px
// $contentGap: 60px
// $h1FontSize: 48px
// $h1LineHeight: 58px
// $btnHeight: 58px
// $btnBorderRadius: 12px
// $inputWrapperHeight: 60px
// $inputBorderRadius: 12px
// $contentWrapperPaddingRight: 360px

.pageIndex.pageLock
  .appContent
    article
      width:520px
      gap: 54px
      .articleHeader
        @extend .fcss
        gap: $mGap
        h1
          font-family: 'Inter-Black'
          color: #000000
          font-size: 48px
          line-height: 58px
        p
          font-family: 'Inter-Regular'
          color: $colSBlack
          font-size: 18px
          line-height: 22px
      .articleMain
        width: 100%
        @extend .fcss
        gap: $xxsGap
        h6,.errorTip
          @extend .mSBlackRegularFont
        h6
          color: $colSBlack
        .errorTip
          color: rgba(255,0,0,0.8)
      .articleFooter
        width: 100%
        @extend .fcss
        gap: $xlGap

        button.unLockBtn
          width: 100%
          height: 58px
          background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
          border-radius: 12px
          @extend .frcc
          @extend .mLBlackBoldFont
          &:hover,&:active
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
        >p
          @extend .mSBlackRegularFont
          color: rgba(0,0,0,0.4)
  
@media (max-width: 1680px)
  .pageIndex.pageLock
    .appContent
      article
        width: 410px
        gap: 32px
        .articleHeader
          h1
            font-size: 44px
            line-height: 53px
            font-family: 'Inter-Bold'
          
        .articleMain
          .pInputWrapper
            .pInput
              padding-left:24px
              font-size: 20px
              line-height: 29px
              font-family: 'Inter-SemiBold'
              &::placeholder
                font-size: 18px
            .suffixIcon
              width: 16px
        .articleFooter
          margin-top: 4px

        
        
   