@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'
@import '@/pages/Home/pageIndex.sass'

.pageIndex.pageLock
  .appContent
    article
      width:520px
      gap: 54px
      .articleHeader
        @extend .fcss
        gap: $mGap
        h1
          font-family: 'Inter-Black'
          color: #000000
          font-size: 48px
          line-height: 58px
        p
          font-family: 'Inter-Regular'
          color: $colSBlack
          font-size: 18px
          line-height: 22px
      .articleMain
        width: 100%
        @extend .fcss
        gap: $xxsGap
        h6,.errorTip
          @extend .mSBlackRegularFont
        h6
          color: $colSBlack
        .errorTip
          color: rgba(255,0,0,0.8)
      .articleFooter
        width: 100%
        @extend .fcss
        gap: $xlGap
        button.startBtn
          width: 343px
          height: 80px
          border: 2PX solid $colLBlack
          border-radius: 100px
          @extend .frcc
          gap: $xxsGap
          color: $colLBlack  
          @extend .lLBlackSemiBoldFont
          &:hover,&:active
            border: 0
            background: $colLBlack
            color: #fff
            .iconArrow
              background-image: url("@/assets/img/rightArrowHover.svg")
          .iconArrow
            width: $mIconSize
            height: $mIconSize
            background-size: 100% 100%
            background-image: url("@/assets/img/rightArrow.svg")
        >p
          @extend .mSBlackRegularFont
          color: rgba(0,0,0,0.4)
  
@media (max-width: 1680px)
  .pageIndex.pageLock
    .appContent
      article
        width: 410px
        gap: 32px
        .articleHeader
          h1
            font-size: 44px
            line-height: 53px
            font-family: 'Inter-Bold'
          
        .articleMain
          .pInputWrapper
            .pInput
              padding-left:24px
              font-size: 20px
              line-height: 29px
              font-family: 'Inter-SemiBold'
              &::placeholder
                font-size: 18px
            .suffixIcon
              width: 16px
        .articleFooter
          margin-top: 4px
          button.startBtn
            width: 256px
            height: 64px
            font-size: 18px
            line-height: 22px
            .iconArrow
              width: 28px
              height: 28px
        
        
   