#pado-mask{
  position: fixed;
  bottom: 46px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: 420px;
  height: 132px;
  background-color: gray;
  color: #fff;
  cursor: move;
}
#pado-mask .creatBtn{
  cursor: pointer;
}
