@import '@/assets/css/pVars.sass';
@import '@/assets/css/pFlex.sass';
@import '@/assets/css/pFont.sass';
@import '@/assets/css/padoM.scss';

.PConnect {
  >.pButton {
    width: 120px;
    height: 36px;
    color: var(--Text-body, #515758);
    @extend .Headline6;
    gap: var(--spacing-4, 4px);
    >img{
      width: var(--spacing-16, 16px);
    }
  }
}

@media (max-width: 1680px) {

}
