@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'

$dataSourceItemWidth: 588px
$dataSourceItemHeight: 242px

.emptyDataSourceItem
  width: $dataSourceItemWidth
  height: $dataSourceItemHeight
  margin-bottom: 24px
  cursor: pointer
  @include backdropMixin
  @extend .frcc
  transition: all 0.5s
  &:not(.deactive):hover
    transform: translateY(-20px)
  .emptyDataSourceItemC
    @extend .lLBlackSemiBoldFont
    @extend .frcc
    gap: 4px
    img
      width: $sIconSize
@media (max-width: 1680px)
  .emptyDataSourceItem
    width: 504px
    height: 208px
    margin-bottom: 24px
    font-family: 'Inter-SemiBold'
    .emptyDataSourceItemC
      font-size: 22px
      line-height: 27px
      font-family: 'Inter-Medium'
    
