@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoM.scss';

.emptyDataSourceItem {
  @extend .frcc;
  width: 504px;
  height: 208px;
  margin-bottom: 24px;
  border-radius: var(--spacing-12, 12px);
  background: var(--bg-60, rgba(255, 255, 255, 0.6));
  backdrop-filter: blur(16px);
  transition: all 0.5s;
  cursor: pointer;
  &:not(.deactive):hover {
    transform: translateY(-6px);
  }
  .emptyDataSourceItemC {
    @extend .Headline4;
    @extend .frcc;
    gap: var(--spacing-4, 4px);
    color: var(--Button-active, #252c2e);
    .iconFont{
      font-size: 24px;
    }
  }
}
