@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/dialog.scss';
@import '../../attestationForm.scss';
.pFormWrapper.dataSourceNameForm {
  --select-width: 1.1875rem;
}
@media (max-width: 1470px) {
  .pFormWrapper.dataSourceNameForm {
    --select-width: 171px;
  }
}
.pFormWrapper.dataSourceNameForm {
  .formItem {
    @include attestationForm;
    .dataSourceName {
      @include inputSelectWidth(var(--select-width), var(--select-width));
      .selectInput {
        gap: 0;
      }
      .selectOptionswrapper {
        .PDropdown {
          overflow: unset;
        }
      }
      .PTooltip {
        width: var(--spacing-12);
        height: var(--spacing-12);
        .tooltip {
          @include Hint;
          left: -39px;
          bottom: auto;
          top: 21px;
          &:after {
            transform: rotate(45deg);
            left: auto;
            right: calc(1 * var(--spacing-8));
          }
        }
      }
    }
  }
}
