@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pVars.sass'
$headerLogoWidth: 158px
$LogoSeparatorHeight: 40px
$LogoTextLineHeight: 18px
.pHeader
  @extend .frsc
  gap: $lGap
  .pLogo
    width: $headerLogoWidth
  i
    width: 1PX
    height: $LogoSeparatorHeight
    background-color: rgba(0, 0, 0, 0.1)
  p
    width: 173px
    font-size: 12px
    line-height: $LogoTextLineHeight
    font-family: 'Inter-Regular'
    color: $colMBlack
@media (max-width: 1680px)
  .pHeader
    p
      line-height: 15px
      color: rgba(0,0,0,0.6)

.appHeader
  padding: 0 50px
  height: $pageHeaderHeight
  @extend .frsc
@media (max-width: 1680px)
  .appHeader
    height: 93px
@media (max-width: 1440px)
  .appHeader
    height: 79.5px
@media (max-width: 1366px)
  .appHeader
    height: 75px
