@import "@/assets/css/pFlex.sass";
@import "./xl.scss";
@import "./l.scss";


.pHeader {
  @extend .frsc;
  // padding: 0 50px;
  height: var(--pHeaderHeight,105px);
  box-sizing: border-box;
  gap: var(--spacing-24, 24px);
  // .pLogo {
    // width: 158px;
  // }
  i {
    width: 1PX;
    height: var(--spacing-40,40px);
    background-color: rgba(0, 0, 0, 0.1);
  }
  .logoText {
    // width: 172px;
    p {
      color: rgba(0, 0, 0, 0.6);
      font-family: Inter;
      // font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

