@import '@/assets/css/pFlex.sass';
@import '@/assets/css/pVars.sass';
@media (max-width: 1470px) {
  .pHeader {
    padding: 0 50px;
    .pLogo {
      width: 158px;
    }
    .logoText {
      width: 172px;
      p {
        font-size: 12px;
      }
    }
  }
}
