@import '@/assets/css/pFlex.sass';
@import '@/assets/css/pVars.sass';

.pHeader {
  padding: 0 .3401rem;
  .pLogo {
    width: 1.0748rem;
  }
  .logoText {
    width: 1.1701rem;
    p {
      font-size: .0816rem;
    }
  }
}