@import '@/assets/css/pVars.sass'
@import '@/assets/css/pDialog.sass'
.openPageDataSource
  width: 200px
  height: 45px
  border: 1px solid #000
.padoDialog.credTypesDialog
  padding: 64px 50px 50px
  @extend .fcbc
  main
    width: 100%
    @extend .fcss
    gap: 0
    h1
      @extend .frsc
      gap: $xxsGap
      align-self: center
      @extend .xlLBlackBoldFont
    h2
      @extend .sSBlackRegularFont
      line-height: 26px
      align-self: center
      padding-top: 18px
    .scrollList
      width: 100%
      padding-top: 32px
      ul.credTypeList
        width: 100%
        @extend .fcss
        gap: 32px
        li
          width: 100%
          @extend .frsc
          gap: 32px
          cursor: pointer
          width: 100%
          height: 100px
          padding: 0 30px 0 32px
          background: rgba(0, 0, 0, 0.05)
          border-radius: 12px
          &:not(.disabled):hover
            padding: 0 28px 0 30px
            background: #FFFFFF
            border: 2PX solid transparent
            background-clip: padding-box, border-box
            background-origin: padding-box, border-box
            background-image: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #78DEFF, #70FFBA)
            position: relative
          &.disabled
            cursor: not-allowed
          &.active
            padding: 0 26px 0 30px
            background: #FFFFFF
            border: 2PX solid transparent
            background-clip: padding-box, border-box
            background-origin: padding-box, border-box
            background-image: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #78DEFF, #70FFBA)
            position: relative
            &:after
              position: absolute
              content: ''
              top: 50%
              right: 32px
              transform: translateY(-50%)
              width: 30px
              height: 30px
              background: url('@/assets/img/iconSuc.svg')
              background-size: 100% 100%
          img.icon
            width: 48px
          .con
            width: 300px
            @extend .fcss
            gap: 8px
            .title
              font-size: 20px
              line-height: 24px
              font-family: 'Inter-SemiBold'
              color: $colLBlack
            .desc
              font-size: 14px
              line-height: 17px
              font-family: 'Inter-Regular'
              color: $colSBlack
           
  button.nextBtn
    height: 58px !important
    position: relative
    &.gray
      background: rgba(0, 0, 0, 0.05)
      &:hover
       background: rgba(0, 0, 0, 0.05) 
    
@media (max-width: 1680px)
  .padoDialog.credTypesDialog
    padding: 48px 42px 32px
    main 
      h1
        font-size: 30px
        line-height: 36px
        font-family:'Inter-SemiBold'
      h2
        font-size: 14px
        line-height: 20px
        font-family: 'Inter-Regular'
        color: $colSBlack
        padding-top: 24px
      .scrollList
        padding-top: 24px
        ul.credTypeList
          gap: 24px
          li
            gap: 21px
            height: 80px
            padding: 0 28px 0 32px
            
            &:not(.disabled):hover
              padding: 0 26px 0 30px
              
            &.disabled
              cursor: not-allowed
            &.active
              padding: 0 26px 0 30px
              
              &:after
                right: 30px
                width: 24px
                height: 24px
            img.icon
              width: 36px
            .con
              width: 252px
              gap: 6px
              .title
                font-size: 16px
                line-height: 19px
              .desc
                font-size: 12px
                line-height: 15px
            
    button.nextBtn
      height: 48px !important
      font-family: 'Inter-SemiBold' !important