@import '@/assets/css/pVars.sass';
@import '@/assets/css/padoDialog.scss';
@import '@/assets/css/padoM.scss';
@import '@/assets/css/pSelectOption.scss';
.padoDialog.credTypesDialog{
  main{
    gap: var(--spacing-24,24px);
    .scrollList{
      width: 100%;
      ul.credTypeList{
        @extend .fcss;
        width: 100%;
        gap: var(--spacing-20, 20px);
        li{
          @extend .pSelectOption;
          @extend .frcc;
          width: 100%;
          height: 80px;
          .innerContent{
            @extend .frsc;
            gap: var(--spacing-24, 24px);
            width: 368px;
            height: 48px;
            .icon{
              width: 36px;
            }
            .con{
              @extend .fcss;
              gap: var(--spacing-8,8px);
              flex: 1;
              .title{
                @extend .Headline5;
                color: var(--Text-headline, #0A1214);      
              }
              .desc{
                @extend .Text2;
                color: var(--Text-hint, #7B7F80);
              }

            }
          }
        } 
      }
    }
      
  }
}