@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pVars.sass'

.dataAddBar
  position: fixed
  right: 100px
  bottom: 100px
  >button.updateBtn
    border-radius: $xxLBorderRadius
    @extend .sFont
    font-family: 'Inter-Medium'
    color:$colSBlack
    @extend .frsc
    gap: $xsGap
    background: #fff
    padding: 12px
    &:hover
      padding: 12px 21.5px
      >.imgUpdate
        width: 22px
        height: 22px
      >span
        display: block
    >.imgUpdate
      width: 28px
      height: 28px
      background-image: url('../../../assets/img/iconColorfulAdd.svg')
      background-size: 100% 100%
    >span
      display: none