@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pVars.sass'

.dataAddBar
  position: fixed
  right: 104px
  bottom: 104px
  >button.updateBtn
    border-radius: $xxLBorderRadius
    @extend .sFont
    font-family: 'Inter-Medium'
    color:$colSBlack
    @extend .frsc
    background: #fff
    gap: 12px
    padding: 13px 18px
    >.imgUpdate
      background-image: url('@/assets/img/iconColorfulAdd.svg')
      background-image: url('@/assets/img/iconAdd.svg')
      background-size: 100% 100%
      width: 24px
      height: 24px
@media (max-width:1680px)
  .dataAddBar
    right: 100px
    bottom: 100px
    >button.updateBtn
      gap: 4px
      padding: 8px 12px
      >.imgUpdate
        width: 16px
        height: 16px
      >span
        font-family: 'Inter-Regular'
        font-size: 14px
        line-height: 17px
        // background: linear-gradient(269deg, #70FFBA 0.5%, #78DEFF 99.59%)
        // background-clip: text
        // -webkit-background-clip: text
        // -webkit-text-fill-color: transparent
        color: #000
        font-family: 'Inter-Medium'
        