@import '@/assets/css/pFlex.sass';

@import '@/assets/css/padoM.scss';
.sourcesStatisticsBar {
  --sourcesStatisticsBar-paddingX: 0.2993rem;
  --sourceItem-columnGap: 0.129rem;
  --sourceItem-width: 1.5102rem;
  --social-value-line-height: 0.2041rem;
  --social-img-width: 0.2585rem;
  --social-tip-mt: -0.102rem;
  --social-tip-ml: 0.2721rem;
}
@media (max-width) {
  .sourcesStatisticsBar {
    --sourcesStatisticsBar-paddingX: 44px;
    --sourceItem-columnGap: 19px;
    --sourceItem-width: 222px;
    --social-value-line-height: 30px;
    --social-img-width: 38px;
    --social-tip-mt: -15px;
    --social-tip-ml: 40px;
  }
}
.sourcesStatisticsBar {
  width: 100%;
  border-radius: var(--spacing-12, 12px);
  background: var(--bg-60, rgba(255, 255, 255, 0.6));
  backdrop-filter: blur(16px);
  padding: 0 var(--sourcesStatisticsBar-paddingX, 44px);
  > header {
    @extend .Headline4;
    color: var(--Text-headline, #0a1214);
    border-bottom: 1px solid var(--Line, #dfe0e0);
    padding: var(--spacing-24, 24px) 0 var(--spacing-12, 12px) 0;
  }
  ul.sources {
    padding: var(--spacing-20, 20px) 0 var(--spacing-32, 32px) 0;
    margin-right: -1px;
    flex-wrap: wrap;
    @extend .frsc;
    // row-gap: var(--spacing-20, 20px);
    // column-gap: var(--sourceItem-columnGap, 19px);
    &.social {
      padding: var(--spacing-24, 24px) 0 var(--spacing-36, 36px) 0;
    }

    li.source {
      width: calc((100% - var(--spacing-20, 20px)*3 )/4);
      box-sizing: border-box;
      // padding-right: 12px
      @extend .fcss;
      gap: var(--spacing-12, 12px);
      margin: 0 var(--spacing-20, 20px) var(--spacing-20, 20px) 0; 
      cursor: pointer;
      &:nth-child(4n+4) {
        margin-right: 0;
      }
      &.social {
        gap: var(--spacing-10, 10px);
        .value {
          font-size: var(--spacing-32, 32px);
          line-height: var(--social-value-line-height, 30px);
          img {
            width: var(--social-img-width, 38px);
            margin-top: var(--spacing-4, 4px);
          }
        }
        .tip {
          @extend .Text2;
          color: var(--neutral-l-grey, #89939e);
          margin-top: var(--social-tip-mt, -15px);
          margin-left: var(--social-tip-ml, 40px);
        }
      }
      &:nth-child(4n+4) {
        align-self: end;
      }
      &.disabled {
        .label {
          opacity: 0.4;
        }
        .value {
          opacity: 0.3;
          > img {
            opacity: 0.4;
          }
        }
      }
      .label {
        @extend .Text1;
        color: var(--Text-body, #515758);
      }
      .value {
        @extend .Headline3;
        @extend .frsc;
        gap: var(--spacing-8, 8px);
        color: var(--Text-headline, #0a1214);
        > img {
          width: var(--spacing-32, 32px);
        }
      }
    }
  }
}
