@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'

.sourcesStatisticsBar
  width: 100%
  @include backdropMixin
  padding: 0 50px
  header
    @extend .lLBlackBoldFont
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    padding: 32px 0 15px 0
  ul.sources
    padding: 32px 0 16px 0
    flex-wrap: wrap
    // justify-content: space-between
    @extend .frsc
    row-gap: $mIconSize
    column-gap: 123.66px
    column-gap: 119px
    li.source
      width: 182.25px
      width: 247px
      @extend .fcss
      gap: $sGap
      margin-bottom: 32px
      cursor: pointer
      &:nth-child(4n)
        justify-item: end
        align-self: end
      &.social
        margin-bottom: 15px
      .label
        @extend .sSBlackRegularFont
      .value
        @extend .xlLBlackBoldFont
        display: flex
        align-content: center
        @extend .frsc
        gap: $xxsGap
        img
          width: $mIconSize
      .tip
        font-size: 12px
        line-height: 15px
        font-family: 'Inter-Medium'
        color: rgba(0,0,0,0.7)
        margin-top: -14px
        margin-left: 40px
@media (max-width: 1680px)
  .sourcesStatisticsBar
    padding: 0 44px
    header
      padding: 28px 0 12px 0
      font-size: 20px
      line-height: 24px
      font-family: 'Inter-SemiBold'
    ul.sources
      padding: 25px 0 41px 0
      column-gap: 92px
      li.source
        width: 167px
        margin-bottom: 0
        gap: 12px
        .label
          font-size: 14px
          line-height: 17px
        .value
          font-size: 28px
          line-height: 34px
          font-family: 'Inter-SemiBold'
          color: $colMBlack
          img
            width: $mIconSize
