@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'

.sourcesStatisticsBar
  width: 100%
  @include backdropMixin
  padding: 0 50px
  header
    @extend .lLBlackBoldFont
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    padding: 32px 0 15px 0
  ul.sources
    padding: 32px 0 16px 0
    margin-right: -1px
    flex-wrap: wrap
    // justify-content: space-between
    @extend .frsc
    row-gap: 24px
    // column-gap: 123.66px
    // column-gap: 119px
    li.source
      width: 182.25px
      width: 247px
      width: 25%
      // padding-right: 12px
      @extend .fcss
      gap: $sGap
      margin-bottom: 32px
      cursor: pointer
      &:nth-child(4n)
        justify-item: end
        align-self: end
      &.disabled
        .label
          opacity: 0.4
        .value
          opacity: 0.3
          >img
            opacity: 0.4
      .label
        @extend .sSBlackRegularFont
      .value
        @extend .xlLBlackBoldFont
        display: flex
        align-content: center
        @extend .frsc
        gap: $xxsGap
        img
          width: $mIconSize
      .tip
        font-size: 12px
        line-height: 15px
        font-family: 'Inter-Medium'
        color: rgba(0,0,0,0.7)
        margin-top: -14px
        margin-left: 40px
@media (max-width: 1680px)
  .sourcesStatisticsBar
    padding: 0 44px
    header
      padding: 25px 0 15px 0
      font-size: 20px
      line-height: 28px
      font-family: 'Inter-SemiBold'
    ul.sources
      padding: 20px 0 34px 0
      column-gap: 19px
      li.source
        width: 222px
        margin-bottom: 0
        gap: $xsGap
        &.social
          gap: 14px
          .label
            font-size: 16px
            line-height: 19px
          .value
            font-size: 28px
            line-height: 22px
            align-items: flex-start
          .tip
            font-size: 12px
            line-height: 15px
            font-family: 'Inter-Regualr'
            color: rgba(0,0,0,0.7)
            margin-top: -22px
        .label
          font-size: 14px
          line-height: 17px
        .value
          font-size: 28px
          line-height: 34px
          font-family: 'Inter-SemiBold'
          color: $colMBlack
          img
            width: $mIconSize
