@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'

.pageDataSourceOverview.pageCred
  @extend .fcss
  gap: 0
  main.appContent
    margin: 0 auto
    width: $centerWidth
    padding: 0
    @extend .fcbc
   
@media (max-width: 1680px)
  .pageDataSourceOverview.pageCred
    main.appContent
      width: $sCenterWidth
      