
@import '@/assets/css/pFlex.sass';

.pageDataSourceOverview.pageCred{
  @extend .fcss;
  gap: 0;
  padding-top: var(--spacing-32,32px);
  main.appContent{
    margin: 0 auto;
    width: var(--pageCenter-width, 1032px);
    padding: 0;
    @extend .fcbc;
  }
}
      