@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/mixins.scss';

.tableSection {
  width: 100%;
  @include fcss;
  gap: var(--spacing-16);
  .dataSourceItems {
    width: 100%;
    @include fcss;
    gap: var(--spacing-8);

    .dataSourceItem {
      width: 100%;
      // height: 76px;
      padding: var(--spacing-16);
      // @include clickableCard;
      border-radius: var(--spacing-8);
      background: var(--layer-tokens-layer-primary);
      background-color: var(--layer-tokens-layer-on-primary);
      @include fcss;
      gap: var(--spacing-24);
      // cursor: pointer;
      .mainInfo {
        width: 100%;
        @include frbc;
        .left {
          @include frsc;
          gap: var(--spacing-8);
          .pStar {
            .iconfont {
              font-size: var(--spacing-16);
            }
          }
          .sourceIcon {
            width: var(--spacing-40);
          }
          .breif {
            @include fcss;
            gap: 2px;
            @include BodyBody100Semibold;
            .top {
              @include frsc;
              gap: var(--spacing-16);
              .num {
                @include frsc;
                gap: 2px;
                @include NumberHint;
                color: var(--text-tokens-text-secondary);
              }
            }
            .bottom {
              @include frsc;
              gap: var(--spacing-4);
              .balance {
                @include NumberBody100Semibold;
              }
              .percent {
                @include NumberBody100;
                color: var(--text-tokens-text-secondary);
              }
            }
          }
        }
        .right {
          @include frbc;
          justify-content: flex-end;
          flex: 1;
          .tokensWrapper {
            width: 228px;
            @include frbc;
            .tokens {
              @include fcss;
              gap: var(--spacing-4);
              @include Hint;
              .splicedIcons {
                gap: var(--spacing-4);
                > img {
                  width: var(--spacing-24);
                  position: static !important;
                }
                .hideCircle {
                  width: var(--spacing-24);
                  height: var(--spacing-24);
                  position: static !important;
                }
              }
            }
          }
        }
      }
      .extraInfo {
        width: 100%;
        @include frsc;
        gap: var(--spacing-16);
        .card {
          @include frsc;
          width: calc((100% - var(--spacing-16)/2));
          padding: var(--spacing-16);
          gap: var(--spacing-8);
          border-radius: var(--spacing-8);
          border: 1px solid var(--border-tokens-border-primary-selected-gray);
          &.active{
            background: var(--layer-tokens-layer-on-primary-selected);
            border-color: var(--border-tokens-border-primary-selected-gray);
          }
          &.availableForAttestation {
            width: 304px;
          }
          .iconfont {
            font-size: var(--spacing-24);
          }
          .txtWrapper {
            @include BodyBody100Semibold;
            .value {
              @include NumberBody100;
            }
          }
        }
      }
    }
  }
  .moreBtn {
    height: auto;
    align-self: center;
    .rotate {
      transform: rotate(180deg);
    }
  }
}
