@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'

.polygonIdAddressInfoHeader
  .content
    @extend .frsc
    gap: 6px
    background: rgba(0, 0, 0, 0.05)
    border-radius: $xxLBorderRadius
    padding: 4px 8px
    height: 40px
    .iconAddressWrapper
      border-radius: 50%
      @extend .frcc
      img.avatar
        width: 32px
    .address
      width: 241px
      word-break: break-all
      font-size: 12px
      line-height: 16px
      font-family:'Inter-Regular'
      color: $colMBlack

