@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'

.polygonIdAddressInfoHeader
  .content
    @extend .frsc
    gap: 6px
    background: rgba(0, 0, 0, 0.05)
    border-radius: $xxLBorderRadius
    padding: 4px 26px 4px 8px
    .iconAddressWrapper
      border-radius: 50%
      @extend .frcc
      img.avatar
        width: 48px
    .address
      width: 264px
      word-break: break-all
      font-size: 14px
      line-height: 16px
      font-family:'Inter-Regular'
      color: $colMBlack

@media (max-width:1680px)
  .polygonIdAddressInfoHeader
    .content
      gap: 6px
      padding: 4px 8px
      .iconAddressWrapper
        img.avatar
          width: 32px
      .address
        width: 246px
        font-size: 12px
        line-height: 16px
