@import '@/assets/css/pFont.sass'
.pInputWrapper
  width: 100%
  height: 60px
  background: rgba(0, 0, 0, 0.05)
  backdrop-filter: blur(16px)
  border-radius: 12px
  padding-right: 18px
  display: flex
  align-items: center
  .suffixIcon
    width: 24px
    cursor: pointer
.pInput
  width: 100%
  height: 100%
  padding-left: 28px
  padding-right: 18px
  @extend .mLBlackBoldFont
  background: transparent
  &::placeholder
    font-family: 'Inter-Regular'
    color: rgba(0, 0, 0, 0.4)
