@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoM.scss';
.adSpace.adSpaceBadge {
  --left-gap: 0.278rem;
  --left-img-width: 0.5383rem;
  --left-img-top: -0.1224rem;
}
@media (max-width: 1470px) {
  .adSpace.adSpaceBadge {
    --left-gap: 40.87px;
    --left-img-width: 79.13px;
    --left-img-top: -18px;
  }
}
.adSpace.adSpaceBadge {
  background: var(
    --Linear,
    linear-gradient(269deg, #70ffba 0.52%, #78deff 100.71%)
  );
  .left {
    gap: var(--left-gap, 40.87px);
    > img {
      &.activeImg {
        width: var(--left-img-width, 79.13px);
        top: var(--left-img-top, -18px);
        position: relative;
      }
    }
    .bannerContent {
      gap: var(--spacing-16, 16px);
      .cn {
        @extend .fcss;
        gap: var(--spacing-4, 4px);
      }
    }
  }
  .pButton {
    border: 0;
    border-radius: var(--spacing-12, 12px);
    background: var(--yellow-y-300, #ffe603);
    .iconfont {
      font-size: var(--spacing-20, 20px);
      // color: var(--Text-headline, #0a1214);
    }
    &:hover,
    &.active {
      background: var(--yellow-y-200, #ffea2e);
      color: var(--Text-headline, #0a1214);
      .iconfont {
        color: var(--Text-headline, #0a1214);
      }
    }
    &.disabled {
      color: var(--Text-hint, #7b7f80);
      border: 1px solid var(--Text-hint, #7b7f80);
    }
  }
  .pButton.simple {
    
    &:not(.disabled) {
      color: var(--Text-headline, #0a1214);
      border: 1px solid var(--Text-headline, #0a1214);
      background-color: transparent;
      border-radius: var(--spacing-100, 100px);
      &:hover,
      &:active {
        background-color: transparent;
        background: var(--Text-headline, #0a1214);
        color: var(--bg-default, #fff);
      }
    }
  }
  
}
