
@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'

.eventOverview
  width: 100%
  .eventOverviewContent
    width: 1200px
    margin: 0 auto
    .slick-slider
      .slick-list
        .slick-slide
          >div
            padding-top: 47px
      .slick-dots
        bottom: -12px
    .rewardsWrapper
      padding-top: 14px
      header
        @extend .frsc
        font-size: 24px
        line-height: 29px
        font-family: 'Inter-SemiBold'
        color: $colLBlack
        padding-left: 17px
        height: 63px
        border-bottom: 1px solid rgba(0,0,0,0.2)
@media (max-width:1680px)
  .eventOverview
    .eventOverviewContent
      width: 1032px
      // margin: -8px auto 0
      .slick-slider
        .slick-list
          .slick-slide
            >div
              padding-top: 33px
      .rewardsWrapper
        padding-top: 8px
        header
          padding-left: 37px
          height: 65px