@import '@/assets/css/pDialog.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'

.TransferToChainDialog
  padding: 30px 50px 50px
  @extend .fcbc
  main
    width: 100%
    @extend .fcsc
    padding: 0 40px
    h1
      @extend .xlLBlackBoldFont
      padding-top: 53px
    h2
      @extend .tipFont
      padding: 18px 0 70px 0
    h6
      @extend .mFont
      font-family: 'Inter-Bold'
      color: $colSBlack
      padding-bottom: 56px
    .networkItem
      width: 72px
      height: 72px
      border: 1PX solid rgba(0, 0, 0, 0.1)
      border-radius: 50%
      @extend .frcc
      cursor: pointer
      img
        width: 48.38px
    .dividerWrapper
      @extend .frbc
      margin: 25px 0 26px
      width: 100%
      i
        flex: 1
        height: 1PX
        background-color: #D9D9D9
      .divider
        @extend .mSBlackRegularFont
        width: 48px
        text-align: center
    ul.networkList
      @extend .frac
      gap: $mGap
@media (max-width: 1680px)
  .TransferToChainDialog
    padding: 30px 42px 31px
    main
      padding: 0 18px
      h1
        padding-top: 54px
        font-size: 26px
        line-height: 31px
        font-family: 'Inter-SemiBold'
      h2
        font-size: 12px
        line-height: 18px
        padding: 12px 0 44px 0
      h6
        font-size: 14px
        line-height: 17px
        font-family: 'Inter-SemiBold'
        padding-bottom: 10px
      .networkItem
        width: 55px
        height: 55px
        img
          width: 36.95px
      .dividerWrapper

        .divider
          font-size: 12px
