@import '@/assets/css/pDialog.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pVars.sass'

.padoDialog.resetPwdDialog
  padding: 64px 50px 50px
  .setPasswordWrapper
    flex: 1
    main
      h1
        font-size: 30px
        line-height: 36px
        font-family: "Inter-SemiBold"
        color: $colLBlack
        padding: 0
      h2
        font-size: 12px
        line-height: 18px
        font-family: "Inter-Regular"
        color: $colSBlack
        padding-top: 15px
        align-self: flex-start
      h6
        padding-top: 24px

  
@media (max-width: 1680px)
  .padoDialog.resetPwdDialog
    padding: 64px 42px 32px
    button.nextBtn
      height: 48px
      font-family: 'Inter-SemiBold'


    