@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoM.scss';
@import '@/assets/css/pSelectOption.scss';
.sourceGroup {
  --scroll-height: 2.1497rem;
  --scrollBar-width: 0.0272rem;
  --scrollBar-height: 1.3605rem;
  --column-gap: 0.1565rem;
  --item-height: 0.5986rem;
  --emptyContent-pt: 0.2721rem;
  --emptyContent-img-width: 0.4082rem;
  --emptyContent-h2-width: 1.966rem;
}
@media (max-width: 1470px) {
  .sourceGroup {
    --scroll-height: 316px;
    --scrollBar-width: 4px;
    --scrollBar-height: 200px;
    --column-gap: 23px;
    --item-height: 88px;
    --emptyContent-pt: 40px;
    --emptyContent-img-width: 60px;
    --emptyContent-h2-width: 289px;
  }
}
.sourceGroup {
  --item-width: calc((100% - var(--column-gap, 23px) * 3) / 4);
}
.sourceGroup {
  width: 100%;
  &.scroll {
    // width: calc( 100% + 35px )
    // width: 510px;
    height: var(--scroll-height, 316px);
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: var(--scrollBar-width, 4px);
      height: var(--scrollBar-height, 200px);
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
      border-radius: var(--spacing-100, 100px);
    }
    ul.dataList {
      @extend .frss;
      width: 100%;
      flex-wrap: wrap;
      // row-gap: var(--spacing-16, 16px);
      // column-gap: 22.66px;
      li.networkItem {
        @extend .pSelectOption;
        @extend .fccc;
        // width: 87px;
        // height: 88px;
        width: var(--item-width);
        height: var(--item-height);
        gap: var(--spacing-4, 4px);
        margin: 0 var(--column-gap, 23px) var(--spacing-16, 16px) 0;
        &:nth-child(4n + 4) {
          margin-right: 0;
        }
        &.lh1 {
          > h6 {
            line-height: var(--spacing-14, 14px);
          }
        }
        > img {
          width: var(--spacing-32, 32px);
        }
        > h6 {
          color: var(--Text-headline, #0a1214);
          @extend .Headline6;
          text-align: center;
        }
      }
    }
    .emptyContent {
      @extend .fcsc;
      width: 100%;
      padding-top: var(--emptyContent-pt, 40px);
      gap: var(--spacing-12, 12px);
      align-self: center;
      > img {
        width: var(--emptyContent-img-width, 60px);
      }
      > h2 {
        @extend .Text2;
        color: var(--Text-hint, #7b7f80);
        width: var(--emptyContent-h2-width, 289px);
        text-align: center;
      }
    }
  }
}
