@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
.sourceGroup
  width:100%
  &.scroll
    // width: calc( 100% + 35px )
    width: 451px
    height: 292px
    overflow-y: auto
    overflow-x: hidden
    &::-webkit-scrollbar
      width: 4px
      height: 200px
    &::-webkit-scrollbar-thumb
      background: rgba(0, 0, 0, 0.2)
      border-radius: $xxLBorderRadius
  ul.dataList
    width: 100%
    display: flex
    flex-wrap: wrap
    // gap: $sGap
    column-gap: 21px
    row-gap: 14px
    li
      cursor: pointer
      width: 156px
      height: 150px
      padding: 28px 12px
      background: rgba(0, 0, 0, 0.05)
      border-radius: $sBorderRadius
      @extend .fcsc
      gap: 6px
      &.excitable,&:not(.disabled):hover
        padding: 16px 2px
        background: #FFFFFF
        backdrop-filter: blur(16px)
        border: 2PX solid transparent
        background-clip: padding-box, border-box
        background-origin: padding-box, border-box
        background-image: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #78DEFF, #70FFBA)
        position: relative
      &.disabled
        cursor: not-allowed
        opacity: 0.4
      &.active
        padding: 14px 2px
        background: #FFFFFF
        border: 2PX solid transparent
        background-clip: padding-box, border-box
        background-origin: padding-box, border-box
        background-image: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #78DEFF, #70FFBA)
        position: relative
        &:after
          position: absolute
          content: ''
          right: 6px
          bottom: 6px
          width: 24px
          height: 24px
          background: url('@/assets/img/iconSuc.svg')
          background-size: 100% 100%
      img
        width: 48px
      .desc
        font-size: 14px
        line-height: 16px
        font-family: 'Inter-Bold'
        color: $colLBlack
        padding: 13px 0 1px
        max-width: 132px
        // text-align: center
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        position: relative
      .desc[title]:hover:after
        position: absolute
        content: attr(title)
        z-index: 99999
        padding: 6px 12px
        left: -16px
        top: -44px
          // white-space: nowrap
        background: $colSBlack
        backdrop-filter: blur(16px)
        border-radius: $sBorderRadius
        color: #fff
        font-size: 14px
        line-height: 16px
      h6
        font-family: 'Inter-SemiBold'
        font-size: 12px
        line-height: 16px
        color: $colLBlack
      
      &.onChainAssets
        h6
          line-height: 12px
          margin-top: -4px
          text-align: center
            
  .emptyContent
    width: 416px
    padding-top: 40px 
    @extend .fcsc
    gap: 12px
    >img
      width: 60px
    >h2
      width: 289px
      text-align: center
      font-size: 12px
      line-height: 18px
      font-family: 'Inter-Regular'
      color: $colSBlack
@media (max-width: 1728px)
  .sourceGroup
    ul.dataList
      column-gap: 19px
      row-gap: 14px
      li
        cursor: pointer
        width: 88px
        height: 88px
        padding: 18px 2px 13px
        
        &.active
          padding: 16px 0px 11px
          &:after
            right: 6px
            bottom: 6px
            width: 12px
            height: 12px
        img
          width: 28px
        .desc
          padding: 11px 0 1px
          font-family:'Inter-SemiBold'
        .extraTip
          color: $colSBlack
          font-size: 12px
          line-height:12px
          margin-top: -10px
          transform: scale(0.6666)