@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/mixins.scss';

.updateDataSourceTip {
  @include frsc;
  gap: var(--spacing-4);
  @include BodyBody300;
  color: var(--text-tokens-text-tertiary);
  button.PButton.icon.updateBtn {
    .iconfont {
      font-size: var(--spacing-12);
      color: var(--text-tokens-text-tertiary);
      &.rotate {
        animation: spin 2s linear infinite;
      }
      &:not(.disabled):hover {
        .iconfont {
          color: var(--button-tokens-button-primary-hover);
        }
      }
      &.disabled {
        .iconfont {
          color: var(--text-button-disabled);
        }
      }
    }
  }
}
