@import '@/assets/css/pVars.sass';
@import '@/assets/css/pFlex.sass';
@import '@/assets/css/pSelectOption.scss';
.walletListWrapper {
  --pSelectOption-width: 1.3333rem;
  --pSelectOption-inner-width: 1.1156rem;
}
@media (max-width: 1470px) {
  .walletListWrapper {
    --pSelectOption-width: 196px;
    --pSelectOption-inner-width: 164px;
  }
}
.walletListWrapper {
  ul.walletList {
    @extend .frss;
    width: 100%;
    flex-wrap: wrap;
    gap: var(--spacing-24, 24px);
    li.pSelectOption.walletItem {
      @extend .frcc;
      width: var(--pSelectOption-width, 196px);
      height: var(--spacing-64, 64px);
      .walletInfo {
        width: var(--pSelectOption-inner-width, 164px);
        gap: var(--spacing-16, 16px);
        @extend .frsc;
        img {
          width: var(--spacing-32, 32px);
        }
        .desc {
          @extend .Body2;
          overflow: hidden;
          color: var(--Text-headline, #0a1214);
          text-overflow: ellipsis;
        }
      }
    }
  }
}
