@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/dialog.scss';
@import '@/assets/newCss/mixins.scss';

.pDialog2.attestationTasksDialog {
  color: var(--text-tokens-text-primary);
  width: 528px;
  main {
    .attestationTasks {
      width: 100%;
      @include fcss;
      gap: var(--spacing-12);
      .task {
        width: 100%;
        @include frbc;
        padding: 0 var(--spacing-20);
        height: 76px;
        @include clickableCard;
        border-radius: var(--spacing-4);
        &.done,
        &.disabled {
          cursor: default;
          &:hover {
            border-color: var(--border-tokens-border-primary);
          }
        }
        &.done{
          background: var(--layer-tokens-layer-on-primary);
          border: 0;
        }
        .left {
          @include frsc;
          gap: var(--spacing-16);
          .iconWrapper {
            position: relative;
            width: var(--spacing-42);
            height: var(--spacing-42);
            @include frcc;
            .dataSourceIcon {
              width: var(--spacing-40);
            }
            .circleSucIcon {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
            }
          }
          .titleWrapper {
            @include fcss;
            gap: var(--spacing-4);
            .title {
              @include HeadlineH3;
            }
            .subTitle {
              @include BodyBody100;
              color: var(--text-tokens-text-secondary);
            }
          }
        }
        .right {
          .score {
            @include NumberBody100Semibold;
          }
        }
      }
    }
    .confirmBtn{
      margin-top: var(--spacing-8);
    }
  }
}
