@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoM.scss';
@import '@/components/PButton/index.scss';
.adSpace {
  --adSpace-paddingX: 0.4082rem;
  --adSpace-height: 0.9388rem;
  --adSpace-left-gap: 0.2721rem;
  --adSpace-left-img-width: 0.4082rem;
  --adSpace-pButton-width: 0.898rem;
  --adSpace-pButton-height: 0.3265rem;
}
@media (max-width: 1470px) {
  .adSpace {
    --adSpace-paddingX: 60px;
    --adSpace-height: 138px;
    --adSpace-left-gap: 40px;
    --adSpace-left-img-width: 60px;
    --adSpace-pButton-width: 132px;
    --adSpace-pButton-height: 48px;
  }
}
.adSpace {
  @extend .frbc;
  padding: 0 var(--adSpace-paddingX, 60px);
  height: var(--adSpace-height, 138px);
  width: 100%;
  border-radius: var(--spacing-24, 24px);
  &.disabled {
    // border-radius: var(--spacing-24, 24px);
    background: var(--bg-40, rgba(167, 170, 170, 0.1)) !important;
    .pButton.disabled {
      background: transparent !important;
      border-radius: var(--spacing-100, 100px);
      color: var(--Text-hint, #7b7f80);
      border-color: var(--Text-hint, #7b7f80);
      cursor: pointer;
      &:hover{
        border: 1px solid var(--Text-hint, #7b7f80);
      }
    }
  }
  .left {
    @extend .frsc;
    height: 100%;
    gap: var(--adSpace-left-gap, 40px);
    > img {
      align-self: center;
      width: var(--adSpace-left-img-width, 60px);
    }
    .bannerContent {
      @extend .fccs;
      height: 100%;
      .ct {
        @extend .Headline3;
        color: #000;
      }
      .cn {
        @extend .Text1;
        color: var(--Text-body, #515758);
      }
    }
  }
  .pButton {
    @extend .buttonStyle1;
    /* Headline 5 */
    font-family: Inter;
    font-size: var(--spacing-16, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--spacing-24, 24px); /* 150% */
    width: var(--adSpace-pButton-width, 132px);
    height: var(--adSpace-pButton-height, 48px);
    // @extend .Headline5;
    // border:0;
    // background: transparent;
    // &:hover{
    //   background: transparent;
    // }
  }
}
.adSpace.adSpaceNft {
  background: var(--bg-60, rgba(255, 255, 255, 0.6));
  .left {
    .bannerContent {
      @extend .fccs;
      gap: var(--spacing-12, 12px);
    }
  }
  .pButton {
    color: var(--Text-headline, #0a1214);
    border: 1px solid var(--Text-headline, #0a1214);
    background-color: transparent;
    &:hover,
    &:active {
      background-color: transparent;
      background: var(--Text-headline, #0a1214);
      color: var(--bg-default, #fff);
    }
  }
}
