@import '@/assets/css/pDialog.sass'
$lAvatar: 84px
$sAvatar: 60px
.settingDialog
  padding: 48px 32px 36px
  @extend .fcbc
  main
    width: 100%
    @extend .fcsc
    gap: 48px
    header
      @extend .fcsc
      gap: 24px
      img.avatar,>i.avatarAlternate
        border-radius: 50%
      img.avatar
        width: $lAvatar
        // height: $lAvatar
      >i.avatarAlternate
        width: $lAvatar
        height: $lAvatar
        background: linear-gradient(269.39deg, #70FFBA 0.52%, #78DEFF 100.71%)
        >img
          width: 40px
      .baseInfo
        @extend .frcc
        gap: 18px
        font-size: 16px
        line-height: 19px
        font-family: 'Inter-Regular'
        color: $colMBlack
        .separtor
          width: 1px
          height: 17px
          background-color: rgba(0,0,0,0.3)
        .authInfo
          @extend .frsc
          gap: 12px
          margin-right: 12px
          >img
            width: 16px
        .accountInfo
          @extend .frsc
          gap: 8px
          margin-left: 8px
          >img
            width: 16px
    .settingContent
      width: 100%
      align-self: flex-start
      .moduleItem
        width: 100%
        padding: 16px 0
        @extend .fcss
        gap: 16px
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        &:first-child
          padding-top: 0
        &:last-child
          padding-bottom: 0
          border-bottom: 0
        .settingItem
          width: 100%
          @extend .frbc
          cursor: pointer
          height: 56px
          padding: 0 16px
          border-radius: 8px
          font-size: 18px
          line-height: 22px
          font-family: 'Inter-Medium'
          color: $colLBlack
          &:hover
            background-color: rgba(0,0,0,0.05)
          >img
            width: 24px
            transform: rotate(180deg)
            opacity: 0.4
            &:hover
              opacity: 0.8
          
  footer
    font-size: 12px
    line-height: 15px
    font-family: 'Inter-Regular'
    color: $colSBlack   
    
@media (max-width: 1680px)
  .settingDialog
    padding: 48px 32px 32px
    main
      gap: 32px
      header

        img.avatar
          width: $sAvatar
          // height: $sAvatar
        >i.avatarAlternate
          width: $sAvatar
          height: $sAvatar
          >img
            width: 28px
        .baseInfo
          gap: 12px
          font-size: 14px
          line-height: 17px
          font-family: 'Inter-Medium'
          .separtor
            background-color: rgba(0,0,0,0.1)
          
      .settingContent
        width: 100%
        align-self: flex-start
        .moduleItem
          width: 100%
          padding: 12px 0
          @extend .fcss
          gap: 12px
          border-bottom: 1px solid rgba(0, 0, 0, 0.1)
         
          .settingItem
           
            height: 46px
            padding: 0 14px
            font-size: 16px
            line-height: 19px
            
    