@import '@/assets/css/pDialog.sass'
$lAvatar: 84px
$sAvatar: 60px
.settingDialog
  padding: 48px 32px 36px
  @extend .fcbc
  main
    width: 100%
    @extend .fcss
    gap: 48px
    header
      @extend .frsc
      gap: var(--spacing-16, 16px)
      h6
        color: var(--Text-headline, #0A1214)

        /* Body 2 */
        font-family: Inter
        font-size: 16px
        font-style: normal
        font-weight: 500
        line-height: 22px /* 137.5% */
      .avatarAlternate
        @extend .frcc
        border-radius: 50%
        width: var(--spacing-64, 64px)
        height: var(--spacing-64, 64px)
        flex-shrink: 0
        background: var(--PADO, linear-gradient(269deg, #70FFBA 0.52%, #78DEFF 100.71%))
        >img
          width: var(--spacing-28, 28px)
      .baseInfo
        @extend .fcss
        gap: var(--spacing-8, 8px)
        .accountInfo
          @extend .fcss
          gap: var(--spacing-4, 4px)
          /* Text 2 */
          font-family: Inter
          font-size: 12px
          font-style: normal
          font-weight: 400
          line-height: 16px /* 133.333% */
          &:first-child
            color: var(--Text-hint, #7B7F80)
          &:last-child
            color: var(--Text-body, #515758)
            letter-spacing: -0.06px
    .settingContent
      width: 100%
      align-self: flex-start
      .moduleItem
        width: 100%
        padding: var(--spacing-16, 16px) 0
        gap: var(--spacing-16, 16px)
        @extend .fcss
        border-top: 1px solid rgba(0, 0, 0, 0.1)
        .settingItem
          width: 100%
          @extend .frbc
          cursor: pointer
          height: 56px
          padding: 0 16px
          border-radius: 8px
          font-size: 18px
          line-height: 22px
          font-family: 'Inter-Medium'
          color: $colLBlack
          &:hover
            background-color: rgba(0,0,0,0.05)
          >img
            width: 24px
            transform: rotate(180deg)
            opacity: 0.4
            &:hover
              opacity: 0.8
          
  footer
    font-size: 12px
    line-height: 15px
    font-family: 'Inter-Regular'
    color: $colSBlack   
    
@media (max-width: 1680px)
  .settingDialog
    padding: 61px 60px 30px
    main
      gap: var(--spacing-24, 24px)
      .settingContent
        width: 100%
        align-self: flex-start
        .moduleItem
          width: 100%
          padding: 12px 0
          @extend .fcss
          gap: 12px
          .settingItem
            height: 46px
            border-radius: var(--spacing-8, 8px)
            color: var(--Text-headline, #0A1214)
            /* Body 2 */
            font-family: Inter
            font-size: 16px
            font-style: normal
            font-weight: 500
            line-height: 22px /* 137.5% */
            
    