@import '@/assets/css/padoDialog.scss';
.padoDialog.settingDialog{
  padding: 61px 60px 30px;
  main{
    gap:var(--spacing-24, 24px);
    header{
      @extend .frsc;
      gap: var(--spacing-12, 12px);
      h6{
        color: var(--Text-headline, #0A1214);
        @extend .Body2;
      } 
      .avatarAlternate{
        @extend .frcc;
        border-radius: 50%;
        width: var(--spacing-64, 64px);
        height: var(--spacing-64, 64px);
        flex-shrink: 0;
        background: var(--PADO, linear-gradient(269deg, #70FFBA 0.52%, #78DEFF 100.71%));
        >img{
          width: var(--spacing-28, 28px);
        }   
      } 
      .baseInfo{
        @extend .fcss;
        gap: var(--spacing-8, 8px);
        .accountInfo{
          @extend .fcss;
          gap: var(--spacing-4, 4px);
          @extend .Text2;
          &:first-child{
            color: var(--Text-hint, #7B7F80);
          }
          &:last-child{
            color: var(--Text-body, #515758);
            letter-spacing: -0.06px;
          }
        }  
      }  
    }
    .settingContent{
      width: 100%;
      align-self: flex-start;
      .moduleItem{
        width: 100%;
        padding: var(--spacing-16, 16px) 0;
        gap: var(--spacing-16, 16px);
        @extend .fcss;
        border-top: 1px solid var(--Line, #DFE0E0);
        .settingItem{
          width: 100%;
          @extend .frbc;
          cursor: pointer;
          height: 46px;
          padding: 0 14px;
          border-radius: var(--spacing-8, 8px);
          
          color: var(--Text-headline, #0A1214);
          @extend .Body2;
          &:hover{
            background: var(--Badge, rgba(10, 18, 20, 0.05));
            .iconfont{
              color: var(--icon-active);
            }
          }
          .iconfont{
            font-size: var(--spacing-24,24px);
            transform: rotate(180deg);
            color: var(--Icon-default);
          }
        }
      }
    }
      
  }
  footer{
    color: var(--Text-body, #515758);
    text-align: center;
    @extend .Text2;
  }
}