@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'

.pFilterContent
  padding: 14px 16px
  background: #fff
  border-radius: 12px
  box-shadow: 0px 24px 32px 0px rgba(0, 0, 0, 0.10)
  display: none
  &.visible
    display: block
  .formItems
    @extend .fcss
    gap: 10px
    .formItem
      width: 122px
      border-radius: 4px
      @extend .frsc
      gap: 18px
      padding: 0 8px
      &:hover
        background: rgba(0, 0, 0, 0.05)
      .iconCheckedWrapper
        width: 16px
        height: 16px
        background-image: url("@/assets/img/iconCheckbox.svg")
        opacity: 0.2
        background-size: 100% 100%
        cursor: pointer
        &:hover
          opacity: 1
        &.checked
          background-image: url("@/assets/img/iconCheckboxActive.svg")
          opacity: 1
        &.disabled
          opacity: 0.4
      .checkbox
        display: none
      .descItem
        flex: 1
        @extend .frbc
        .label
          font-size: 16px
          line-height: 32px
          font-family: 'Inter-Medium'
          color: #000
@media (max-width:1680px)
  .pFilterContent
    padding: 12px
    box-shadow: 0px 19px 25px rgba(0, 0, 0, 0.1)
    .formItems
      gap: 8px
      .formItem
        width: 111px
        gap: 16px
        .iconCheckedWrapper
          width: 14px
          height: 14px
        .descItem
          .label
            font-size: 12px
            line-height: 28px
        