@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'

.pFilterContent
  padding: 12px
  background: #fff
  border-radius: 12px
  box-shadow: 0px 19px 25px rgba(0, 0, 0, 0.1)
  display: none
  &.visible
    display: block
  .formItems
    @extend .fcss
    gap: 8px
    .formItem
      width: 111px
      
      border-radius: 4px
      @extend .frsc
      gap: 16px
      padding: 0 8px
      &:hover
        background: rgba(0, 0, 0, 0.05)
      .iconCheckedWrapper
        width: 14px
        height: 14px
        background-image: url("../../../assets/img/iconCheckbox.svg")
        opacity: 0.2
        background-size: 100% 100%
        cursor: pointer
        &:hover
          opacity: 1
        &.checked
          background-image: url("../../../assets/img/iconCheckboxActive.svg")
          opacity: 1
        &.disabled
          opacity: 0.4
      .checkbox
        display: none
      .descItem
        flex: 1
        @extend .frbc
        .label
          font-size: 12px
          line-height: 28px
          font-family: 'Inter-Medium'
          color: #000
        