@import '@/assets/css/pFlex.sass';
@import '@/components/PDropdownList';
.pFilterContent {
  --padodropdown-width: 1.0884rem;
}
@media (max-width: 1470px) {
  .pFilterContent {
    --padodropdown-width: 160px;
  }
}
.pFilterContent {
  display: none;
  &.visible {
    display: block;
  }
  .pRadioNew {
    @extend .padodropdown;
    width: var(--padodropdown-width, 160px);
    box-shadow: 0px 2px 4px 0px rgba(9, 30, 66, 0.2);
    gap: 0;
    .pRadioItemWrapper {
      @extend .dropdownItemWrapper;
      .pRadioItem {
        @extend .dropdownItem;
        .desc {
          @extend .Text1;
        }
      }
    }
  }
}
