@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/mixins.scss';
@import '../../AssetsDetails/TokenTable/index.scss';

.tokenTable.social {
  .tokenItems {
    border-top: 0;
    .tokenItem {
      > div {
        &:nth-child(1),
        &:nth-child(1),
        &:last-child {
          @include BodyBody100;
        }
        &.token {
          gap: var(--spacing-8);
          > span {
            white-space: nowrap;
          }
        }
        &.followers {
          @include frsc;
          justify-content: flex-end;
          gap: var(--spacing-4);
        }
      }
    }
  }
}
