@import '@/assets/css/pDialog.sass'


.createAttesationDialog
  padding: 64px 50px 50px
  main
    width: 100%
    @extend .fcbc
    gap: 62px
    .scrollList
      width: 100%
      @extend .fcsc
      gap: 62px
    h1
      @extend .xlLBlackBoldFont
    .descItems
      width: 100%
      @extend .frbc
      .descItem
        @extend .frsc
        gap: $xsGap
        .label
          @extend .xsSBlackRegularFont
        .value
          @extend .xsFont
          font-family: 'Inter-Medium'
          color: rgba(0,0,0,0.8)
          @extend .frsc
          gap: $xxsGap
          img
            width: $sIconSize
    .formItems
      width: 100%
      @extend .fcss
      gap: $mGap
      >label.formItem
        width: 100%
        height: 24px
        @extend .frsc
        // padding-left: 3PX
        gap: $xxsGap
        .iconCheckedWrapper
          width: $sIconSize
          height: $sIconSize
          background-image: url("../../../assets/img/iconCheckbox.svg")
          opacity: 0.2
          background-size: 100% 100%
          cursor: pointer
          &:hover
            opacity: 1
          &.checked
            background-image: url("../../../assets/img/iconCheckboxActive.svg")
            opacity: 1
          &.disabled
            background-image: url("../../../assets/img/iconCheckboxActive.svg")
            opacity: 0.4
        .checkbox
          display: none
        .descItem
          flex: 1
          @extend .frbc
          .label
            @extend .sFont
            font-family: 'Inter-SemiBold'
            color: #000
          .value
            @extend .sFont
            font-family: 'Inter-Regular'
            color: rgba(0,0,0,0.8)
  button.nextBtn
    height: 58px

@media (max-width: 1680px)
  .createAttesationDialog
    padding: 49px 42px 32px
    main
      .scrollList
        padding: 0
        gap: 48px
        h1
          font-family: 'Inter-SemiBold'
          font-size: 30px
          line-height: 36px
        .descItems
          .descItem
            gap: $xxsGap
            .value
              font-size: 14px
              line-height: 17px
              gap: 6px
              img
                width: $xxsIconSize
    button.nextBtn
      height: 48px !important
      font-family: 'Inter-SemiBold' !important