@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'
.credTypeListWrapper
  padding: 24px 0
  .credTypeList
    @extend .frbs
    gap: $lGap
    .credTypeItem
      width: 328px
      height: 100px
      @extend .frbc
      padding: 0 44px 0 32px
      background: rgba(255, 255, 255, 0.6)
      border-radius: 12px
      transition: all 0.5s
      &:not(.disabled):hover
        transform: translateY(-14px)
        cursor: pointer
      &.disabled
        cursor: not-allowed
      >img.icon
        width: 53px
      .con
        width: 172px
        @extend .fcss
        gap: 4px
        .title
          font-size: 22px
          line-height: 27px
          font-family: 'Inter-SemiBold'
          color: $colMBlack
        .desc
          font-size: 12px
          line-height: 15px
          font-family: 'Inter-Regular'
          color: $colSBlack

    