@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
@import '@/assets/newCss/dialog.scss';
@import '../../attestationForm.scss';
.pFormWrapper.detailForm4 {
  --verificationContent-input-width: 1.6944rem;
  --verificationContent-selectOptions-width: 1.5833rem;
  --account-select-width: 1.0694rem;
  --account-input-width: 1rem;
  --verificationValue-input-width: 0.8542rem;
}
@media (max-width: 1470px) {
  .pFormWrapper.detailForm4 {
    --verificationContent-input-width: 244px;
    --verificationContent-selectOptions-width: 228px;
    --account-select-width: 154px;
    --account-input-width: 139px;
    --verificationValue-input-width: 123px;
  }
}

.pFormWrapper.detailForm4 {
  gap: var(--spacing-12) !important;
  .formItem {
    @include attestationForm;
    &.preset {
      @include hasPresetFormItem;
    }
    &.hasDefaultValue {
      @include plainTextFormItem;
    }
    .verificationContent {
      &.hasValue {
        .selectInput {
          width: var(--verificationContent-select-width);
        }
      }
      .selectOptionswrapper {
        width: var(--verificationContent-select-width);
      }
    }
    .verificationValue {
      &.hasValue {
        .selectInput {
          width: var(--verificationContent-select-width);
        }
      }
      .selectInput {
        width: var(--verificationValue-input-width);
      }
    }

    .account {
      &.hasValue {
        .selectInput {
          width: var(--account-select-width);
        }
      }
      .selectInput {
        width: var(--account-input-width);
      }
      .selectOptionswrapper {
        width: var(--account-select-width);
      }
      .selectOptionswrapper {
        width: var(--account-select-width);
        .PDropdown {
          max-height: 240px;
          overflow-y: auto;
        }
      }
    }
  }
}
