@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'

.pageDataSourceOverview
  @extend .fcss
  gap: $xlGap
  // padding-bottom: 50px
  
  main.appContent
    margin: 0 auto
    width: $centerWidth
    padding: 0
    @extend .fcbc
    .pTabs
      margin-top: -52px
    
@media (max-width: 1680px)
  .pageDataSourceOverview
    // margin-top: -30px
    main.appContent
      // margin-top: -45px !important
      width: $sCenterWidth
      // width: 1032px
      .pTabs
        margin-top: -43px