.eventsSlider {
  width: 100%;
  margin-top: -18px;
  .slick-slider {
    .slick-list .slick-slide > div {
      // padding-top: 33px;
      .sliderImg {
        width: 100%;
        height: auto;
        cursor: pointer;
      }
    }
    .slick-dots {
      bottom: 130px;
      height: 0;
    }
  }
}
