@import '@/assets/css/padoDialog.scss';
.padoDialog.dataFieldsExplainDialog{
  main{
    gap: var(--spacing-80, 80px);
    ul.explainItemList{
      @extend .fcss;
      width: 100%;
      padding: 0 22px;
      gap: var(--spacing-32, 32px);
      li{
        @extend .frss;
        gap: 10px;
        >img{
          width: 28px;
        }
        .iconfont{
          font-size: 28px;
        }
        .explainItemC{
          @extend .fcss;
          gap: var(--spacing-8, 8px);
          h5{
            color: var(--Text-headline, #0A1214);
            @extend .Headline4;
          }
          h6{
            color: var(--Text-body, #515758);
            @extend .Text1;
          }
        }
      }
    }
  }
}
  