@import '@/assets/css/padoDialog.scss';
@keyframes roll {
  to {
    transform: rotateZ(360deg);
  }
}

.padoDialog.addDataSourceSucDialog {
  padding: 36px 42px 32px;
  main {
    @extend .fcsc;
    .processImg {
      margin-top: 78px;
      margin-bottom: var(--spacing-24, 24px);
      width: 80px;
      &.loadingImg {
        animation: roll 2s linear infinite;
      }
    }
    .processDesc {
      @extend .fcsc;
      gap: var(--spacing-8, 8px);
      width: 100%;
      h1 {
        color: var(--Text-headline, #0a1214);
        @extend .Headline3;
      }
      h2 {
        color: var(--Text-hint, #7b7f80);
        @extend .Text1;
        text-align: center;
      }
    }
  }
}
