@import '@/assets/css/pDialog.sass'
.addDataSourceSucDialog
  padding: 64px 50px 50px
  @extend .fcbc
  main
    @extend .fcsc
    img.sucImg
      margin-top: 128px
      width: 128px
    h1
      @extend .xlLBlackBoldFont
      padding-top: 32px
      padding-bottom: 12px
    h2
      @extend .sSBlackRegularFont
      line-height: 26px
  button.nextBtn
    height: 58px
