@import '@/assets/css/padoDialog.scss';
@keyframes roll {
  to {
    transform: rotateZ(360deg);
  }
}
.padoDialog.addDataSourceSucDialog {
  --addDataSourceSucDialog-padding: .2449rem .2857rem .2177rem;
  --processImg-mt: .5306rem;
  --processImg-width: .5442rem;
}
@media (max-width:1470px) {
  .padoDialog.addDataSourceSucDialog {
    --addDataSourceSucDialog-padding: 36px 42px 32px;
    --processImg-mt: 78px;
    --processImg-width: 80px;
  }
}
.padoDialog.addDataSourceSucDialog {
  padding: var(--addDataSourceSucDialog-padding, 36px 42px 32px);
  main {
    @extend .fcsc;
    .processImg {
      margin-top: var(--processImg-mt, 78px);
      margin-bottom: var(--spacing-24, 24px);
      width: var(--processImg-width, 80px);
      &.loadingImg {
        animation: roll 2s linear infinite;
      }
    }
    .processDesc {
      @extend .fcsc;
      gap: var(--spacing-8, 8px);
      width: 100%;
      h1 {
        color: var(--Text-headline, #0a1214);
        @extend .Headline3;
      }
      h2,h3 {
        color: var(--Text-hint, #7b7f80);
        @extend .Text1;
        text-align: center;
      }
     
    }
  }
  .footerTip {
    @extend .fcsc;
    @extend .Text2;
    color: var(--Icon-default, #a7aaaa);
    text-align: center;
  }
}
