@import '@/assets/css/pDialog.sass'
.addDataSourceSucDialog
  padding: 64px 50px 50px
  @extend .fcbc
  main
    @extend .fcsc
    img.sucImg
      margin-top: 128px
      width: 128px
    h1
      @extend .xlLBlackBoldFont
      padding-top: 32px
      padding-bottom: 12px
    h2
      @extend .sSBlackRegularFont
      line-height: 26px
  button.nextBtn
    height: 58px
    background: rgba(0, 0, 0, 0.05)
@media (max-width: 1680px)
  .addDataSourceSucDialog
    padding: 55px 42px 32px
    main
      img.sucImg
        margin-top: 61px
        width: 80px
      h1
        font-size: 26px
        line-height: 31px
        font-family: 'Inter-SemiBold'
        padding-top: 24px
        padding-bottom: 8px
      h2
        font-size: 14px
        line-height: 26px
    button.nextBtn
      font-family: 'Inter-SemiBold'