@import '@/assets/css/pFlex.sass';
.addressInfoHeader {
  --addressInfoHeader-width: 0.2585rem;
  --addressInfoHeader-address-width: 1.0204rem;
}
@media (max-width: 1470px) {
  .addressInfoHeader {
    --addressInfoHeader-width: 38px;
    --addressInfoHeader-address-width: 150px;
  }
}
.addressInfoHeader {
  .content {
    @extend .frsc;
    gap: var(--spacing-8, 8px);
    background: rgba(0, 0, 0, 0.05);
    border-radius: var(--spacing-100, 100px);
    padding: var(--spacing-4, 4px) var(--spacing--16, 16px)
      var(--spacing-4, 4px) var(--spacing-8, 8px);

    .iconAddressWrapper {
      border-radius: 50%;
      @extend .frcc;
      background: var(--bg-80, rgba(255, 255, 255, 0.8));
      width: var(--addressInfoHeader-width, 38px); //width: 39.027px;
      height: var(--addressInfoHeader-width, 38px);
      img.avatar {
        width: var(--spacing-18, 18px);
      }
    }
    .address {
      width: var(--addressInfoHeader-address-width, 150px);
      display: -webkit-box;
      word-break: break-all;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color: var(--Text-body, #515758);
      font-family: Inter;
      font-size: var(--spacing-12, 12px);
      font-style: normal;
      font-weight: 400;
      line-height: var(--spacing-16, 16px); /* 133.333% */
      letter-spacing: -0.06px;
    }
  }
}
