@import '@/assets/css/pFlex.sass';
@import "@/assets/css/pVars.sass";
@import "@/assets/css/padoM.scss";
@import "./xl.scss";
@import "./l.scss";

.buttonStyle1{
  @extend .Body1;
  border-radius: 100px;
  border: 1PX solid var(--Button-default, #515758);
  background: transparent;
  &:hover,&:active{
    border:0;
    background-color: var(--Text-headline, #0A1214);
    color: var(--bg-default, #FFF);
  }
}

