@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'
$col-raise: #E12828
$col-fall: #27C265
$cardWidth: 588px
$cardHeight: 400px
.sectionTitle
  @extend .lLBlackBoldFont
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)

.assetsOverview
  width: 100%
  @extend .fcss
  gap: $lGap
  margin-top: -24px
  .updateBtn
    display: flex
    justify-content: flex-end
    gap: 6px
    @extend .xsSBlackRegularFont
    font-family: 'Inter-Medium'
  .statisticsWrapper
    @extend .frbs
    gap: $sGap
    .card
      width: $cardWidth
      height: $cardHeight
      @include backdropMixin(64px)
      padding: 0 32px
      header
        padding: 32px 0 24px 0
        @extend .sectionTitle
    .cardL
      .cardCon
        @extend .fcss
        gap: 42px
        padding-top: 48px
        padding-bottom: 78px
        .descItem
          @extend .fcss
          gap: 6px
          .label
            @extend .sSBlackRegularFont
          .value
            @extend .xlLBlackBoldFont
            padding-right: 20px
        .mainDescItem
          .value
            @extend .xxlLBlackBoldFont
        .descItemsWrapper
          display: flex
          .descItem
            flex: 1
            .value
              @extend .frsc
              gap: 4px
              .percent
                font-family: 'Inter-Bold'
                font-size: 12px
                line-height: 15px
                &.raise
                  color: rgba(225, 40, 40, 0.8)
                &.fall
                  color: rgba(39, 194, 101, 0.8)
