$col-raise: #E12828
$col-fall: #27C265
.thFontS
  font-size: 16px
  line-height: 19px
.thFontF
  font-size: 16px
  line-height: 19px
  font-family: 'Inter-Medium'
.labelFont
  font-size: 24px
  line-height: 29px
.valueFont
  font-size: 32px
  line-height: 39px
.sectionTitle
  font-family: 'Inter-Bold'
  @extend .labelFont
  color: #000
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
.sectionBackground
  background: rgba(255, 255, 255, 0.6)
  backdrop-filter: blur(16px)
  border-radius: 12px
.descLabel
  font-family: 'Inter-Regular'
  font-size: 16px
  line-height: 19px
  color: rgba(0,0,0,0.6)
.assetsOverview
  display: flex
  flex-direction: column
  gap: 24px
  padding-top: 48px
  .updateBtn
    display: flex
    justify-content: flex-end
    gap: 6px
    font-family: 'Inter-Medium'
    font-size: 14px
    line-height: 17px
    color: rgba(0,0,0,0.6)
  .statisticsWrapper
    display: flex
    justify-content: space-between
    gap: 16px
    .card
      width: 588px
      height: 400px
      @extend .sectionBackground
      backdrop-filter: blur(64px)
      padding: 0 32px
      header
        padding: 32px 0 24px 0
        @extend .sectionTitle
    .cardL
      .cardCon
        display: flex
        flex-direction: column
        gap: 42px
        padding-top: 48px
        padding-bottom: 78px
        .descItem
          display: flex
          flex-direction: column
          gap: 6px
          .label
            @extend .descLabel
          .value
            font-family: 'Inter-Bold'
            color: #000
            padding-right: 20px
        .mainDescItem
          .value
            font-size: 48px
            line-height: 58px
        .descItemsWrapper
          display: flex
          .descItem
            flex: 1
            .value
              @extend .valueFont
              display: flex
              align-items: center
              gap: 4px
              .percent
                font-family: 'Inter-Bold'
                font-size: 12px
                line-height: 15px
                &.raise
                  color: rgba(225, 40, 40, 0.8)
                &.fall
                  color: rgba(39, 194, 101, 0.8)
