@import '@/assets/css/pVars.sass';
@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoM.scss';
.dataSourceSearch {
  --pSelect-width: 1.1837rem;
  --pInput-pl: 0.2993rem;
}
@media (max-width: 1470px) {
  .dataSourceSearch {
    --pSelect-width: 174px;
    --pInput-pl: 44px;
  }
}
.dataSourceSearch {
  width: 100%;
  display: flex;
  gap: var(--spacing-24, 24px);
  .pSelect {
    width: var(--pSelect-width, 174px);
    .selectInput{
      background: var(--bg-60, rgba(255, 255, 255, 0.6));
    }
  }
  .pSearch {
    flex: 1;
    display: flex;
    position: relative;
    &:before {
      position: absolute;
      z-index: 1;
      content: '';
      top: 50%;
      left: var(--spacing-16, 16px);
      transform: translateY(-50%);
      width: var(--spacing-20, 20px);
      height: var(--spacing-20, 20px);
      background: url('@/assets/img/iconSearch.svg');
      background-size: 100% 100%;
    }

    .pInputWrapper {
      height: var(--spacing-48, 48px);
      .inputWrapper {
        padding: 0;
        border-radius: var(--spacing-12, 12px);
        background: var(--bg-60, rgba(255, 255, 255, 0.6));
        backdrop-filter: blur(16px);
      }
      .pInput {
        padding-left: var(--pInput-pl, 44px);
        border: 2px solid transparent;
        &:focus {
          background: #ffffff;
          border-radius: var(--spacing-12, 12px);
          border: 2px solid transparent;
          background-clip: padding-box, border-box;
          background-origin: padding-box, border-box;
          background-image: linear-gradient(to right, #fff, #fff),
            linear-gradient(to right, #78deff, #70ffba);
        }
      }
    }
  }
}
