@import '@/assets/css/padoDialog.scss';
@import '@/assets/css/padoM.scss';
@import '@/assets/css/pSelectOption.scss';
@import '@/components/Cred/CredAddWrapper/CredTypesDialog/index.scss';
.padoDialog.credTypesDialog.basCredDialog {
  main {
    gap: var(--spacing-32, 32px);
    ul.credTypeList {
      li {
        .innerContent {
          .icon {
            width: var(--spacing-32, 32px);
          }
          .con {
            .title {
              @extend .frsc;
              gap: var(--spacing-12, 12px);
              .score {
                color: var(--Text-body, #515758);
                @extend .Body3;
              }
            }
          }
          > img {
              width: var(--spacing-28, 28px);
            }
        }
      }
    }
  }
}
