@import '@/assets/css/pVars.sass'
@import '@/assets/css/pDialog.sass'
@import '@/components/DataSourceOverview/DataSourcesDialog/index.sass'

@media (max-width: 1680px)
  .connectWalletDialog
    padding: 43px 42px 32px
    main
      gap: 0
      .addressInfoHeader
        align-self: center
      h1
        padding-top:  27px
      .scrollList
        margin-top: 48px
        ul.dataList
          li
            &.disabled
              cursor: not-allowed
              opacity: 0.4
            .desc
              padding: 8px 0 1px
    button
      position: relative