@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';

.dataSourceBanner {
  width: 100%;
  height: 104px;
  padding: 0 var(--spacing-24, 24px);
  background-color: var(--tag-tokens-tag-brand);
  @include frbc;
  gap: var(--spacing-4, 4px);
  border-radius: var(--spacing-8, 8px);
  background-image: url('~@/assets/newImg/dataSource/bannerBg.svg');
  background-position: right top;
  background-repeat: no-repeat;
  // background-size:508px 104px;
  .intro {
    @include fcss;
    color: var(--text-tokens-text-primary);
    width: 885px;
    gap: var(--spacing-4);
    .title {
      font-family: IBM Plex Sans;
      font-size: 16px;
      font-weight: 500;
      line-height: 32px;
    }
    .desc {
      @include BodyBody100;
    }
  }
  .PTooltip {
    .tooltip {
      &:after {
        transform: rotate(45deg);
      }
    }
  }
}
