@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';
.dataSourceSearchBar {
  @include frss;
  gap: var(--spacing-8, 8px);
  .serachStr {
    width: 400px;
    gap: var(--spacing-4);
    .inputWrapper {
      padding: 0 var(--spacing-12);
      gap: var(--spacing-4);
    }
  }
  .serachType {
    width: 228px;
    .selectInput {
      gap: var(--spacing-4);
      padding: 0 var(--spacing-12);
      .prefix {
        color: var(--text-tokens-text-placeholder);
      }
    }
  }
}
