@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoTable.scss';
.tokenListWrapper.social {
  --token-width: 0.8163rem;
  --userName-width: 0.9048rem;
  --following-width: 0.7483rem;
  --posts-width: 0.6122rem;
}
@media (max-width: 1470px) {
  .tokenListWrapper.social {
    --token-width: 120px;
    --userName-width: 133px;
    --following-width: 110px;
    --posts-width: 90px;
  }
}
.tokenListWrapper.social {
  ul.tokens {
    &.social {
      li.tokenItem {
        gap: 0;
        .innerWrapper {
          .token {
            width: var(--token-width, 120px);
          }
          .userName,
          .createTime {
            width: var(--userName-width, 133px);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          .verified {
            width: var(--token-width, 120px);
          }
          .followers,
          .following {
            width: var(--following-width, 110px);
          }
          .posts {
            width: var(--posts-width, 90px);
          }
        }
      }
    }
  }
}
