@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoTable.scss';
.tokenListWrapper.social {
  --token-width: .9524rem;
  --userName-width: 1.0204rem;
  --following-width: .6803rem;
  --verified-width: .8844rem;
}
@media (max-width: 1470px) {
  .tokenListWrapper.social {
    --token-width: 140px;
    --userName-width: 150px;
    --following-width: 100px;
    --verified-width: 130px;
  }
}
.tokenListWrapper.social {
  ul.tokens {
    &.social {
      li.tokenItem {
        gap: 0;
        .innerWrapper {
          .token,.userName {
            width: var(--token-width, 140px);
          }
          .userName,
          .createTime {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          .createTime {
            width: var(--userName-width, 150px);
          }
          .verified {
            width: var(--verified-width, 130px);
          }
          .followers,
          .following ,
          .posts{
            width: var(--following-width, 100px);
          }
          
        }
      }
    }
  }
}
