@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'
.credSendToChainWrapper
  width: 100%
  height: 100%
  .padoDialog.TransferToChainDialog main ul.networkList
    gap: 36px
  .addDataSourceSucDialog
    main
      >h2
        width: 100%
  .claimEventsBtns
    width: 100%
    @extend .frbc
    .pButton
      width: 196px
      height: var(--spacing-48, 48px)
      &:last-child
        background: var(--Badge, rgba(10, 18, 20, 0.05))
        &:hover
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), var(--Badge, rgba(10, 18, 20, 0.05))
        
        

@media (max-width:1680px) 
  .credSendToChainWrapper
    width: 100%
    height: 100%
    .padoDialog.TransferToChainDialog main 
      h6
        padding-bottom: 16px
      ul.networkList
        gap: 32px
      .dividerWrapper
        margin: 16px 0
    .addDataSourceSucDialog
      padding: 42px 42px 32px
      main
        img.sucImg, img.loadingImg
          margin-top: 68px
        .pLoading
          margin-top: 57px