
@import '@/assets/css/pFlex.sass';
.credSendToChainWrapper{
  width: 100%;
  height: 100%;
  .claimEventsBtns{
    @extend .frbc;
    width: 100%;
    .pButton{
      width: 196px;
      height: var(--spacing-48, 48px);
      &:last-child{
        background: var(--Badge, rgba(10, 18, 20, 0.05));
        &:hover{
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), var(--Badge, rgba(10, 18, 20, 0.05));
        }
          
      }
        
    }
      
      
  }
   
}