@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'
.credSendToChainWrapper
  width: 100%
  height: 100%
  .padoDialog.TransferToChainDialog main ul.networkList
    gap: 36px
  .addDataSourceSucDialog main h2
    width: 100%
@media (max-width:1680px) 
  .credSendToChainWrapper
    width: 100%
    height: 100%
    .padoDialog.TransferToChainDialog main ul.networkList
      gap: 18px