$col-raise: #E12828
$col-fall: #27C265
.thFontF
  font-size: 16px
  line-height: 19px
  font-family: 'Inter-Medium'
.labelFont
  font-size: 24px
  line-height: 29px
.sectionTitle
  font-family: 'Inter-Bold'
  @extend .labelFont
  color: rgba(0,0,0,0.6)
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
.sectionBackground
  background: rgba(255, 255, 255, 0.6)
  backdrop-filter: blur(16px)
  border-radius: 12px

.tokenListWrapper
  @extend .sectionBackground
  padding: 0 50px
  header
    @extend .sectionTitle
    padding: 32px 0 16px 0
    display: flex
    justify-content: space-between
    align-items: center
    .pSearch
      width: 427px
      position: relative
      &:before
        position: absolute
        z-index: 1
        content: ''
        top: 50%
        left: 24px
        transform: translateY(-50%)
        width: 24px
        height: 24px
        background: url('../../assets/img/iconSearch.svg')
        background-size: 100% 100%
      .pInputWrapper
        background-color: rgba(0, 0, 0, 0.05)
        border-radius: 12px
        height: 44px
        .pInput
          padding-left: 60px
          font-size: 16px
          line-height: 19px
          font-family: 'Inter-Medium'
          color: rgba(0, 0, 0, 0.6)
          height: 44px
  ul.tokens
    padding-bottom: 32px
    li.tokenItem
      display: flex
      gap: 189px
      justify-content: space-between
      align-items: center
      margin-bottom: 32px
      @extend .thFontF
      .token,.price,.amount,.value
        width: 133.25px
        text-align: right
      &.th
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        margin-bottom: 24px
        padding: 16px 0
        color: rgba(0,0,0,0.6)
      .token
        color: #000
        display: flex
        align-items: center
        gap: 8px
        text-align: left
        >img
          width: 20px
          border-radius: 50%
        >span
          line-height: 22px
