@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'

$col-raise: #E12828
$col-fall: #27C265

.tokenListWrapper
  width: 100%
  @include backdropMixin
  padding: 0 50px
  header
    @extend .lLBlackBoldFont
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    padding: 32px 0 16px 0
    @extend .frbc
    .pSearch
      width: 427px
      position: relative
      &:before
        position: absolute
        z-index: 1
        content: ''
        top: 50%
        left: 24px
        transform: translateY(-50%)
        width: $sIconSize
        height: $sIconSize
        background: url('../../assets/img/iconSearch.svg')
        background-size: 100% 100%
      .pInputWrapper
        background-color: rgba(0, 0, 0, 0.05)
        border-radius: $sBorderRadius
        height: 44px
        .pInput
          padding-left: 60px
          @extend .sSBlackRegularFont
          font-family: 'Inter-Medium'
          height: 44px
  ul.tokens
    padding-bottom: 62px
    &.social
      li.tokenItem
        gap: 0
        .token
          min-width: 120px
        .userName,.createTime
          min-width: 130px
          max-width: 133px
          text-overflow: ellipsis
          overflow: hidden
          white-space: nowrap
        .verified
          min-width: 55px
        .followers
          min-width: 110px
        .post
          min-width: 90px
    li.tokenItem
      position: relative
      .innerWrapper,.detailWrapper .descItem
        @extend .frbc
      .innerWrapper >div,.detailWrapper .descItem >div
          width: 133.25px
          text-align: right
      .innerWrapper
        margin:  0 -50px
        // gap: 189px
        @extend .frbc
        @extend .sFont
        font-family: 'Inter-Medium'
        color: $colLBlack
        .token
          @extend .frsc
          gap: $xxsGap
          text-align: left
          >img
            width: $xsIconSize
            border-radius: 50%
      &.th
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        margin-bottom: 3px
        .innerWrapper
          padding: 16px 50px 15px
          color: $colSBlack
      &.tr
        margin-top: 10px
        position: relative
        &:hover
          .innerWrapper
            background: rgba(0, 0, 0, 0.05)
        .innerWrapper
          padding: 11px 50px
        .arrowWrapper
          position: absolute
          content: ''
          top: 15px
          transform: rotate(-90deg)
          right: 0
          width: 12px
          height: 12px
          background: url('../../assets/img/iconArrowLeft.svg')
          background-size: 100% 100%
          cursor: pointer
          &:hover
            background-image: url('../../assets/img/iconArrowLeftActive.svg')
        .detailWrapper
          position: absolute
          content: ''
          top: 42px
          left: 0
          padding: 6px 45px 8px 0
          width: 100%
          .descItem
            width: 100%
            display: flex
            gap: 140px
            @extend .xsSBlackRegularFont
            color: $colLBlack
            margin-top: 13px
            text-align: right
            &:first-child
              margin-top: 0
            >.token
              display: flex
              justify-content: flex-end
              .label
                width:51px
                text-align: left
      &.new 
        .innerWrapper
          padding: 11px 95px 11px 50px
        .accountFilterWrapper
          position: absolute
          content: ''
          top: 38px
          right: 0
          
      &.expand
        height: 74px
      &.expandPlus
        height: 104px
      
@media (max-width: 1680px)
  .tokenListWrapper
    padding: 0 44px
    header
      padding: 25px 0 16px 0
      font-size: 20px
      line-height: 24px
      font-family: 'Inter-SemiBold'
    ul.tokens
      padding-bottom: 36px
      li.tokenItem
        .innerWrapper >div,.detailWrapper .descItem >div  
            width: 132px
        .innerWrapper
          // gap: 138.66px
          margin: 0 -44px
        &.th
          margin-bottom: 20px
        &.tr
          margin-top: 4px
        &.new
          .innerWrapper
            padding: 12px 89px 12px 44px
        .innerWrapper
          padding: 12px 44px 11px
          
        
