@import '@/assets/css/pVars.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pTable.sass'

.tokenListWrapper.assets
  ul.tokens
    li.tokenItem
      position: relative
      .detailWrapper .descItem
        @extend .frbc
      .innerWrapper >div,.detailWrapper .descItem >div
        width: 180px
        text-align: right
      .innerWrapper >div.token,.detailWrapper .descItem >div.token
        width: 128px
      &.tr
        .arrowWrapper
          position: absolute
          content: ''
          top: 11px
          transform: rotate(-90deg)
          right: 0
          width: 19px
          height: 19px
          background-image: url('@/assets/img/iconArrowLeft2.svg')
          opacity: 0.4
          background-size: 100% 100%
          cursor: pointer
          &:hover
            opacity: 0.8
        .detailWrapper
          position: absolute
          content: ''
          top: 42px
          left: 0
          padding: 7px 45px 11px 0
          width: 100%
          .descItem
            width: 100%
            display: flex
            @extend .xsSBlackRegularFont
            color: $colLBlack
            margin-top: 13px
            text-align: right
            &:first-child
              margin-top: 0
            >.token
              display: flex
              justify-content: flex-end
              .label
                width:51px
                text-align: left
      &.th
        .innerWrapper
          padding: 16px 50px 16px 50px
        &.new 
          .innerWrapper
            padding: 16px 95px 16px 50px
      &.new
        .innerWrapper
          padding: 11px 95px 11px 50px
        .accountFilterWrapper
          position: absolute
          content: ''
          top: 0
          right: 0  
      &.expand
        height: 74px
      &.expandPlus
        height: 104px
      .token
        .syntheticLogo
          position: relative
          padding: 2px 0 0 2px
          .tokenLogo
            width:16px
          .chainLogo
            width:10px
            position: absolute
            top: 0
            left: 0
            z-index: 1
  .moreWidthFilterWrapper
    .pFilterContent .formItems .formItem
      width: 160px
@media (max-width: 1680px)
  .tokenListWrapper.assets
    ul.tokens
      li.tokenItem
        .innerWrapper >div,.detailWrapper .descItem >div  
            width: 148px
        &.th
          &.new
            .innerWrapper
              padding: 12px 89px 11px 44px
        &.th
          .innerWrapper
            padding: 12px 50px 12px 50px
          &.new 
            .innerWrapper
              padding: 12px 89px 12px 50px
        &.tr
          &.new
            .innerWrapper
              padding: 11px 89px 11px 44px
        &.tr
          .innerWrapper
            padding: 11px 44px 11px
        &.tr
          .arrowWrapper
            top: 15px
            right: 0
            width: 12px
            height: 12px
         
    .moreWidthFilterWrapper
      .pFilterContent .formItems .formItem
        width: 124px  
          
        
