@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoDialog.scss';

.padoDialog.setPwdDialog {
  main {
    gap: var(--spacing-24, 24px);
    .formWrapper {
      width: 100%;
      .validateWrapper {
        @extend .fcss;
        @extend .Text2;
        gap: 2px;
        padding: var(--spacing-8) 0 var(--spacing-24, 24px) 0;
        color: var(--Text-hint, #7b7f80);
        ul.descItems {
          @extend .fcss;
          gap: 2px;
          .descItem {
            @extend .frsc;
            text-indent: 24px;
            position: relative;

            &.checked {
              color: var(--Text-headline, #0a1214);
              text-indent: 0;
              gap: var(--spacing-8, 8px);
              .iconfont {
                font-size: 16px;
              }
              // &::before {
              //   background: url(../../../assets/img/iconChecked.svg);
              //   background-size: 100% 100%;
              //   width: 18px;
              //   height: 18px;
              //   position: absolute;
              //   content: '';
              //   top: 50%;
              //   left: 0;
              //   transform: translateY(-50%);
              // }
            }
          }
        }
      }
      .errorTip {
        padding-top: 8px;
        @extend .Text2;
        color: var(--Warning, #f42d2d);
      }
    }
  }
}