@import '@/assets/css/pDialog.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pVars.sass'
.setPwdDialog
  padding: 19px 90px 72px
  @extend .fcbc
  main
    width: 100%
    @extend .fcss
    .setPwdDialogHeader
      width: 100%
      @extend .frcc
      position: relative
      .iconBack
        position: absolute
        content: ''
        top: 50%
        transform: translateY(-50%)
        left: -58px
        width: $mIconSize
        height: $mIconSize
        background: url('../../../assets/img/iconArrowLeft.svg')
        background-size: 100% 100%
        cursor: pointer
      .headerContent
        background: rgba(0, 0, 0, 0.05)
        border-radius: 100px
        padding: 8px 12px
        @extend .frcc
        gap: $xxsGap
        img.iconNetwork
          width: 48px
          border-radius: 50%
        p.address
          width: 278px
          font-size: 16px
          line-height: 24px
          font-family: 'Inter-Regular'
          color: $colMBlack
          word-break: break-all
    h1
      @extend .xlLBlackBoldFont
      padding-top: 45px
      padding-bottom: 18px
      align-self: center
    h2
      @extend .xsSBlackRegularFont
      align-self: center
    h6
      @extend .mSBlackRegularFont
      padding: 32px 0 8px
    .validateWrapper
      padding-top: 12px
      .descTitle
        @extend .tipFont
        padding-bottom: 6px
      ul.descItems
        @extend .fcss
      .descItem
        @extend .tipFont
        line-height: 28px
        padding-left: 24px
        position: relative
        &.checked
          color: #000
          font-family: 'Inter-Bold'
          &::before
            background: url(../../../assets/img/iconChecked.svg)
            background-size: 100% 100%
            width: 18px
            height: 18px
            position: absolute
            content: ''
            top: 50%
            left: 0
            transform: translateY(-50%)
    .errorTip
      padding-top: 8px
      @extend .tipFont
      color: $colError
@media (max-width: 1680px)
  .setPwdDialog
    padding: 28px 60px 60px
    main
      .setPwdDialogHeader
        .iconBack
          left: -20px
      h1
        font-size: 26px
        line-height: 31px
        font-family: 'Inter-SemiBold'
        padding-top: 12px
        padding-bottom: 12px
      h2
        font-size: 12px
        line-height: 18px
      h6
        font-size: 14px
        line-height: 17px
        font-family: 'Inter-Regular'
        padding: 24px 0 6px 0
      .pInputWrapper
        height: 52px
        .pInput
          font-size: 16px
          line-height: 19px
          font-family: 'Inter-SemiBold'
          padding-left: 20px
      .validateWrapper
        .descTitle
          font-size: 12px
          line-height: 20px
        ul.descItems
          .descItem
            font-size: 12px
            line-height: 20px
            padding-left: 22px
            &.checked
              color: #000
              font-family: 'Inter-Bold'
              &::before
                width: 16px
                height: 16px
