@import '@/assets/css/pDialog.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'
@import '@/assets/css/pVars.sass'
.tipFont
  @extend .xsSBlackRegularFont
  line-height: 22px
.setPwdDialog
  padding: 30px 90px 70px
  @extend .fcbc
  main
    width: 100%
    @extend .fcss
    h1
      @extend .xlLBlackBoldFont
      padding-top: 34px
      padding-bottom: 18px
      align-self: center
    h6
      @extend .mSBlackRegularFont
      padding: 32px 0 8px
    .validateWrapper
      padding-top: 12px
      .descTitle
        @extend .tipFont
        padding-bottom: 6px
      ul.descItems
        @extend .fcss
      .descItem
        @extend .tipFont
        line-height: 28px
        padding-left: 24px
        position: relative
        &.checked
          color: #000
          font-family: 'Inter-Bold'
          &::before
            background: url(../../../assets/img/iconChecked.svg)
            background-size: 100% 100%
            width: 18px
            height: 18px
            position: absolute
            content: ''
            top: 50%
            left: 0
            transform: translateY(-50%)
    .errorTip
      padding-top: 8px
      @extend .tipFont
      color: $colError
@media (max-width: 1680px)
  .setPwdDialog
    padding: 40px 60px 60px
    main
      h1
        font-size: 26px
        line-height: 31px
        font-family: 'Inter-SemiBold'
        padding-top: 39px
        padding-bottom: 20px
      
      h6
        font-size: 14px
        line-height: 17px
        font-family: 'Inter-Regular'
        padding: 22px 0 6px 0
      .reconfirmLabel
        padding-top: 12px
      .pInputWrapper
        height: 52px
        .pInput
          font-size: 16px
          line-height: 19px
          font-family: 'Inter-Medium'
          padding-left: 20px
        .suffixIcon
          width: 16px
      .validateWrapper
        .descTitle
          font-size: 12px
          line-height: 16px
          padding-bottom: 2px
        ul.descItems
          .descItem
            font-size: 12px
            line-height: 16px
            padding-left: 20px
            &.checked
              color: #000
              font-family: 'Inter-Medium'
              &::before
                width: 16px
                height: 16px
      .errorTip
        padding-top: 4px
        font-size: 12px
        line-height: 18px
