@import '@/assets/newCss/flex.scss';
@import '@/assets/newCss/font.scss';

.page-select {
  height: 48px;
  width: 1120px;
  font-size: 12px;
  padding-top: 10px;
  font-family: 'IBM Plex Sans';
  color: var(--text-tokens-icon-tertiary, #6F6F6F);
  .page-select-items{
    display: flex;
    height: 24px;
    float: right;
    .page-select-item{
      height: 24px;
      width: 24px;
      line-height: 24px;
      cursor: pointer;
      margin: 5px;
      text-align: center;
    }

    .page-select-item-selected{
      text-align: center;
      height: 24px;
      line-height: 24px;
      width: 24px;
      margin: 4px;
      cursor: pointer;
      background-color: var(--neutral-color-gray-15, #ececec);
    }
  }
}
