@import '@/assets/css/pDialog.sass'

.padoDialog.upgradeTipDialog
  padding: 48px 42px 32px
  @extend .fcbc
  width: 500px
  height: 380px
  main
    @extend .fcsc
    width: 100%
    img.warnImg
      margin-top: 0
      width: 80px
    h1
      padding-top: 32px
      padding-bottom: 16px
      font-size: 28px
      line-height: 36px
      font-family: Inter
      font-weight: 600
      color: #0A1214
    h2
      width: 100%
      font-size: 14px
      line-height: 20px
      font-family: Inter
      font-weight: 400
      text-align: center
      color: #515758
      
  button.nextBtn
    height: 48px !important
