
@import '@/assets/css/pDialog.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'
.authDialog
  padding: 50px 90px 70px
  @extend .fcbc
  .appHeader
    height: 41px
  main
    width: 100%
    @extend .fcsc
    >h1
      @extend .xlLBlackBoldFont
      padding-top: 84px
      padding-bottom: 80px
      padding-top: 140px
      padding-bottom: 96px
      text-transform: capitalize
    ul.licensorList
      @extend .frcc
      gap: $xsGap
      li.licensorItem
        cursor: pointer
        border: 2PX solid rgba(0, 0, 0, 0.1)
        backdrop-filter: blur(18.1333px)
        border-radius: 13.6px
        @extend .frcc
        width: 68px
        height: 68px
        &.disabled
          cursor: not-allowed
        &:not(.disabled)
          &:hover
            background: #FFFFFF
            border: 2PX solid transparent
            background-clip: padding-box, border-box
            background-origin: padding-box, border-box
            background-image: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #78DEFF, #70FFBA)
            position: relative
        >img
          width: 36.27px
        &.disabled
          >img
            opacity: 0.4
        &.active
          background: #FFFFFF
          border: 2PX solid transparent
          background-clip: padding-box, border-box
          background-origin: padding-box, border-box
          background-image: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #78DEFF, #70FFBA)
          position: relative
          &:after
            position: absolute
            content: ''
            right: 3px
            bottom: 3px
            width: 10px
            height: 10px
            background: url('@/assets/img/iconSuc.svg')
            background-size: 100% 100%
    .dividerWrapper
      @extend .frbc
      margin: 18px 0 17px
      width: 100%
      i
        flex: 1
        height: 1PX
        background-color: #D9D9D9
      .divider
        @extend .mSBlackRegularFont
        line-height: 35px
        width: 43.4px
        text-align: center
    .formItem
      @extend .fcss
      gap: 8px
      width:100%
      h6
        font-size: 14px
        line-height: 17px
        font-family: 'Inter-Regular'
        color: $colSBlack
      .pInputWrapper
        height: 52px
        .pInput
          font-size: 18px
          line-height: 22px
          font-family: 'Inter-Bold'
          padding-left: 25px
  button.nextBtn
    height: $dialogLBtnHeight
    position: relative
    .tipWrapper
      position: absolute
      content: ''
      top: -40px
      left: 50%
      transform: translateX(-50%)
      width: 100%
      text-align: center
      .errorTip
        width: fit-content
        margin: 0 auto
        padding: 0 12px
        @include backdropMixin(16px,rgba(0, 0, 0, 0.05))
        font-size: 12px
        line-height: 25px
        font-family: 'Inter-Regualr'
        color: rgba(0,0,0,0.4)
    // &.authDialogNextBtn
    //   cursor: not-allowed
@media (max-width: 1680px)
  .authDialog
    padding: 55px 60px 60px
    main
      .pHeader
        >img
          width: 134.22px
      >h1
        padding-top: 56px
        padding-bottom: 42px

      ul.licensorList
        gap: $mGap
        gap: 32px
        li.licensorItem
          width: 66px
          height: 66px
      