
@import '@/assets/css/pDialog.sass'
@import '@/assets/css/pFont.sass'
@import '@/assets/css/pFlex.sass'
.authDialog
  padding: 50px 90px 70px
  @extend .fcbc
  .appHeader
    height: 41px
  main
    width: 100%
    @extend .fcsc
    >h1
      @extend .xlLBlackBoldFont
      padding-top: 84px
      padding-bottom: 80px
      text-transform: capitalize
    ul.licensorList
      @extend .frcc
      gap: 48px
      li.licensorItem
        cursor: pointer
        border: 2PX solid rgba(0, 0, 0, 0.1)
        backdrop-filter: blur(18.1333px)
        border-radius: 13.6px
        @extend .frcc
        width: 68px
        height: 68px
        &.disabled
          cursor: not-allowed
        &:not(.disabled)
          &:hover
            background-color: #FFFFFF
            
        >img
          width: 36.27px
        &.disabled
          >img
            opacity: 0.4
        &.active
          background-color: #FFFFFF
          border: 2PX solid transparent
          background-clip: padding-box, border-box
          background-origin: padding-box, border-box
          background-image: linear-gradient(to right, #fff, #fff), linear-gradient(to right, #78DEFF, #70FFBA)
          
    .dividerWrapper
      @extend .frbc
      margin: 57px 0 58px
      width: 100%
      i
        flex: 1
        height: 1PX
        background-color: #D9D9D9
      .divider
        @extend .mSBlackRegularFont
        line-height: 35px
        width: 48px
        text-align: center
    .formItem
      @extend .fcss
      gap: 8px
      width:100%
      h6
        font-family: 'Inter-Regular'
        color: $colSBlack
        font-size: 18px
        line-height: 22px
      .pInputWrapper
        height: 60px
        .pInput
          font-size: 18px
          line-height: 22px
          font-family: 'Inter-Bold'
          padding-left: 28px
  button.nextBtn
    height: $dialogLBtnHeight
    position: relative
@media (max-width: 1680px)
  .authDialog
    padding: 55px 60px 60px
    main
      .pHeader
        >img
          width: 134.22px
      >h1
        padding-top: 56px
        padding-bottom: 42px

      ul.licensorList
        gap: 32px
        li.licensorItem
          width: 66px
          height: 66px
      .dividerWrapper
        margin: 18px 0 17px
        .divider
          width: 43.4px
      .formItem
        h6
          font-size: 14px
          line-height: 17px
        .pInputWrapper
          height: 52px
          .pInput
            padding-left: 25px
      