@import '@/assets/css/pFlex.sass';
@import '@/assets/css/padoM.scss';
.credItem {
  --cardMain-pb: 0.2041rem;
  --conrItem-width: 0.8844rem;
  --conrItem-img-width: 0.102rem;
  --iconPolygonIDWrapper-width: 0.0997rem;
  --padodropdown-top: 0.7891rem;
  --padodropdown-width: 0.7483rem;
}
@media (max-width: 1470px) {
  .credItem {
    --cardMain-pb: 30px;
    --conrItem-width: 130px;
    --conrItem-img-width: 15px;
    --iconPolygonIDWrapper-width: 14.66px;
    --padodropdown-top: 116px;
    --padodropdown-width: 110px;
  }
}
.credItem {
  position: relative;
  border-radius: var(--spacing-12, 12px);
  background: var(--bg-60, rgba(255, 255, 255, 0.6));
  &.expand {
    box-shadow: 0px 5px 25px #0000000d;
    border-radius: var(--spacing-12, 12px);
  }
  .main {
    width: var(--credCard-width, 328px);
    height: var(--credCard-height, 138px);
    cursor: pointer;
    position: relative;
    border-radius: $sBorderRadius;
    // background: var(--bg-60, rgba(255, 255, 255, 0.6));
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: url('@/assets/img/credItemBg.svg') no-repeat;
      background-size: 100% 100%;
    }
    .mainContent {
      @extend .frbs;

      position: relative;
      width: 100%;
      height: 100%;
      padding: var(--spacing-24, 24px) var(--spacing-24, 24px)
        var(--cardMain-pb, 30px);
      border-radius: var(--spacing-12, 12px);
      // background: var(--bg-60, rgba(255, 255, 255, 0.6));
      backdrop-filter: blur(16px);
      // box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.3),
      //   inset -2px -2px 4px rgba(233, 233, 233, 0.1);
      box-shadow: -2px -2px 4px 0px rgba(233, 233, 233, 0.1) inset,
        2px 2px 4px 0px rgba(255, 255, 255, 0.3) inset,
        0px 1px 2px 0px rgba(10, 18, 20, 0.1);
      &:hover {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1),
          inset 2px 2px 4px rgba(255, 255, 255, 0.3),
          inset -2px -2px 4px rgba(233, 233, 233, 0.1);
      }
      .con {
        height: 100%;
        @extend .fcbs;
        .conl {
          @extend .frsc;
          @extend .Body1;
          gap: var(--spacing-8, 8px);
          color: var(--Text-headline, #0a1214);
          width: var(--conrItem-width, 130px);
          >span{
            white-space: nowrap;
          }
          > img {
            width: var(--spacing-18, 18px);
          }
        }
        .conr {
          @extend .fcss;
          gap: var(--spacing-12, 12px);
          .conrItem {
            width: var(--conrItem-width, 130px);
            @extend .frsc;
            gap: var(--spacing-8, 8px);
            .value {
              color: var(--Text-body, #515758);
              @extend .Body3;
            }
            > img {
              width: var(--conrItem-img-width, 15px);
            }
          }
        }
      }
      footer {
        @extend .fcbc;
        align-items: flex-end;
        height: 100%;
        .providedChains,
        .operations {
          @extend .frsc;
          gap: var(--spacing-8, 8px);
        }
        .providedChains {
          > a {
            display: flex;
            img {
              width: var(--spacing-22, 22px);
              cursor: pointer;
              border-radius: 50%;
            }
          }
        }
        .operations {
          img {
            width: var(--spacing-22, 22px);
            opacity: 0.4;
            &:hover {
              opacity: 0.8;
            }
          }
          .iconOtherWrapper {
            padding-bottom: var(--spacing-12, 12px);
            margin-bottom: calc(-1 * var(--spacing-12, 12px));
            @extend .frcc;
          }
          .iconWrapper {
            @extend .frcc;
            position: relative;
            &.disabled {
              cursor: not-allowed;
              > img {
                cursor: not-allowed;
                &:hover {
                  opacity: 0.4;
                }
              }
            }
            &.iconPolygonIDWrapper {
              width: var(--spacing-22, 22px);
              opacity: 0.8;
              > img {
                width: var(--iconPolygonIDWrapper-width, 14.66px);
                opacity: 1;
              }
              &:hover {
                opacity: 0.8;
                > img {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
  .extra {
    padding: var(--spacing-12, 12px) var(--spacing-24, 24px)
      var(--spacing-16, 16px);
    @extend .fcss;
    gap: var(--spacing-8, 8px);
    border-radius: 0px 0px var(--spacing-12, 12px) var(--spacing-12, 12px);
    .descItem {
      width: 100%;
      @extend .frbc;
      gap: var(--spacing-8, 8px);
      .label {
        @extend .Text2;
        color: var(--Text-body, #515758);
      }
      .value {
        @extend .Body3;
        @extend .frsc;
        gap: var(--spacing-8, 8px);
        color: var(--Text-headline, #0a1214);
        > img {
          width: var(--spacing-16, 16px);
        }
      }
    }
  }
  .padodropdown {
    position: absolute;
    z-index: 9999;
    right: var(--spacing-24, 24px);
    top: var(--padodropdown-top, 116px);
    gap: 0;
    width: var(--padodropdown-width, 110px);
    .dropdownItemWrapper {
      height: var(--cardMain-pb, 30px);
      .dropdownItem {
        gap: var(--spacing-12, 12px);
        .desc {
          @extend .Text1;
          color: var(--Text-body, #515758);
        }
      }
    }
  }
}
